
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
<app-admin-navbar></app-admin-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>

    <!-- partial -->
    <div class="main-panel">
        <div class="container-fliud">
          <div class="row">
                      <div class="col-md-8"><div class="mr-md-3 mr-xl-5">
                    <h2>User List</h2>
                  </div> </div>
                      <div class="col-md-4"> 
                          <label for=""> Filter By:</label>
                           <select (change)="getdata($event.target.value,page)"   class="form-control" id=""> 
                         <option value='pending'> Pending</option>
                          <option value='accept'> accepted </option>
                          <option value='reject'> rejected </option>
                       </select>
                      </div>
                  </div>


            <div class="col-12 grid-margin stretch-card px-0 mt-3">
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div
                      id="order-listing_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >

               




                      
                      <div class="row">
                        <div class="col-sm-12">
                          <table
                            id="order-listing"
                            class="table dataTable no-footer"
                            role="grid"
                            aria-describedby="order-listing_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                  class="sorting_asc"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Order #: activate to sort column descending"
                                  aria-sort="ascending"
                                  style="width: 59.3906px"
                                >
                                  Image
                                </th>
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Mobile
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Email
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  User Name
                                </th>
                               
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Status: activate to sort column ascending"
                                  style="width: 55.8125px"
                                >
                                  Status
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Actions: activate to sort column ascending"
                                  style="width: 60.7344px"
                                >
                                  Actions
                                </th>
                              </tr>
                            </thead>
                             <tbody *ngFor="let rel of data;let i=index">
                              <tr role="row" class="odd">
                                <td class="sorting_1">
                                  <img src="assets/images/faces/face1.jpg" alt="">
                                </td>
                                <td>{{rel.mobile}}</td>
                                <td>{{rel.email}}</td>
                                <td>{{rel.name}}</td>
                                <td>
                                  <label class="badge badge-info">{{rel.status}}</label>
                                </td>
                                <td>
                                  <button (click)="userprofile(rel)" class="btn btn-outline-danger mr-3"  data-toggle="modal" data-target="#myModal">
                                    Profile
                                  </button>
                                  <!-- <button (click)="edit(rel)" 
                                  class="
                                    btn btn-outline-primary btn-sm btn-rounded mr-2
                                  "
                                  data-toggle="modal"
                                  data-target="#ViewAddress"
                                >
                                  View
                                </button> -->
                                  <button (click)="deleteuser(rel._id)" class="btn btn-success btn-sm btn-rounded"
                                >
                                  Delete
                                </button>
                                  

                                </td>
                              </tr>
                             
                            </tbody> 
                          </table>
                          
            


                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
</div>
<!-- page-body-wrapper ends -->
</div>
<div class="modal fade" id="myModal">
<div class="modal-dialog modal-xl">
  <div class="modal-content" *ngIf="user">

    <!-- Modal Header -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <div class="content-wrapper ">
        <div class="row text-center">
          <div class="col-md-12 grid-margin">
             <!-- <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">  -->
                  <h4>User Profile</h4>
<!--                   
                 </div>
              </div>
            </div>  -->
          </div>
          <!-- <div class="col-md-1 grid-margin">
            <Button *ngIf="user.status != 'accept'"  (click)="updateuser(user._id,'accept')"  class="btn btn-success">Aproved</Button>
          </div>
          <div class="col-md-1 grid-margin">
            <Button *ngIf="user.status != 'reject'"  (click)="updateuser(user._id,'reject')" class="btn btn-danger">Reject</Button>
          </div> -->
        </div>
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              
              <div class="row text-center">
                
                <div class="col-lg-12 mb-2 ">
                  <div class="card custom-card">
                    <!-- <div class="card-header">
                      <img
                        class="img-fluid"
                        src="assets/images/auth/lockscreen-bg.jpg"
                        alt=""
                        data-original-title=""
                        title=""
                      />
                    </div> -->
                    <!-- <div class="card-profile">
                      <img *ngIf="!user.image"
                        class="rounded-circle"
                        src="assets/images/faces/dummy-prod-1.jpg"
                        alt=""
                        data-original-title=""
                        title=""
                      />
                      <img
                      class="rounded-circle" *ngIf="user.image"
                      [src]="user.image[0].img_name"
                      alt=""
                      data-original-title=""
                      title=""
                    />
                    </div> -->
                    
                    <div class="text-center profile-details">
                      <h4>Name:{{ user.name }}</h4>
                      <h6>Mobile:{{ user.mobile }}</h6>
                      <h6>Email:{{ user.email }}</h6>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row text-center">
                  <div class="col-md-12">
                <h4>User Delivery Address</h4>
                </div>

                </div>
                <div  class="card mb-3 mr-2 ml-2" *ngFor="let rel of addressData">
                  
                    

                    <div class="row" >
                       <div class="col-lg-12 ">
                        <div class="address">
                          <table class="table table-borderless">
                            <tr>
                              Name: {{rel.fullName}}<br>
                              Mobile: {{rel.mobile}}<br>
                              Address:{{rel.addressLine1}}<br>
                              Address:{{rel.addressLine2}}<br>
                              Landmark:{{rel.landmark}}<br>
                              City:{{rel.city}}<br>
                              State:{{rel.state}}<br>
                              Pincode:{{rel.pinCode}}<br>
                                 
                            </tr>
                          </table>
                        </div>
                      </div> 
                      
                      <!-- <div class="col-11 pl-0">
                        <div class="address-save" >
                          <h6>Name: {{rel.fullName}} </h6>
                          <p class="m-0 py-2">Address: {{rel.addressLine1}} , {{rel.addressLine2}} , {{rel.landmark}}
                            <span> {{rel.city}}, {{rel.state}} </span> 
                            <span> {{rel.pinCode}} </span> 
                          </p>
                          <p class=" py-2">Mobile: <span> {{rel.mobile}} </span></p>
                          
                        </div>
                      </div> -->
                      
                    </div>
                   
                  
                    
                  </div>
                 
                
                
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>
</div>
