<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>

<section class="pt-1 mt-1 pt-lg-5 mt-lg-5" *ngIf="status == 'true'">
  <div class="container-scroller mt-4">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Thanks for order </p>
      <p>you should receive a confirmation email soon  </p>
      <button (click)="home()" class="go-home mr-2">
        Continue Shopping
      </button>
       <button  (click)="tracking()" class="go-home">
     View Order
      </button>
    </div>

</div>
</div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="pt-1 mt-1 pt-lg-5 mt-lg-5" *ngIf="status == 'false'">
  <div class="container-scroller mt-4">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1 class="text-danger">Sorry !</h1>
      <p>Your Transaction Failed Please Try Agains</p>
      
      <button (click)="home()" class="go-home mr-2">
        Continue Shopping
      </button>
       <button  (click)="tracking()" class="go-home">
     View Order
      </button>
    </div>

</div>
</div>
              </div>
          </div>
      </div>
  </div>
</section>
