<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
<img src="assets/images/logo.png" alt="">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
    <app-saler-navbar></app-saler-navbar>

     <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-saler-sidenavbar></app-saler-sidenavbar>

<div class="main-panel">
  <div class="container-fliud">
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card">
          
            <p class="card-title">Recent Purchases</p>
            <div class="table-responsive">
              <table id="recent-purchases-listing" class="table">
                <thead>
                  <tr >
                    <th>Name</th>
                    <th>Address</th>
                    <!-- <th>Category</th> -->
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>amount</th>
                    <th>Action</th>
                    
                    
                  </tr>
                  

                </thead>
                
                <tbody>
                  

                  
                  <tr  *ngFor="let rel of data">
                    <td>{{rel.product_id.productName}}</td>

                    <td>

                      <button (click)="address(rel.address_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                      data-target="#ViewProdict"
                    >view</button>
                    </td>
                    <!-- <td>{{rel.product_id.category_id.categoryName}}</td> -->
                    <td>{{rel.product_id.price}}</td>
                    <td>{{rel.quantity}}</td>
                    <td>{{rel.createdAt | date}}</td>
                    <td>{{rel.totalAmount}}</td>
                    
                    <td>
                     
                        <button (click)="updateOrder(rel._id,'accept')"  class="btn btn-success mx-2 btn-sm btn-rounded mb-2"> Accept </button>
                        <button (click)="updateOrder(rel._id,'reject')" class="btn btn-danger btn-sm btn-rounded mr-2"> Reject </button>
                        <button (click)="generatePDF('open',rel)">Invoice</button> 
                    </td>
                    
                   
                   
                  </tr>

                  








                   <!-- <tr>
                    <td>Jeremy Ortega</td>
                    <td>Nagpur up</td>
                    <td>Craft</td>
                    <td>Rs.790</td>product_id
                    <td>06 Jan 2018</td>
                    <td>Rs.600</td>
                  </tr>
                  <tr>
                    <td>Jeremy Ortega</td>
                    <td>Nagpur up</td>
                    <td>Craft</td>
                    <td>Rs.790</td>
                    <td>06 Jan 2018</td>
                    <td>Rs.600</td>
                  </tr>  -->
                  
                </tbody>
              </table>


            
              
              <div>
                
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
</div>

<div class="modal fade" id="ViewProdict">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div>

         


          <div class="address">
            <table class="table table-borderless">
              
              <!--<tr>
                  
                  <td>Address: {{rel.address_id.addressLine1}}</td>
                  <td>{{rel.address_id.addressLine2}}</td>
                  <td>city: {{rel.address_id.city}}</td>
                  <td>fullname: {{rel.address_id.fullName}}</td>
                  <td>landmark: {{rel.address_id.landmark}}</td>
                  <td>mobile: {{rel.address_id.mobile}}</td>
                  <td>pincode: {{rel.address_id.pinCode}}</td>
                  <td>state: {{rel.address_id.state}}</td>
                </tr>-->

                  <!-- <tr><td>Address:   </td><td>{{currentAddr.addressLine1}}</td></tr>
                  <tr><td>Address:    </td><td>{{currentAddr.addressLine2}}</td></tr>
                  <tr><td>city:       </td><td>{{currentAddr.city}}</td></tr>
                  <tr><td>fullname:   </td><td>{{currentAddr.fullName}}</td></tr>
                  <tr><td>landmark:   </td><td>{{currentAddr.landmark}}</td></tr>
                  <tr><td>mobile:    </td><td>{{currentAddr.mobile}}</td></tr>
                  <tr><td>pincode:    </td><td>{{currentAddr.pinCode}}</td></tr>
                  <tr><td>state:      </td><td>{{currentAddr.state}}</td></tr>
                 -->
                  Name: {{currentAddr.fullName}}<br>
                  Mobile: {{currentAddr.mobile}}<br>
                  Address:  {{currentAddr.addressLine1}}, {{currentAddr.addressLine2}} ,{{currentAddr.city}} ,{{currentAddr.landmark}},
                  {{currentAddr.pinCode}} ,{{currentAddr.state}}
              
            </table>
          </div>
        </div>


        
          <!-- <div class="card-header">
            <div class="row">
              <div class="col"><h5>Edit Profile</h5></div>
            </div>
            <hr />
            <div class="address">
              <div class="form-group row">
                
                <div class="col-lg-6 col-12">
                  <label>Full Name</label>
                  <input
                    type="text" name="name" [(ngModel)]="address_id.name"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="full Name"
                  />
                </div>
                <div class="col-lg-6 col-12">
                  <label>mobile number</label>
                  <input
                    type="number" name="mobile" [(ngModel)]="user.mobile"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="xxxxxx"
                  />
                </div>
                 <div class="col-lg-6 col-12">
                  <label>Email ID</label>
                  <input
                    type="text" name="email" [(ngModel)]="user.email"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="Email ID"
                  />
                </div>

               

                <div class="col-lg-6 col-12">
                  <label>Adress line 1</label>
                  <input
                    type="text" [(ngModel)]="sellerAddress.address_line1" name="address_line1"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="Adress line 1"
                  />
                </div>
                <div class="col-lg-6 col-12">
                  <label>Adress line 2</label>
                  <input
                    type="text" [(ngModel)]="sellerAddress.address_line2" name="address_line2"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="Adress line 2"
                  />
                </div>
                <div class="col-lg-6 col-12">
                  <label>city</label>
                  <input
                    type="text" [(ngModel)]="sellerAddress.city" name="city"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="city"
                  />
                </div>
<!-- 
                <div class="col-lg-6 col-12">
                  <label>Landmark </label>
                  <input
                    type="text"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="Landmark "
                  />
                </div> -->

                <!-- <div class="col-lg-6 col-12">
                  <label>state</label>
                  <input
                    type="text" [(ngModel)]="sellerAddress.state" name="state"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="state"
                  />
                </div>

                <div class="col-lg-6 col-12">
                  <label>Pin code</label>
                  <input
                    type="number" [(ngModel)]="sellerAddress.pinCode" name="pinCode"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="xxxxxx"
                  />
                </div>-->

                
                </div> 
              </div>
            </div> 
          </div>  








          
           