<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<section class="login-wrapper">
 <div class="container">
  <div class="row  justify-content-center">
    <div class = "col-md-4 ">
      <div class="login-form login-page">
        <h5>Generate Otp</h5>
           <form>
              

            <div class="form-group">
         <input type="text" name="mobile" [(ngModel)]="mobileno" class="form-control"  id="phone" placeholder="+91 | Mobile Number" >
        
             </div>

               <div class="four"> 
               <button (click)="generateOtp()"  type="button" class="btn btn-block">CHANGE</button>

            </div>

            </form>
            </div>
            </div>
            </div>
          </div>
      </section>

        <app-footer></app-footer>   
       