.login-wrapper{
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
      display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  }
  .login-page {
  /* box-shadow: 0 0 10px #222; */
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  border: 1px solid;
  background: #fff
  }
  
  .login-page h5 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  }
  .btn {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn {
    background-color: crimson;
  }
  .form-group{
padding: 10px;
margin: 10px;

  }