<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header>
<section class="login-wrapper">
 <div class="container">
  <div class="row  justify-content-center">
    <div class = "col-md-4 ">
      <div class="login-form login-page">
        <h5>Change Password</h5>
           <form >
              <div class="form-group">
                <input type="text" name="password" [(ngModel)]="password" class="form-control" id="new pass" placeholder="New Password">
              </div>
              <div class="form-group">
                <input type="text" name="password" [(ngModel)]=" cpassword " class="form-control" id="conform new pass" placeholder="Conform New Password">
              </div>
             


              
                <button (click)="submit()" type="button" class="btn btn-block">CHANGE</button>
 
             
 
             </form>
        </div>
      





    </div> 

    </div>
    
    </div> 
</section>
    <app-footer></app-footer>   