// body {
//   display: flex;
//   justify-content: center;
//  font-family: serif;
//  padding-top: 20px;
//  margin-bottom: 20px;
// }

// .main{
 
//   border-style: solid;
// border-color: rgb(235, 227, 227);
// box-shadow: 0 0 10px #222;
//   padding: 20px;
//   margin: 8% auto 0;
//   text-align: center;
//   margin: 20px;
//   padding-top: 20px;

// }
// .one,
// .pass,
// .three

// {
// padding: 10px;
// margin: 10px;
// }
// .four{

//   font-weight: 800;
//   padding: 10px;
//   margin: 10px;
//   color: white;
//   border-radius: 20px;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }
// .btn{
//   background-color: crimson;
// }
// .five{

//   font-weight: 800;
//   padding: 10px;
//   margin: 10px;
//   color: white;
//   border-radius: 20px;
//   border: none;
//   outline: none;
//   cursor: pointer;
  
// }






.login-wrapper{
  background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
    display: flex;
align-items: flex-end;
flex-direction: column;
justify-content: center;
height: 100vh;
}
.login-page {
/* box-shadow: 0 0 10px #222; */
padding: 20px;
margin: 8% auto 0;
text-align: center;
border: 1px solid;
background: #fff
}

.login-page h5 {
text-align: center;
padding: 10px;
margin: 10px;
font-weight: bold;
}
.btn {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn {
  background-color: crimson;
}
.form-group{
padding: 10px;
margin: 10px;

}