<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header>

 <!-- <div class="container">
  <div class="row  justify-content-center">
    <div class = "col-sm-4 justify-content-center">
       
        <div class="main">
            <h6>Change Password</h6>
            <div class="one">
                <input type="text" name="password" [(ngModel)]="cPwd.oldPassword" class="form-control" id="pass" placeholder="Old Password">
              </div>
              <div class="pass">
                <input type="text" name="password" [(ngModel)]="cPwd.newPassword" class="form-control" id="new pass" placeholder="New Password">
              </div>
              <div class="three">
                <input type="text" name="password" [(ngModel)]="cPwd.conformpassword" class="form-control" id="conform new pass" placeholder="Conform New Password">
              </div>
              <div class="four"> 
                <button (click)="changePwd()" type="button" class="btn btn-block">CHANGE</button>
              </div>
              <div class="five"> 
                <button (click)="cancel()" type="button" class="btn btn-block">CANCEL</button>
              </div>
        </div>
        





    </div> 

    </div>
    
    </div>  -->

    <section class="login-wrapper">
      <div class="container">
       <div class="row  justify-content-center">
         <div class = "col-md-4 ">
           <div class="login-form login-page">
             <h5>Change Password</h5>
                <form>
                   
     
                 <div class="form-group">
                  <input type="text" name="password" [(ngModel)]="cPwd.oldPassword" class="form-control" id="pass" placeholder="Old Password">
                  </div>

                  <div class="form-group">
                    <input type="text" name="password" [(ngModel)]="cPwd.newPassword" class="form-control" id="new pass" placeholder="New Password">
                  </div>
                  
                  <div class="form-group">
                  <input type="text" name="password" [(ngModel)]="cPwd.conformpassword" class="form-control" id="conform new pass" placeholder="Conform New Password">
                </div>
                <button (click)="changePwd()" type="button" class="btn btn-block">CHANGE</button>
                <button (click)="cancel()" type="button" class="btn btn-block">CANCEL</button>

                 </form>
                 </div>
                 </div>
                 </div>
               </div>
           </section>
     



















    <app-footer></app-footer>   