<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
 <nav class="sidebar sidebar-offcanvas" id="sidebar" [ngClass]="{ active: globals.sidenav }">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Admin" (click)="sidenavClick()">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#sale" (click)="onControlCollapse1()" aria-expanded="true" aria-controls="sale">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Sale</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse"  [class.show]="$collaps_One" id="sale">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/Admin-Sale">Sales</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/Admin-Cancel-Order">Cancel Order </a></li>
                 <li class="nav-item"> <a class="nav-link" routerLink="/AdminReturn-Order">Recent Order </a></li>
                 <li class="nav-item"> <a class="nav-link" routerLink="/allorder">All Orders</a></li>
              </ul>
            </div>
          </li>
        
          
           <li class="nav-item">
            <a class="nav-link" routerLink="/Admin-Category" (click)="sidenavClick()">
              <i class="mdi mdi-layers menu-icon"></i>
              <span class="menu-title"> Category </span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/Admin-Subcategory">
              <i class="mdi mdi-layers menu-icon"></i>
              <span class="menu-title"> Sub Category </span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/Admin-Products">
              <i class="mdi mdi-layers menu-icon"></i>
              <span class="menu-title"> Add Product </span>
            </a>
          </li> -->
           <li class="nav-item">
            <a class="nav-link" routerLink="/Admin-Product-List" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> All Product List </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/interior-product" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Interior Product Add </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-interior-category" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Interior Category </span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/admin-interior-subcategory" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Interior Subcategory </span>
            </a>
          </li> -->
           <li class="nav-item">
            <a class="nav-link" routerLink="/Vendor-List" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Vendor List </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/User-List" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> User List </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userorder-list" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> User Interior Product Order  List </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/AdminBanner" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Banner </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transaction" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Transaction </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span (click)="logout()" class="menu-title"> LOGOUT </span>
            </a>
          </li>
          
          
        </ul>
 </nav>