<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
<app-admin-navbar></app-admin-navbar>

<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <app-admin-side-navbar></app-admin-side-navbar>
  <!-- partial -->
  <div class="main-panel">
    <div class="container-fliud">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h2>Transaction List</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

     
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          
            <h4 class="card-title">List</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <div
                    id="order-listing_wrapper"
                    class="dataTables_wrapper dt-bootstrap4 no-footer"
                  >
                    
                    <div class="row">
                      <div class="col-sm-12">
                        <table
                          id="order-listing"
                          class="table dataTable no-footer"
                          role="grid"
                          aria-describedby="order-listing_info"
                        >
                          <thead>
                            <tr role="row">
                              <th
                                class="sorting_asc"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Order #: activate to sort column descending"
                                aria-sort="ascending"
                                style="width: 59.3906px"
                              >
                                Sr.No
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Customer: activate to sort column ascending"
                                style="width: 76.7656px"
                              >
                                Transaction
                              </th>
                                <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Customer: activate to sort column ascending"
                                style="width: 76.7656px"
                              >
                                Status
                              </th> 
                               <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Customer: activate to sort column ascending"
                                style="width: 76.7656px"
                              >
                                Payment Mode
                              </th> 
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Purchased On: activate to sort column ascending"
                                style="width: 108.953px"
                              >
                                Date
                              </th>
                              
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Base Price: activate to sort column ascending"
                                style="width: 83.7188px"
                              >
                                User detail
                              </th>
                              <!-- <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Purchased Price: activate to sort column ascending"
                                style="width: 126.906px"
                              >
                                failed transaction
                              </th> -->
                              <!-- <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Purchased Price: activate to sort column ascending"
                                style="width: 126.906px"
                              >
                                Cancel Remarks
                              </th> -->
                             
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Actions: activate to sort column ascending"
                                style="width: 60.7344px"
                              >
                                Actions
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd"     *ngFor="let rel of data;let i=index">
                              <td class="sorting_1">{{i+1}}</td>


                              <td>{{rel.paymentStatus}}</td>
                         <td>{{rel.paymentMode}}</td>
                         <td>{{rel.orderStatus}}</td>
                         
                         <td>{{rel.createdAt | date}}</td>
                         <td> <button (click)="address(rel.user_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                          data-target="#ViewProdict"
                        >Detail</button></td>
                         <td></td>


                            </tr>
                          </tbody>
                         
                        

                          <div class="modal fade" id="ViewProdict">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Address</h4>
                                  <button type="button" class="close" data-dismiss="modal">
                                    &times;
                                  </button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  
                          
                                   
                          
                          
                                    <div class="address">
                                      <table class="table table-borderless">
                                        
                                       
                                            Name: {{currentAddr.name}}<br>
                                            Mobile: {{currentAddr.mobile}}<br>
                                            Email: {{currentAddr.email}}<br>

                                            Address:  {{currentAddr.addressLine1}}, {{currentAddr.addressLine2}} ,{{currentAddr.city}} ,{{currentAddr.companyName}},
                                           {{currentAddr.pinCode}} ,{{currentAddr.state}}
                                        
                                      </table>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>