<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>

<section class="login-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 ">
        <div class="login-form login-page">
          <h5>Seller Sign up</h5>

          <form class="mx-3 Register-input">
            <div class="">
              <input type="text"class="form-control" id="phone"
                placeholder="+91 | Mobile Number">
            </div>
            <div class="">
              <input type="password" class="form-control"
                placeholder="Create Password">
            </div>
            <div class=""><input type="text" class="form-control" id="fullName"
                placeholder="Full Name"></div>
            <div class=""><input type="text" class="form-control" id="email"
                placeholder="Email"></div>

            <div class="">
              <button type="submit" class="btn btn-primary">CREATE ACCOUNT </button>
            </div>
            <hr>
            <h6 routerLink="/signin">Have an Account? Log In Here</h6>
            <hr>
           
          </form>
        </div>
      </div>

    </div>
  </div>
</section> -->


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<section class="login-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 ">
        <div class="login-form login-page">
          <h5>Complete your Sign up</h5>

          <form class="mx-3 Register-input" name="form" (ngSubmit)="f.form.valid && runMyAPI()" #f="ngForm"  novalidate>
              
            <div class="">
               <input type="text" #mobileNo="ngModel" name="phone" [(ngModel)]="user.mobile" class="form-control"  id="phone" placeholder="+91 | Mobile Number"   required  name="mobileNo" [ngClass]="{ 'is-invalid': f.submitted && mobileNo.invalid }">
               <span class="text-danger" *ngIf="mobileNo.invalid && f.submitted " >please enter mobile No. </span>
           </div>
           <div class="">
               <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"   class="form-control"  id="pwd" placeholder="Create Password"   required  name="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }">
               <span class="text-danger" *ngIf="password.invalid && f.submitted " >please enter password </span>
           </div>
            <div class="">
              <input type="text"  #name="ngModel" name="name" [(ngModel)]="user.name"  class="form-control" id="Name" placeholder="Full Name"   required  name="name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
              <span class="text-danger" *ngIf="name.invalid && f.submitted " >please enter your full name </span>
             </div>
           <!-- <div class="four"><input type="text" name="email" [(ngModel)]="user.email"  class="form-control" id="email" placeholder="Email"></div> -->
           <!-- <div class="five"><input type="text" name="addr" [(ngModel)]="user.useraddress"  class="form-control" id="addr" placeholder="Address"></div> -->
           <div class="">
              <input type="text" #companyName="ngModel"   name="company" [(ngModel)]="user.companyName"  class="form-control" id="companyname" placeholder="companyname"   required  name="companyName" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }">
              <span class="text-danger" *ngIf="companyName.invalid && f.submitted " >please enter company name </span>
             </div>
             <div class="">
              <button type="submit" class="btn btn-primary">CREATE ACCOUNT </button>
            </div>
            <hr>
            <h6 routerLink="/signin">Have an Account? Log In Here</h6>
           
       </form>


              </div>
            </div>

          </div>
        </div>
      </section>
