<!-- <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row d-lg-none">
  <div class="navbar-brand-wrapper d-flex justify-content-center">
<div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100 ">  
<a class="navbar-brand brand-logo" href="#"><img src="assets/images/logo.png" alt="logo"/></a>
<a class="navbar-brand brand-logo-mini" href="#"><img src="assets/images/logo.png" alt="logo"/></a>
<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
  <span class="mdi mdi-sort-variant"></span>
</button>
</div>  
</div>
<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
<ul class="navbar-nav mr-lg-4 w-100">
<li class="nav-item nav-search d-none d-lg-block w-100">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search">
        <i class="mdi mdi-magnify"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
  </div>
</li>
</ul>
<ul class="navbar-nav navbar-nav-right">
<li class="nav-item dropdown mr-1">
  <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-message-text mx-0"></i>
    <span class="count"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
    <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
    <a class="dropdown-item">
      <div class="item-thumbnail">
          <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
      </div>
      <div class="item-content flex-grow">
        <h6 class="ellipsis font-weight-normal">David Grey
        </h6>
        <p class="font-weight-light small-text text-muted mb-0">
          The meeting is cancelled
        </p>
      </div>
    </a>
    <a class="dropdown-item">
      <div class="item-thumbnail">
          <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
      </div>
      <div class="item-content flex-grow">
        <h6 class="ellipsis font-weight-normal">Tim Cook
        </h6>
        <p class="font-weight-light small-text text-muted mb-0">
          New product launch
        </p>
      </div>
    </a>
    <a class="dropdown-item">
      <div class="item-thumbnail">
          <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
      </div>
      <div class="item-content flex-grow">
        <h6 class="ellipsis font-weight-normal"> Saller Login
        </h6>
        <p class="font-weight-light small-text text-muted mb-0">
          Upcoming board meeting
        </p>
      </div>
    </a>
  </div>
</li>
<li class="nav-item dropdown mr-4">
  <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-bell mx-0"></i>
    <span class="count"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
    <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
    <a class="dropdown-item">
      <div class="item-thumbnail">
        <div class="item-icon bg-success">
          <i class="mdi mdi-information mx-0"></i>
        </div>
      </div>
      <div class="item-content">
        <h6 class="font-weight-normal">Application Error</h6>
        <p class="font-weight-light small-text mb-0 text-muted">
          Just now
        </p>
      </div>
    </a>
    <a class="dropdown-item">
      <div class="item-thumbnail">
        <div class="item-icon bg-warning">
          <i class="mdi mdi-settings mx-0"></i>
        </div>
      </div>
      <div class="item-content">
        <h6 class="font-weight-normal">Settings</h6>
        <p class="font-weight-light small-text mb-0 text-muted">
          Private message
        </p>
      </div>
    </a>
    <a class="dropdown-item">
      <div class="item-thumbnail">
        <div class="item-icon bg-info">
          <i class="mdi mdi-account-box mx-0"></i>
        </div>
      </div>
      <div class="item-content">
        <h6 class="font-weight-normal">New user registration</h6>
        <p class="font-weight-light small-text mb-0 text-muted">
          2 days ago
        </p>
      </div>
    </a>
  </div>
</li>

</ul>
<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
<span class="mdi mdi-menu"></span>
</button>
</div>
</nav>
<nav class="sidebar sidebar-offcanvas d-lg-none" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/SalerProfile">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/SalerHome">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sale" aria-expanded="false" aria-controls="sale">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">Sale</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sale">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/Sale">Sales</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/SaleOrderCancel">Sale Return</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="purchase">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">Purchase</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="purchase">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/SalePurchase">Purchase</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/SaleReturn">Cancel Order</a></li>
        </ul>
      </div>
    </li>  
     <li class="nav-item">
      <a class="nav-link" routerLink="/SalerProduct">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title"> Products </span>
      </a>
    </li>
     
     <li class="nav-item">
      <a class="nav-link" routerLink="/seller-product-list">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title"> Product List </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Recent-order">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title"> Recent order </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="purchase">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">Reports </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="purchase">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href=""> Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href=""> Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href=""> Reports </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span (click)="logout()" class="menu-title"> Logout </span>
      </a>
    </li>
  </ul>
</nav> -->
<header class="bg-light px-lg-3">
  <nav class="
     navbar navbar-expand-lg navbar-light bg-light fixed-top px-lg-5 shadow navbar-blog py-0 py-lg-0
    ">
    <button style="font-size: 14px;" class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo03" (click)="shownowon()" aria-controls="navbarTogglerDemo03" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand m-0 pl-3 py-1">
      <img src="assets/images/craftysmilelogos.png" alt="" class="logo-top" />
    </a>
    <div class="ml-auto right-icon-header">
      <span (click)="seachClick()" class="d-lg-none mr-4">
        <i class="fa fa-search"></i>
      </span>


      <span routerLink="/signin" class="d-lg-none mr-4">
        <i class="fa fa-lock"></i>
      </span>
      <!-- <span routerLink="/signin" class="d-lg-none cart-bag ">
        <i class="fa fa-shopping-cart"></i>
        <small class="cart-number"><span class="badge badge-danger">1</span></small>
      </span> -->

    </div>
    <div class="search w-100 mb-3 mt-2" *ngIf="searchShow">
      <form name="form" (ngSubmit)="f.form.valid && productlist()" #f="ngForm"  novalidate >
      <input type="search" [(ngModel)]="globals.search" name="search" placeholder="Search" class="form-control" required>
    </form>
    </div>
    <div class="collapse navbar-collapse d-lg-none " *ngIf="shownow"  id="navbarTogglerDemo03">
      <ul class="navbar-nav mt-2 mt-lg-0 first-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/About">About </a>
        </li>
      -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-category">All Category</a>
        </li>
      </ul>
      <form name="form" (ngSubmit)="f.form.valid && productlist()" #f="ngForm"  novalidate class="form-inline my-2 my-lg-0 ml-auto d-none d-lg-block">
        <div class="input-group">
          <input type="text" [(ngModel)]="globals.search" name="search" class="form-control border-right-0"
            placeholder="Search for products, brands and more" required />
          <div class="input-group-prepend">
            <button type="submit"  class="input-group-text bg-white border-left-0 rounded">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="!globals.id" class="d-none d-lg-block">
        <ul class="d-flex loginreigster m-0 ">
          <!-- <li class="btn ">
            <span routerLink="/signin">
              <i class="fa fa-shopping-bag"></i>
            </span>
          </li>
          <li class="btn mr-2">
            <span routerLink="/signin">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </li> -->
          <li class="btn btn-danger mr-2">
            <span routerLink="/signin">Login</span>
          </li>
          <li class="btn btn-danger">
            <span routerLink="/registration">Register</span>
          </li>
        </ul>
      </div>
      <div *ngIf="globals.id" class="dropOption">
        <ul class="d-flex loginreigster m-0 ">

          
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropOption-text text-center" routerLink="/Profile" id="navbardrop"
              data-toggle="dropdown">
              <i class="fa fa-user"></i> <br> Profile
            </a>
            <div class="dropdown-menu mt-0 p-0 dropdown-menu-craft">
              <a class="dropdown-item" routerLink="/Profile"> My Profile </a>
              <!-- <a class="dropdown-item" href="#"> Wishlist </a> -->
              <!-- <a class="dropdown-item" routerLink="/Cart"> Cart </a> -->
              <a class="dropdown-item" href="#"><span (click)="logout()">
                  Logout
                </span></a>
            </div>
          </li>
          
          <li class="nav-item text-center">
            <a class="nav-link dropOption-text" routerLink="/Cart">
              <i class="fa fa-cart-plus"></i> <br>
              Cart</a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link dropOption-text" routerLink="/Order-History">
              <i class="fa fa-history"></i> <br>
              Order</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse d-none d-lg-block"   id="navbarTogglerDemo03">
      <ul class="navbar-nav mt-2 mt-lg-0 first-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/About">About </a>
        </li>
      -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-category">All Category</a>
        </li>
      </ul>
      <form name="form" (ngSubmit)="f.form.valid && productlist()" #f="ngForm"  novalidate class="form-inline my-2 my-lg-0 ml-auto d-none d-lg-block">
        <div class="input-group">
          <input type="text" [(ngModel)]="globals.search" name="search" class="form-control border-right-0"
            placeholder="Search for products, brands and more" required />
          <div class="input-group-prepend">
            <button type="submit"  class="input-group-text bg-white border-left-0 rounded">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="!globals.id" class="d-none d-lg-block">
        <ul class="d-flex loginreigster m-0 ">
          <!-- <li class="btn ">
            <span routerLink="/signin">
              <i class="fa fa-shopping-bag"></i>
            </span>
          </li>
          <li class="btn mr-2">
            <span routerLink="/signin">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </li> -->
          <li class="btn btn-danger mr-2">
            <span routerLink="/signin">Login</span>
          </li>
          <li class="btn btn-danger">
            <span routerLink="/registration">Register</span>
          </li>
        </ul>
      </div>
      <div *ngIf="globals.id" class="dropOption">
        <ul class="d-flex loginreigster m-0 ">

          
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropOption-text text-center" routerLink="/Profile" id="navbardrop"
              data-toggle="dropdown">
              <i class="fa fa-user"></i> <br> Profile
            </a>
            <div class="dropdown-menu mt-0 p-0 dropdown-menu-craft">
              <a class="dropdown-item" routerLink="/Profile"> My Profile </a>
              <!-- <a class="dropdown-item" href="#"> Wishlist </a> -->
              <!-- <a class="dropdown-item" routerLink="/Cart"> Cart </a> -->
              <a class="dropdown-item" href="#"><span (click)="logout()">
                  Logout
                </span></a>
            </div>
          </li>
          
          <li class="nav-item text-center">
            <a class="nav-link dropOption-text" routerLink="/Cart">
              <i class="fa fa-cart-plus"></i> <br>
              Cart</a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link dropOption-text" routerLink="/Order-History">
              <i class="fa fa-history"></i> <br>
              Order</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

