
li.dropdown:hover > .dropdown-menu {
  display: block;
}

a.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #191919 !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.right-menus {
  li {
    a {
        span{
            font-size: 13px !important;
        }
     
    }
  }
}
.first-nav {
    li {
        padding: 0 6px;
    }
}

  
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1ebdc2 !important;
 }
 .sm-menu{
  border-radius: 0px;
  border: 0px;
  top: 66%;
  box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
 }
 .dropdown-item {
  color: #3c3c3c;
      font-size: 14px;
 }
 .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2196F3;
 }
 .dropdown-item{
   font-size: small;
 }
 h6{
   font-weight: bolder;
 }

 
 
 .megamenu-li {
 position: static;
 }
 
 .megamenu {
 position: absolute;
 width: 100%;
 left: 0;
 right: 0;
 padding: 15px;

 }
 
 .megamenu i{
  width: 20px;
 }
 h6
 {
   font-size: small;
 }

 .logo-top{
   height: 60px;
   margin-right: 12px;
 }
 .dropOption-text{
   text-transform: capitalize!important;

 }
  .dropOption-text::after{
    display: none!important;
  }
  .dropdown-menu-craft{
left: -50px!important;
  }
  .navbar-blog{
    justify-content: end;
  }

  .cart-bag{
    position: relative;
  }
  .cart-number {
    position: absolute;
    right: -5px;
    top: -1px;
    font-size: 9px;
}