<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <div class="element two">
      <img src="assets/images/logo.png" alt="" class="roting" />
    </div>
    <h1>&nbsp;</h1>
  </ngx-spinner>
  <app-header></app-header>
  <section class="pt-1 mt-1 pt-lg-3 mt-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5 mb-0 pt-5 pt-lg-0">
          <h4 class="heading">Interior Product</h4>
        </div>
      </div>
      <div class="row  mb-5 " >
        <div class = "col-md-2 col-sm-6 col-6" *ngFor="let rel of data">
          <div class="product-grid4" >
            <div class="product-image4">
              <a  (click)="productview(rel._id)">
                
                <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name"  width="50px" height ="50px"/>
                      </a>
        </div>

        <h3 class="title">
          <a (click)="productview(rel._id)">{{rel.productName}}</a>
          </h3>
        
          <button type="button" (click)="productview(rel._id)" class="btn btn-primary mb-2">View</button>


      </div>
        </div>
      </div>
    
  </div>
</section>
<app-footer></app-footer>
  
