<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-scroller">
  <app-admin-navbar></app-admin-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Product Add</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                  <ul class="nav nav-pills nav-pills-success border-bottom pb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Products Details </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> Product Price</a>
                    </li>
                    
                  </ul>
                  <div class="tab-content mt-3" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                       <div class="form-group row ">
                <!-- <div class="col-lg-3 col-12">
                  <label>Product Image</label>
                  <input
                    type="file"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Add"
                  />
                </div> -->
                <div class="col-lg-6 col-12">
                  <label>Product Name</label>
                  <input
                    type="text"name="product" [(ngModel)]="product.productName"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Add"
                  />
                </div>
                <div class="col-lg-3 col-12">
                  <label>Category</label>
                  <select (click)="subcategory()" name="category" [(ngModel)]="product.category_id"
                 id="" class="form-control mb-2 mr-sm-2">
                    <option  *ngFor="let option of options" [value]="option._id">{{option.categoryName}}</option>
                   
                  </select>
                </div>
                <div *ngIf="product.category_id" class="col-lg-3 col-12">
                  <label>SubCategory</label>
                  <select name="category" [(ngModel)]="product.subCategory_id"
                 id="" class="form-control mb-2 mr-sm-2">
                    <option *ngFor="let option of data" [value]="option._id">{{option.name}}</option>
                   
                  </select>
                </div>
                
                <!-- <div class="col-lg-3 col-12">
                  <label>Unit</label>
                  <input
                    type="text"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Unit (e.g-Kg, Pc, Etc)"
                  />
                </div> -->
                <!-- <div class="col-lg-3 col-12">
                  <label>Tags</label>
                  <input
                    type="text"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Tags"
                  />
                </div> -->
                <div class="col-lg-3 col-12">
                  <label>Description</label>
                  <input
                    type="text"name="Description" [(ngModel)]="product.summery"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Products Description"
                  />
                </div>
                
                 <!-- <div class="col-lg-3 col-12">
                  <label>Discount</label>
                  <select name="" id="" class="form-control mb-2 mr-sm-2">
                    <option value="">5%</option>
                    <option value="">10%</option>
                    <option value="">15%</option>
                    <option value="">20%</option>
                  </select>
                </div>  -->
                <div class="col-lg-3 col-12">
                  <label> &nbsp; </label>
                  <button
                    type="button"
                    class="
                      btn btn-primary btn-icon-text
                      form-control
                      mb-2
                      mr-sm-2
                    "
                  >
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Next
                  </button>
                </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      
                       <div class="form-group row ">
                
                
                <!-- <div class="col-lg-3 col-12">
                  <label>Sale Price</label>
                  <input
                    type="number" 
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Sale Price"
                  />
                </div> -->
                <div class="col-lg-3 col-12">
                  <label>Purchase Price</label>
                  <input
                    type="number" name="price" [(ngModel)]="product.price"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Purchase Price"
                  />
                </div>
                <!-- <div class="col-lg-3 col-12">
                  <label>Shipping Cost</label>
                  <input
                    type="number" 
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Shipping Cost"
                  />
                </div> -->
                 <!-- <div class="col-lg-3 col-12">
                  <label>Product Tax</label>
                  <select name="" id="" class="form-control mb-2 mr-sm-2">
                    <option value="">5%</option>
                    <option value="">10%</option>
                    <option value="">15%</option>
                    <option value="">20%</option>
                  </select>
                </div>  -->
                
                
                <!-- <div class="col-lg-3 col-12">
                  <label>Product Discount</label>
                  <select name="" id="" class="form-control mb-2 mr-sm-2">
                    <option value="">5%</option>
                    <option value="">10%</option>
                    <option value="">15%</option>
                    <option value="">20%</option>
                  </select>
                </div> -->
                <div class="col-lg-3 col-12">
                  <label> &nbsp; </label>
                  <button
                    type="submit"  (ngSubmit)="runMyAPI()"
                    class="
                      btn btn-primary btn-icon-text
                      form-control
                      mb-2
                      mr-sm-2
                    "
                  >
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Add
                  </button>
                </div>
                       </div>

                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
       
        
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
