
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
     <img src="assets/images/logo.png" alt="" class="roting" /> 
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<section class="pt-5 mt-3 pt-lg-4 mt-lg-5">
  <!-- <div class="image-aboutus-banner"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lg-text">Contact Us</h1>
          <p class="image-aboutus-para">Welcome to Crafty Smile India</p>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <div class="about-text my-4">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-lg-4">
          <div class="contactInfo">
           
            <div class="box border p-3 rounded mb-3">
            
              <div class="text">
                <h4> <i class="fa fa-envelope-o" aria-hidden="true"></i> Email</h4>
                <p class="m-0">vchoure94@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="about-text my-4">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-lg-4">
          <div class="contactInfo">
           
            <div class="box border p-3 rounded mb-3">
            
              <div class="text">
                <h4> <i class="fa fa-volume-control-phone fa-glow"></i> Contact</h4>
                <p class="m-0">8668379368</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-dark">
  <div class="subscribe-call">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-left mb-3 my-lg-0">
          <h3 class="m-0 text-white">
           Submit your feedback
          </h3>
        </div>
        <div class="col-md-4 text-center">
          <h3 data-toggle="modal" data-target="#myModal"
                style="cursor: pointer;"
              class="text-warning border px-3 py-1 rounded border-warning">
           <i class="fa fa-share"></i> Feedback
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="feedbackModalLabel">Share your Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input id="Full Name" name="Full Name" placeholder="Full Name" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                    </div>
                  
                    <div class="form-group col-md-12">
                              <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label ml-1" for="defaultCheck1">
                            I agree to <a href="#">Terms and Conditions</a>
                          </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button type="button" class="btn btn-danger">Submit</button>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
    </div>
  </div>