 
   

@media (max-width: 480px){
    .desk-category img {
        height: 94px;
        padding: 5px;
    }
}
h5, .h5 {
    font-size: 1.25rem;
    color: #757575;
}
@media (min-width: 310px) and (max-width: 470px){
    h5, .h5 {
        font-size: 0.80rem;
        color: #757575;
        
        padding-left: 26px;
    }
}
.interior img{
    width: 150px;
    height: 150px;
}
@media (min-width: 310px) and (max-width: 470px){
    .interior img{
        width: 77.66px;
        height: 94px;
        padding: 8px;
    }
}









  