<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>
<app-header></app-header>
<section class="pt-5 mt-5 pt-lg-5 mt-lg-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">All CATEGORIES</h4>
      </div>
    </div>
    
    <div class="desktop-category ">
      <div class="row mt-2">
        <div class="col-4 col-md-2"  *ngFor="let rel of data">
          <div (click)="category(rel._id)" class="desk-category text-center" >
            <img  *ngIf="rel.image[0]" [src]="rel.image[0].img_name"  width="200px" height="200px" />
            <div class="cate-name">{{rel.categoryName}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="desktop-category  ">
      <div class="row  ">
        <div class="col-4 col-md-2 ">
          <div class="desk-category text-center">
          <img src="assets/images/Id.jpg"  routerLink="/interior-design"  width="200px" height="200px" >
          <div class="cate-name" routerLink="/interior-design">Interior Design</div>
        </div>
        </div>
         <div class="col-4 col-md-2 ">
          <div class="desk-category text-center">
          <img src="assets/images/hd.png"  routerLink="/home-decor" width="200px" height="200px" >
          <div class="cate-name" routerLink="/home-decor">Home Decor</div>
          </div>
        </div>
        <div class="col-4 col-md-2  ">
          <div class="desk-category text-center">
          <img src="assets/images/wd.jpg"  routerLink="/wall-decor" width="200px" height="200px" >
          <div class="cate-name" routerLink="/wall-decor">Wall Decor</div>
          </div>
        </div>
        <div class="col-4 col-md-2  ">
          <div class="desk-category text-center">
          <img src="assets/images/td.jpg"  routerLink="/Table-decor" width="200px" height="200px" >
          <div class="cate-name" routerLink="/Table-decor">Table Decor</div>
          </div>
        </div>
        <div class="col-4 col-md-2 ">
          <div class="desk-category text-center">
          <img src="assets/images/gd.jpg"  routerLink="/garden" width="200px" height="200px"  >
          <div class="cate-name" routerLink="/garden">Garden</div>
          </div>
        </div>
        <div class="col-4 col-md-2  ">
          <div class="desk-category text-center">
          <img src="assets/images/hf.jpg"  routerLink="/Home-fashion" width="200px" height="200px" >
          <div class="cate-name" routerLink="/Home-fashion">Home Fashion</div>
          </div>
        </div> 
        <div class="col-4 col-md-2  ">
          <div class="desk-category text-center">
          <img src="assets/images/fd.jpg"  routerLink="/Furniture" width="200px" height="200px" >
          <div class="cate-name" routerLink="/Furniture">Furniture</div>
          </div>
        </div>
      </div> 
    </div>-->
    
  </div>
</section>
<app-footer></app-footer>