<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<br />
<section class="pt-1 mt-1 pt-lg-5 mt-lg-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-4">
        <div class="title">
          <h4>My Shopping Cart</h4>
        </div>
        <!-- address -->
        <div class="card mb-3">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-12 px-2">
                <div class="address-save">
                    <div *ngIf="!selectedAddress" >
                      <p style="color: red" >please add Address</p>
                    </div>
                  <div *ngIf="selectedAddress" >
                  <h6>
                    <span class="text-secondary">Delivery to:</span> {{selectedAddress.fullName}}
                  </h6>
                  <p class="m-0">
                    Address: {{selectedAddress.addressLine1}} , {{selectedAddress.addressLine2}} , {{selectedAddress.landmark}} ,
                    <span> {{selectedAddress.city}}, {{selectedAddress.state}} </span>
                    <span> {{selectedAddress.pinCode}} </span>
                  </p>
                  <p class="">Mobile: <span> {{selectedAddress.mobile}}</span></p></div>
                  <button
                    class="btn btn-outline-secondary mr-3"
                    (click)="open(content)"
                  >
                    Add New Address
                  </button>
                  <button
                    class="btn btn-outline-danger float-right"
                    data-toggle="modal"
                    data-target="#changeAddress"
                  >
                    Change Address
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- address end -->
        <div class="shopping-cart card border-0">
          <div
          class="row mb-4 border-bottom py-3 mx-1 mx-lg-0 border"
            *ngFor="let rel of data"
          >
            <div class="col-4 col-lg-2 ">
              <div class="cart-img" (click)="productview(rel.product_id._id)">
               
                <img 
                  *ngIf="rel.product_id.image[0]"
                  [src]="rel.product_id.image[0].img_name"
                  class="w-100"
                />
              
                <!-- <img src="assets/images/products/products1.png" alt="" class="w-100"> -->
              </div>
            </div>
            <div class="col-8 col-lg-10">
              <div class="row">
                <div class="col-md-8">
                  <div class="cart-text">
                    <h6>
                      <strong> {{ rel.product_id.productName }}</strong>
                    </h6>
                    <!-- <p class="product-description">
                      <small
                        ><strong>Description: <div  [innerHTML]="rel.product_id.summery">
                        </div></strong
                        ></small
                      >
                    </p> -->
                    <div class="d-flex align-center mt-3">
                      <h6 class="m-0 mr-2"><strong>Qty:</strong></h6>
                      <select  (change)="updateQuantity(rel._id,$event.target.value)" name="" id="" class="form-control  ml-2" [(ngModel)]="rel.quantity">
                        <option [value]="Quantity">Quantity</option>
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                      </select>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cart-amt mt-2">
                    <h6 class="price">
                      <strong>
                        Rs. <span>{{ rel.product_id.price }}</span>
                       
                      </strong>
                       <small *ngIf="rel.product_id.original_price" ><del>Rs. {{rel.product_id.original_price}}/-</del></small>  
                    </h6>
                  </div>
                </div>
              </div>
              <div class="row mt-3 text-right">
                <div class="col-lg-12">
                  <button
                        (click)="RemoveCart(rel._id)"
                        class="btn btn-outline-secondary"
                        data-dismiss="alert"
                      ><i class="fa fa-trash"></i>
                        Remove
                      </button>
                </div>
              </div>

            </div>
          </div>

          <div class="card-btn">
            <div class="row">
              <div class="col-12 text-right">
                <button routerLink="/Home" class="btn btn-outline-info mx-2">
                  Continue Shopping
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="globals.address_id"> 
        <div class="cart-total">
          <div class="title">
            <h4>PRICE DETAILS</h4>
          </div>
          <div class="cart-price-blog" >
            <h6>Total MRP <span> &#8377;{{calAmount.totalMRP}}</span></h6>
            <h6>Discount on MRP <span> &#8377;{{calAmount.totalDiscountPrice}} </span></h6>

            <h6>Coupon Discount <span> &#8377;{{calAmount.coupenDiscount}}</span></h6>
            <h6>Delivery Charges <span> &#8377;{{calAmount.totalTransaportingCharge}} </span></h6>
            <hr />
            <div class="cart-total">
              <h6>
                <strong>
                  Total Amount <span> &#8377;{{calAmount.totalAmount}} </span></strong
                >
              </h6>
              <button
                (click)=" placeorder()"
                class="btn btn-danger form-control btn-lg"
              >
                PLACE ORDER
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Change address -->
<div class="modal fade" id="changeAddress">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngFor="let rel of dataAddress" class="card mb-3">
          <div class="card-body px-3">
            <div class="address-save">
                <h6>
                    <span class="text-secondary">Delivery to:</span> {{rel.fullName}}
                  </h6>
                  <p class="m-0">
                    Address: {{rel.addressLine1}} , {{rel.addressLine2}} , {{rel.landmark}} ,
                    <span> {{rel.city}}, {{rel.state}} </span>
                    <span> {{rel.pinCode}} </span>
                  </p>
                  <p class="">Mobile: <span> {{rel.mobile}}</span></p>
              <button data-dismiss="modal" (click)="ChangeAddress(rel)" class="btn btn-outline-secondary ">
                Select This Address
              </button>
             <button  (click)="RemoveAddress(rel._id)" class="btn btn-icon-prepend mx-2  btn-danger" ><i class="fa fa-trash-o"></i></button>
             <button  (click)="edit(rel)"  data-toggle="modal"
             data-target="#editAddress" class="btn btn-icon-prepend  btn-primary" ><i class="fa fa-pencil"></i></button>
               
             
              
            </div>
          </div>
        </div>
        <!-- <div class="card mb-3">
          <div class="card-body">
            <div class="address-save">
              <h6><span class="text-secondary">Delivery to:</span> </h6>
              <p class="m-0">
                Mahal , Kharbi road 2 , hanuman mandir ,
                <span> nagpur, maharashtra </span>
                <span> 44000 </span>
              </p>
              <button class="btn btn-outline-secondary mt-2">
                Select This Address
              </button>
            </div>
          </div>
        </div> -->
        

      </div>
    </div>
  </div>
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
        <div class="modal-body">
          
          <div class="card">
            <div class="card-body">
              <div class="tab-content1" id="pills-tabContent">
                <div
                  class="tab-pane fade active show"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                >
                <form  name="form" (ngSubmit)="f.form.valid && addAddress()"   #f="ngForm"  novalidate>
  
                
                  <div class="form-group row">
                    <div class="col-lg-6 col-12">
                      <label>Adress line 1</label>
                      <input [(ngModel)]="Address.addressLine1"
                        type="text" #addressLine1="ngModel"
                        name="addressLine1"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="Adress line 1"   required   [ngClass]="{ 'is-invalid': f.submitted && addressLine1.invalid }"
                      />
                      <span class="text-danger" *ngIf="addressLine1.invalid && f.submitted " >please enter Adress line 1</span>
  
                    </div>
                    <div class="col-lg-6 col-12">
                      <label>Adress line 2</label>
                      <input
                        type="text" #addressLine2="ngModel" [(ngModel)]="Address.addressLine2"
                        name="addressLine2"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="Adress line 2"  required   [ngClass]="{ 'is-invalid': f.submitted && addressLine2.invalid }"
                      />
                      <span class="text-danger" *ngIf="addressLine2.invalid && f.submitted " >please enter addressLine 2</span>
  
                    </div>
                    <div class="col-lg-6 col-12">
                      <label>city</label>
                      <input
                        type="text" #city="ngModel" [(ngModel)]="Address.city"
                        name="city"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="city" required   [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                      />
                      <span class="text-danger" *ngIf="city.invalid && f.submitted " >please enter city</span>
  
                    </div>
  
                    <div class="col-lg-6 col-12">
                      <label>landmark Description</label>
                      <input
                        type="text"  #landmark="ngModel" [(ngModel)]="Address.landmark"
                        name="landmark"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="landmark Description"  required   [ngClass]="{ 'is-invalid': f.submitted && landmark.invalid }"
                      />
                      <span class="text-danger" *ngIf="landmark.invalid && f.submitted " >please enter landmark Description</span>
  
                    </div>
  
                    <div class="col-lg-6 col-12">
                      <label>state</label>
                      <input
                        type="text" #state="ngModel"
                        name="state" [(ngModel)]="Address.state"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="state"  required   [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
                      />
                      <span class="text-danger" *ngIf="state.invalid && f.submitted " >please enter state</span>
  
                    </div>
                    <div class="col-lg-6 col-12">
                      <label>Full Name</label>
                      <input
                        type="text" #fullName="ngModel"
                        name="fullName" [(ngModel)]="Address.fullName"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="full Name"  required   [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }"
                      />
                      <span class="text-danger" *ngIf="fullName.invalid && f.submitted " >please enter Full Name</span>
  
                    </div>
                    <div class="col-lg-6 col-12">
                      <label>Pin code</label>
                      <input
                        type="number" #pinCode="ngModel"
                        name="pinCode" [(ngModel)]="Address.pinCode"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="xxxxxx"  required   [ngClass]="{ 'is-invalid': f.submitted && pinCode.invalid }"
                      />
                      <span class="text-danger" *ngIf="pinCode.invalid && f.submitted " >please enter Pin code</span>
  
                    </div>
                    <div class="col-lg-6 col-12">
                      <label>mobile number</label>
                      <input
                        type="number"  #mobile="ngModel"
                        name="mobile" [(ngModel)]="Address.mobile"
                        class="form-control mb-2 mr-sm-2"
                        placeholder="xxxxxx" required   [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                      />
                      <span class="text-danger" *ngIf="mobile.invalid && f.submitted " >please enter mobile number</span>
  
                    </div>
  
                    <div class="col-lg-12 col-12 mt-2">
                      <button
                        type="submit"
                        class="
                          btn btn-primary btn-color btn-icon-text
                          form-control
                          mb-2
                        "
                        
                        
                      >
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                        Add
                      </button>
                    </div>
                 
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      
  
  
</ng-template>



<div class="modal fade" id="editAddress">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="tab-content1" id="pills-tabContent">
              <div
                class="tab-pane fade active show"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
              
              
                <div class="form-group row">
                  <div class="col-lg-6 col-12">
                    <label>Adress line 1</label>
                    <input [(ngModel)]="EditAddress.addressLine1"
                      type="text" 
                      name="addressLine1"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="Adress line 1" 
                    />
                    

                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Adress line 2</label>
                    <input
                      type="text"  [(ngModel)]="EditAddress.addressLine2"
                      name="addressLine2"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="Adress line 2"  
                    />
                    
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>city</label>
                    <input
                      type="text"  [(ngModel)]="EditAddress.city"
                      name="city"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="city" 
                    />
                    
                  </div>

                  <div class="col-lg-6 col-12">
                    <label>landmark Description</label>
                    <input
                      type="text"   [(ngModel)]="EditAddress.landmark"
                      name="landmark"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="landmark Description"  
                    />
                    
                  </div>

                  <div class="col-lg-6 col-12">
                    <label>state</label>
                    <input
                      type="text" 
                      name="state" [(ngModel)]="EditAddress.state"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="state" 
                    />
                   
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Full Name</label>
                    <input
                      type="text" 
                      name="fullName" [(ngModel)]="EditAddress.fullName"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="full Name"  
                    />
                    
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Pin code</label>
                    <input
                      type="number" 
                      name="pinCode" [(ngModel)]="EditAddress.pinCode"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="xxxxxx"  
                    />
                   
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>mobile number</label>
                    <input
                      type="number" 
                      name="mobile" [(ngModel)]="EditAddress.mobile"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="xxxxxx" 
                    />
                    
                  </div>

                  <div class="col-lg-12 col-12 mt-2">
                    <button
                      type="submit" (click)="updateAddress()"
                      class="
                        btn btn-primary btn-color btn-icon-text
                        form-control
                        mb-2
                      "
                      data-dismiss="modal"
                      
                    >
                      <i class="mdi mdi-file-check btn-icon-prepend"></i>
                      Update
                    </button>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>



            </div>
          </div>
        </div>
      </div>