.cart-price-blog {
  h6 {
    padding-bottom: 15px;
    span {
      float: right;
      font-weight: 600;
      color: #5d5d5d;
    }
  }
}

.title {
    margin-bottom: 40px;
    border-bottom: 1px solid #a0a0a0;
}
