<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
<img src="assets/images/img1.png" alt="">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
    <app-saler-navbar></app-saler-navbar>

     <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-saler-sidenavbar></app-saler-sidenavbar>

<div class="main-panel">
  <div class="container-fliud">
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">All Orders</p>
            <div class="col-md-4"> 
              <label for=""> Filter By:</label>
               <select (change)="getdata($event.target.value)"   class="form-control" id="">
             <option value='pending'> Pending</option>
              <option value='accept'> accepted </option>
              <option value='reject'> rejected </option>
           </select>
          </div>


            <div class="table-responsive">
              <table id="recent-purchases-listing" class="table">
                <thead>
                  <tr >
                    <th>Name</th>
                    <th>Address</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Gross amount</th>
                    <th>Action</th>
                    
                    
                    
                  </tr>
                  

                </thead>
                
                <tbody>
                  

                  
                  <tr  *ngFor="let rel of data">
                    <td>{{rel.product_id.productName}}</td>

                    <td>

                      <button (click)="address(rel.address_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                      data-target="#ViewProdict"
                    >Address</button>
                    </td>
                    <td>{{rel.product_id.category_id.categoryName}}</td>
                    <td>{{rel.product_id.price}}</td>
                    <td>{{rel.quantity}}</td>
                    <td>{{rel.createdAt | date}}</td>
                    <td>{{rel.totalAmount}}</td>
                    
                   
                    <td>
                      <button (click)="updateOrder(rel._id,'accept')"  class="btn btn-success mx-2 btn-sm btn-rounded mb-2"> Accept </button>
                        <button (click)="updateOrder(rel._id,'reject')" class="btn btn-danger btn-sm btn-rounded"> Reject </button>
                    </td>
                    
                   
                   
                  </tr>

                  








                   <!-- <tr>
                    <td>Jeremy Ortega</td>
                    <td>Nagpur up</td>
                    <td>Craft</td>
                    <td>Rs.790</td>product_id
                    <td>06 Jan 2018</td>
                    <td>Rs.600</td>
                  </tr>
                  <tr>
                    <td>Jeremy Ortega</td>
                    <td>Nagpur up</td>
                    <td>Craft</td>
                    <td>Rs.790</td>
                    <td>06 Jan 2018</td>
                    <td>Rs.600</td>
                  </tr>  -->
                  
                </tbody>
              </table>


            
              
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
</div>

<div class="modal fade" id="ViewProdict">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div>

         


          <div class="address">
            <table class="table table-borderless">
              Name: {{currentAddr.fullName}}<br>
              Mobile: {{currentAddr.mobile}}<br>
              Address:  {{currentAddr.addressLine1}}, {{currentAddr.addressLine2}} ,{{currentAddr.city}} ,{{currentAddr.landmark}},
              {{currentAddr.pinCode}} ,{{currentAddr.state}}
          
              
            </table>
          </div>
        </div>


        
         