<app-header></app-header>
    <div class="container">
    <div class="page-page"></div>
    <div class="policy-page">
    <h3 class="craft">CRAFTYSMILE:TERMS OF USE</h3>
    <p>Welcome to craftysmile . This document is an electronic record in terms of Information Technology Act, 2000 and published in accordance with the provisions of Rule 3 ) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of CraftySmile marketplace platform - www.craftysmile.com (hereinafter referred to as "Platform")</p>
    <P>The Platform is owned by CraftySmile Designs Private Limited, having its registered office at Buildings Alyssa, Begonia and Clover situated in Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Varthur Hobli, Bengaluru – 560103, India and its branch office at Plot 82 A - 2nd and 3rd Floor, Sector 18 Gurugram Haryana, India.</P>
    <P>Your use of the craftysmile and services and tools are governed by the following terms and conditions ("Terms of Use") as applicable to the CraftySmile including the applicable policies which are incorporated herein by way of reference. By mere use of the craftysmile, You shall be contracting with craftysmile Designs Private Limited, the owner of the Platform. These terms and conditions including the policies constitute Your binding obligations, with craftysmile.</P>
     <P>For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on Platform by providing data while registering on the Platform as Registered User. The term "craftysmile","We","Us","Our" shall mean CraftySmile Designs Private Limited and its affiliates.</P>
        <P>When You use any of the services provided by Us through the Platform, including but not limited to, (e.g. Product Reviews, Seller Reviews), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at Our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to You. You shall ensure to review these Terms of Use periodically for updates/changes. Your continued use of the Platform following the posting of changes will mean that You accept and agree to the revisions. As long as You comply with these Terms of Use, We grant You a personal, non-exclusive, non-transferable, limited privilege to enter and use the Platform. By impliedly or expressly accepting these Terms of Use, You also accept and agree to be bound by CraftySmile Policies including but not limited to Privacy Policy as amended from time to time.</P>

        <div class="page1">
            <h3>1. User Account, Password, and Security:</h3>
            <P>If You use the Platform, You shall be responsible for maintaining the confidentiality of your Display Name and Password and You shall be responsible for all activities that occur under your Display Name and Password. You agree that if You provide any information that is untrue, inaccurate, not current or incomplete, We shall have the right to indefinitely suspend or terminate or block access of your membership on the Platform.</P>
            <P>You agree to</P>
            <P>immediately notify CraftySmile of any unauthorized use / breach of your password or account and</P>
            <P>ensure that you exit from your account at the end of each session.</P>
            <div class="page2">
                <h3>2. Services Offered:</h3>
                <P>CraftySmile provides a number of Internet-based services through the Platform. One such Service enables Users to purchase original merchandise such as clothing, footwear and accessories from various fashion and lifestyle brands (collectively, "Products"). The Products can be purchased through the Platform through various methods of payments offered. The sale/purchase of Products shall be additionally governed by specific policies of sale, like cancellation policy, exchange policy, return policy, etc. (which are found on the FAQ tab on the Platform and all of which are incorporated here by reference). It is clarified that at the time of creating a return request, users are required to confirm (via a check box click) that the product being returned is unused and has the original tags intact. If the product returned by the user is used, damaged or if the original tags are missing, the user’s return request shall be declined, and the said product shall be re-shipped back to the customer. In the event that the return request is declined, the user shall not be eligible for a refund, and CraftySmile assumes no liability in this regard. Further, in the event that the user fails to accept the receipt of the said re-shipped product, the user shall continue to be not eligible for a refund, and CraftySmile assumes no liability with respect to the return or refund for the said re-shipped product. In addition, these Terms of Use may be further supplemented by Product specific conditions, which may be displayed with that Product.</P>
                <P>CraftySmile does not warrant that Product description or other content on the Platform is accurate, complete, reliable, current, or error-free and assumes no liability in this regard.</P>
                <div class="page3">
                    <h3>3. Platform for Transaction and Communication:</h3>
                    <P>The Users utilize to meet and interact with one another for their transactions on the Platform. CraftySmileis not and cannot be a party to or control in any manner any transaction between the CraftySmile's Users. Henceforward:</P>
                    <P>All commercial/contractual terms are offered by and agreed to between Buyers and Sellers alone. The commercial/contractual terms include without limitation price, shipping costs, payment methods, payment terms, date, period and mode of delivery, warranties related to products and services and after sales services related to products and services. CraftySmiledoes not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the Buyers and Sellers.</P>
                    <P>CraftySmile does not make any representation or Warranty as to specifics (such as quality, value, salability, etc) of the products or services proposed to be sold or offered to be sold or purchased on the Platform.
                    </P>
                    <P>CraftySmile is not responsible for any non-performance or breach of any contract entered into between Buyers and Sellers. CraftySmile cannot and does not guarantee that the concerned Buyers and/or Sellers will perform any transaction concluded on the Platform.
                    </P>
                    <P>At no time shall CraftySmile hold any right, title or interest over the products nor shall CraftySmile have any obligations or liabilities in respect of such contract entered into between Buyers and Sellers.</P>
                    <P>The CraftySmile is only a platform that can be utilized by Users to reach a larger base to buy and sell products or services. CraftySmile is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the Seller and the Buyer. At no time shall CraftySmile hold any any right, title or interest over the products nor shall CraftySmile have any obligations or liabilities in respect of such contract. CraftySmile is not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.
                    </P>
                    <P>Pricing on any product(s) as is reflected on the Platform may due to some technical issue, typographical error or product information published by seller may be incorrectly reflected and in such an event seller may cancel such your order(s).</P>
                    <P>You release and indemnify CraftySmile and/or any of its officers and representatives from any cost, damage, liability or other consequence of any of the actions of the Users of the CraftySmile and specifically waive any claims that you may have in this behalf under any applicable law. Notwithstanding its reasonable efforts in that behalf, CraftySmile cannot take responsibility or control the information provided by other Users which is made available on the Platform.</P>
                    <div class="page4">
                        <h3>4. User Conduct and Rules on the Platform:</h3>
                         <P>You agree, undertake and confirm that Your use of the Platform shall be strictly governed by the following binding principles:</P>
                        <P>You shall not host, display, upload, modify, publish, transmit, update or share any information which:
                        </P>
                        <P>is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever</P>
                        <P>is misleading in any way</P>
                        <P>involves the transmission of "junk mail", "chain letters", or unsolicited mass mailing or "spamming"
                        </P>
                        <P>promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libellous</P>
                        <P>infringes upon or violates any third party's rights including, but not limited to, intellectual property rights, rights of privacy (including without limitation unauthorized disclosure of a person's name, email address, physical address or phone number) or rights of publicity</P>
                        <P>contains restricted or password-only access pages, or hidden pages or images (those not linked to or from another accessible page)
                        </P>
                        <P>provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses
                        </P>
                        <P>contains video, photographs, or images of another person (with a minor or an adult).</P>
                        <P>tries to gain unauthorized access or exceeds the scope of authorized access to the Platform or to profiles, blogs, communities, account information, bulletins, friend request, or other areas of the Platform or solicits passwords or personal identifying information for commercial or unlawful purposes from other users</P>
                        <P>interferes with another USER's use and enjoyment of the Platform or any other individual's User and enjoyment of similar services</P>
                        <P>infringes any patent, trademark, copyright or other proprietary rights or third party's trade secrets or rights of publicity or privacy or shall not be fraudulent or involve the sale of counterfeit or stolen products</P>
                        <P>violates any law for the time being in force</P>
                        <P>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to thecommission of any cognizable offence or prevents investigation of any offence or is insulting any other nation</P>
                        <P>shall not be false, inaccurate or misleading
                        </P>
                        <P>shall not create liability for Us or cause Us to lose (in whole or in part) the services of Our internet service provider ("ISPs") or other supplier
                        <P>A User may be considered fraudulent or loss to business due to fraudulent activity if any of the following scenarios are met:
                        </P>
                        <P>A User may be considered fraudulent or loss to business due to fraudulent activity if any of the following scenarios are met:</P>
                        <P>Users doesn't reply to the payment verification mail sent by CraftySmile</P>
                        <P>Users fails to produce adequate documents during the payment details verification
                        </P>
                        <P>Misuse of another Users's phone/email
                        </P>
                        <P>Users uses invalid address, email and phone no.
                        </P>
                        <P>Overuse of a voucher code</P>
                        <P>Use of a special voucher not tagged to the email ID used.</P>
                        <P>Users returns the wrong product</P>
                        <P>Users refuses to pay for an order</P>
                        <P>Users involved in the snatch and run of any order</P>
                        <P>Miscellaneous activities conducted with the sole intention to cause loss to business/revenue to CraftySmile
                        </P>
                        <P>User with a very high return rate
                        </P>
                        <P>Repeated request for monetary compensation for fake/used order
                        </P>
                        <P>CraftySmile may cancel any order that classify as 'Bulk Orders'/'Fraud orders' under certain criteria at any stage of the product delivery. An order can be classified as 'Bulk Order'/'Fraud Order' if it meets with the below mentioned criteria, and any additional criteria as defined by CraftySmile:</P>
                        <P>Products ordered are not for self-consumption but for commercial resale</P>
                        <P>Multiple orders placed for same product at the same address, depending on the product category.</P>
                        <P>Bulk quantity of the same product ordered</P>
                        <P>Invalid address given in order details</P>
                        <P>Any malpractice used to place the order
                        </P>
                        <P>Any promotional voucher used for placing the 'Bulk Order' may not be refunded
                        </P>
                        <P>Any order paced using a technological glitch/loophole.</P>
                        <P>CraftySmile does not facilitate business to business transaction between Sellers and business customers. You are advised to refrain from transacting on the Platform if You intend to avail the benefits of input tax credit.</P>
                        <P>You shall not use the Platform for any unlawful and fraudulent purposes, which may cause annoyance and inconvenience and abuses any policy and rules of the company and interrupt or causes to interrupt, damages the use by other Users of CraftySmile.</P>
                        <P>You shall not use any false e-mail address, impersonates any person or entity, or otherwise misleads CraftySmile by sharing multiple address and phone numbers or transacting with malafide intentions.</P>
                        <P>We on certain landing page even allow our Users to experience free exchange of ideas and observations regarding interest in the field of fashion, including ‘viewing user generated content’ and/or ‘videos’ and ‘posting comments’. By accessing, viewing and/or posting any user generated content to any specific dedicated page on the Platform, you accept and consent to the practices described in these ‘Terms of Service’ and ‘Privacy Policies’, as well as any other terms of prescribed by the CraftySmile on the Platform. You agree and undertake that when accessing, viewing and/or posting any user generated content on these pages You will not imitate, abuse, harass, any Customer/User or violate and exploit, any of these ‘Terms of Service’ of the Platform.</P>
                        <P>You shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Platform or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Platform or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Platform. We reserve Our right to bar any such activity.</P>
                        <P>You shall not attempt to gain unauthorized access to any portion or feature of the Platform, or any other systems or networks connected to the Platform or to any server, computer, network, or to any of the services offered on or through the Platform, by hacking, password "mining" or any other illegitimate means.
                        </P>
                        <P>You may not pretend that You are, or that You represent, someone else, or impersonate any other individual or entity</P>
                        <P>You shall at all times ensure full compliance with the applicable provisions of the Information Technology Act, 2000 and rules thereunder as applicable and as amended from time to time and also all applicable Domestic laws, rules and regulations (including the provisions of any applicable Exchange Control Laws or Regulations in Force) and International Laws, Foreign Exchange Laws, Statutes, Ordinances and Regulations (including, but not limited to Sales Tax/VAT, Income Tax, Octroi, Service Tax, Central Excise, Custom Duty, Local Levies) regarding Your use of Our service and Your listing, purchase, solicitation of offers to purchase, and sale of products or services. You shall not engage in any transaction in an item or service, which is prohibited by the provisions of any applicable law including exchange control laws or regulations for the time being in force.
                        </P>
                        <P>From time to time, You shall be responsible for providing information relating to the products or services proposed to be sold by You. In this connection, You undertake that all such information shall be accurate in all respects. You shall not exaggerate or over emphasize the attributes of such products or services so as to mislead other Users in any manner.
                        </P>
                        <P>You shall not engage in advertising to, or solicitation of, other Users of the Platform to buy or sell any products or services, including, but not limited to, products or services related to that being displayed on the Platform or related to us.</P>
                        <P>The Content posted does not necessarily reflect CraftySmile views. In no event shall CraftySmile assume or have any responsibility or liability for any Content posted or for any claims, damages or losses resulting from use of Content and/or appearance of Content on the Platform. You hereby represent and warrant that You have all necessary rights in and to all Content which You provide and all information it contains and that such Content shall not infringe any proprietary or other rights of third parties or contain any libellous, tortious, or otherwise unlawful information.</P>
                        <P>CraftySmile hereby disclaims any guarantees of exactness as to the finish, appearance, size, color etc., of the final Product as ordered by the User. CraftySmile Return & Exchange Policy offers you the option to return or exchange items purchased on CraftySmile within the return/exchange period (Please read the Product Detail Page to see the number of days upto which a product can be returned/exchanged, post-delivery). In case of return or exchange of the purchased item, please refer to the "Return and Exchange Policy" available on https://www.craftysmile.com/faqs#returns.</P>
                        <P>Please note that you can only use CraftySmile Credits to buy products from your registered account on the CraftySmile app or website. CraftySmile Credits cannot be:
                        </P>
                       <P>Used for payment of orders placed on other CraftySmile accounts.</P>
                       <P>Transferred to any other CraftySmile user's account, bank account, or wallets, etc.</P>
                       <P>CraftySmile may unilaterally terminate Your account on any event as mentioned in the Terms Of Use. Any credits earned through loyalty or referral program, CraftySmile credit, and pending refunds if any will be forfeited in such case.</P>

                        <div class="page5">
                            <h3>5. Contents Posted on Platform:</h3>
                            <P>All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music and artwork (collectively, "Content"), is a third party user generated content and CraftySmile has no control over such third party user generated content as CraftySmile is merely an intermediary for the purposes of this Terms of Use. Such Content will become Our property and You grant Us the worldwide, perpetual and transferable rights in such Content. We shall be entitled to, consistent with Our Privacy Policy as adopted in accordance with applicable law, use the Content or any of its elements for any type of use forever, including but not limited to promotional and advertising purposes and in any media whether now known or hereafter devised, including the creation of derivative works that may include the Content You provide.</P>
                            <P>You may use information on the products and services purposely made available on the Platform for downloading, provided that You</P>
                            <P>do not remove any proprietary notice language in all copies of such documents,</P>
                            <P>use such information only for your personal, non-commercial informational purpose and do not copy or post such information on any networked computer or broadcast it in any media,
                            </P>
                            <P>make no modifications to any such information, and</P>
                           <P>do not make any additional representations or warranties relating to such documents.</P>

                           <div class="page6">
                               <h3>6. Disclaimer of Warranties and Liability:</h3>
                               <P>All the materials and products (including but not limited to software) and services, included on or otherwise made available to You through Platform are provided on "as is" and "as available" basis without any representation or warranties, express or implied except otherwise specified in writing. Without prejudice to the forgoing paragraph, CraftySmile does not warrant that: Platform will be constantly available, or available at all or The information on Platform is complete, true, accurate or non-misleading.</P>
                               <P>All the Products sold on Platform are governed by different state laws and if Seller is unable to deliver such Products due to implications of different state laws, Seller will return or will give credit for the amount (if any) received in advance by Seller from the sale of such Product that could not be delivered to You. You will be required to enter a valid phone number while placing an order on the Platform. By registering Your phone number with us, You consent to be contacted by Us via phone calls and/or SMS notifications, in case of any order or shipment or delivery related updates. We will not use your personal information to initiate any promotional phone calls or SMS.</P>
                            <div class="page7">
                                <h3>7. Selling:</h3>
                               <P>As a registered seller, you are allowed to list item(s) for sale on the Platform in accordance with the Policies which are incorporated by way of reference in this Terms of Use. You must be legally able to sell the item(s) you list for sale on the Platform. You must ensure that the listed items do not infringe upon the intellectual property, trade secret or other proprietary rights or rights of publicity or privacy rights of third parties. Listings may only include text descriptions, graphics and pictures that describe your item for sale. All listed items must be listed in an appropriate category on the Platform. All listed items must be kept in stock for successful fulfilment of sales. The listing description of the item must not be misleading and must describe actual condition of the product. If the item description does not match the actual condition of the item, you agree to refund any amounts that you may have received from the Buyer. You agree not to list a single product in multiple quantities across various categories on the Platform. CraftySmile reserves the right to delete such multiple listings of the same product listed by you in various categories.</P>
                                <P>We may provide you alternation services (limited to alteration of length, alteration of the waist size) for the garments purchased by You from Us. This service shall be free of cost and no amount would be collected from You for such alteration. However, a nominal fee as mentioned by CraftySmile at the time of creating the alteration request (inclusive of service tax) would be applicable as convenience charge towards pick up and drop of the garments or towards tailor visit (wherever applicable).</P>
                                <div class="page8">
                                    <h3>8. E-Platform for Communication:</h3>
                                    <P>You agree, understand and acknowledge that CraftySmile is an online platform that enables you to purchase products listed on the Platform at the price indicated therein at any time. You further agree and acknowledge that CraftySmile is only a facilitator and is not and cannot be a party to or control in any manner any transactions on CraftySmile.</P>
                                    <div class="">
                                       <h3>9. Indemnity:</h3>
                                        <P>You shall indemnify and hold harmless CraftySmile, its owner, licensee, affiliates, subsidiaries, group companies (as applicable) and their respective officers, directors, agents, and employees, from any claim or demand, or actions including reasonable attorneys' fees, made by any third party or penalty imposed due to or arising out of Your breach of this Terms of Use, privacy Policy and other Policies, or Your violation of any law, rules or regulations or the rights (including infringement of intellectual property rights) of a third party.</P>
                                        <div class="page9">
                                            <h3>10. Trademark, Copyright and Restriction:</h3>
                                            <P>Platform is controlled and operated by CraftySmile and products are sold by respective Sellers. All material on Platform, including images, illustrations, audio clips, and video clips, are protected by copyrights, trademarks, and other intellectual property rights. Material on CraftySmile is solely for Your personal, non-commercial use. You must not copy, reproduce, republish, upload, post, transmit or distribute such material in any way, including by email or other electronic means and whether directly or indirectly and You must not assist any other person to do so. Without the prior written consent of the owner, modification of the materials, use of the materials on any other CraftySmile or networked computer environment or use of the materials for any purpose other than personal, non-commercial use is a violation of the copyrights, trademarks and other proprietary rights, and is prohibited. Any use for which You receive any remuneration, whether in money or otherwise, is a commercial use for the purposes of this clause. It is expressly clarified that You will retain ownership and shall solely be responsible for any content that You provide or upload when using any Service, including any text, data, information, images, photographs, music, sound, video or any other material which you may upload, transmit or store when making use of Our various Service. However, We reserve the right to use/reproduce any content uploaded by You and You agree to grant royalty free, irrevocably, unconditionally, perpetually and worldwide right to Us to use the content for reasonable business purpose.</P>
                                            

                                            <div class="page10">
                                                <h3>11. Limitation of Liability:</h3>
                                                <P>In no event shall CraftySmile be liable for any indirect, punitive, incidental, special, consequential damages or any other damages resulting from:</P>
                                                <P>the use or the inability to use the Services or Products</P>
                                                <P>unauthorized access to or alteration of the user's transmissions or data</P>
                                                <P>breach of condition, representations or warranties by the manufacturer of the Products</P>
                                                <P>any other matter relating to the services including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the Platform or Service. CraftySmile shall not be held responsible for non-availability of the CraftySmile during periodic maintenance operations or any unplanned suspension of access to the CraftySmile. The User understands and agrees that any material and/or data downloaded at CraftySmile is done entirely at Users own discretion and risk and they will be solely responsible for any damage to their mobile or loss of data that results from the download of such material and/or data. To the maximum extend that is permissible under law, CraftySmile’s liability shall be limited to an amount equal to the Products purchased value bought by You. CraftySmile shall not be liable for any dispute or disagreement between Users</P>
                                               
                                                <div class="page11">
                                                    <h3>12. Termination:</h3>
                                                    <P>CraftySmile may suspend or terminate your use of the CraftySmile or any Service if it believes, in its sole and absolute discretion that you have infringed, breached, violated, abused, or unethically manipulated or exploited any term of these Terms of Service or anyway otherwise acted unethically. Notwithstanding anything in this clause, these Terms of Service will survive indefinitely unless and until CraftySmile chooses to terminate them.
                                                    </P>
                                                    <p>If You or CraftySmile terminates your use of the Platform or any Service, CraftySmile may delete any content or other materials relating to your use of the Service and CraftySmile will have no liability to you or any third party for doing so. However, your transactions details may be preserved by CraftySmile for purposes of tax or regulatory compliance.</p>
                                                    <P>CraftySmile may unilaterally terminate Your account on any event as mentioned in the Terms Of Use. Any credits earned through loyalty or referral program, CraftySmile credit and pending refunds if any will be forfeited in such case. Returns/Refund for such Users shall be at the sole discretion of CraftySmile.
                                                    </P>
                                                    <P>If You use any false e-mail address or use the portal for any unlawful and fraudulent purposes, which may cause annoyance and inconvenience and abuses any policy and rules of the company or mislead CraftySmile by sharing multiple address and phone numbers or transacting with malafide intentions then CraftySmile reserves the right to refuse access to the portal, terminate accounts including any linked accounts without notice to you.</P>

                                                    <div class="page12">
                                                        <h3>13. Jurisdictional Issues/Sale in India Only:</h3>
                                                        <P>Unless otherwise specified, the material on the Platform is presented solely for the purpose of sale in India. CraftySmile make no representation that materials in the Platform are appropriate or available for use in other locations/Countries other than India. Those who choose to access Platform from other locations/Countries other than India do so on their own initiative and CraftySmile is not responsible for supply of products/refund for the products ordered from other locations/Countries other than India, compliance with local laws, if and to the extent local laws are applicable.</P>
                                                       

                                                        <div class="page13">
                                                            <h3>14. Governing Law:</h3>
                                                            <P>These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of courts, tribunals, fora, applicable authorities at Bangalore. The place of jurisdiction shall be exclusively in Bangalore.</P>

                                                      <div class="page14">
                                                          <h3>15. Contacting the Seller:</h3>
                                                          <P>At CraftySmile, we are committed towards ensuring that disputes between Sellers and Buyers are settled amicably by way of the above dispute resolution mechanisms and procedures. However, in the event that You wish to contact CraftySmile about the seller, You may proceed to do so by clicking on the seller name on the product listing pages. Alternatively, You may also reach out to customer support at +91-80-61561999 or access help center at https://www.craftysmile.com/contactus</P>

                                                          <div class="page15">
                                                            <h3>16. Disclaimer:</h3>
                                                            <P>You acknowledge and undertake that you are accessing the services on the Platform and transacting at your own risk and are using your best and prudent judgment before entering into any transactions through CraftySmile. We shall neither be liable nor responsible for any actions or inactions of sellers nor any breach of conditions, representations or warranties by the sellers or manufacturers of the products and hereby expressly disclaim and any all responsibility and liability in that regard. We shall not mediate or resolve any dispute or disagreement between You and the sellers or manufacturers of the products. We further expressly disclaim any warranties or representations (express or implied) in respect of quality, suitability, accuracy, reliability, completeness, timeliness, performance, safety, merchantability, fitness for a particular purpose, or legality of the products listed or displayed or transacted or the content (including product or pricing information and/or specifications) on Platform. While we have taken precautions to avoid inaccuracies in content, this website, all content, information (including the price of products), software, products, services and related graphics are provided as is, without warranty of any kind. At no time shall any right, title or interest in the products sold through or displayed on Platform vest with CraftySmile nor shall CraftySmile have any obligations or liabilities in respect of any transactions on Platform.</P>
                                                             <P>Delivery Related - User agrees and acknowledges that any claims regarding order delivery (including non-receipt/ non- delivery of order or signature verification) shall be notified to CraftySmile within 5 days from the alleged date of delivery of product reflecting on the CraftySmile portal. Non notification by You of non-receipt or non-delivery within the time period specified shall be construed as a deemed delivery in respect of that transaction. CraftySmile disclaims any liability or responsibility for claims regarding non-delivery, non-receipt of order (including signature verification in Proof of delivery) after 5 days from the alleged date of delivery of product reflecting on the CraftySmile portal.</P>

                                                            <div class="page16">
                                                                <h3>17. CraftySmile Shopping Groups (MSG) for Flipkart Big Billion Days Sale:</h3>
                                                                <P>CraftySmile Shopping Groups will be activated at 23:59 hours from 15th Sept till 23:59 24th Sept. This construct is a part of an initiative that was started during End Of Reason Sale. MSG will be accessible on all platforms (M-Web, desktop, and App). However creation of the groups will only be possible on the CraftySmile App during the valid time period.</P>
                                                                 <P>You can start creating your MSG or add new members to your group from 15th Sept. Your group will remain active till 24th Sept 2017, 23:59 PM. Groups need to be active to be eligible for MSG rewards. MSG group is only activated when it has a minimum of 3 members. It can have a maximum of 20 members.</P>
                                                                 <P>One person can only be a part of 1 MSG. In-case he wishes to join another group, he will have to exit the current group he is a part of.</P>
                                                                <P>Once you agree to participate in MSG, CraftySmile has the right to retain the groups for promotional purposes in future. CraftySmile reserves the right to change/modify/add/delete any of the terms and conditions of MSG.</P>

                                                                <div class="page17">
                                                                    <h3>18. Coupon for check-in From 15th Sept to 19th Sept 2017:</h3>
                                                                    <P>Upon the MSG being active, each member of the group will be awarded a special BBD coupon for taping on the 'Check-in button' placed inside the group’s page, between 15th Sept to 19th Sept, 6PM. Coupon amount will increase by Rs. 50 with each member who taps on the 'Check-in button'. The coupon amount under this Offer shall expire at 23:59 on 24th September, 2017. The final amount will be notified to the users on 20th Sept, 3 AM.</P>
                                                                    <P>1. The online Offer is open and valid for all the registered MSG’s, permanently residing in India, and above the age of 18 years as on the start date of the sale.</P>
                                                                   <P>2. The Offer is subject to changes, at the absolute discretion of the participating seller/s.</P>
                                                                   <P>3. The Offer will only applicable to the selected styles in the linked catalogue.</P>
                                                                   <P>4. Any coupons issued by CraftySmile and/or on behalf of the participating seller/s or obtained otherwise will be disabled during this Offer.</P>
                                                                   <P>5. You shall ensure that the mobile number(s), e-mail address and/or other details provided by You to CraftySmile are true, accurate and in use, at the time of the online retail transaction. Any liability, consequence or claim arising on account of any incorrect or outdated information provided by the end customer to, same shall solely be borne by the affected end customer. CraftySmile shall not be liable to verify the accuracy and/or correctness of the information so provided by such customer.
                                                                </P>
                                                                   <P>Customers are advised to check the serviceability with the area pin code before placing any order on the Platform.</P>
                                                                     <P>7. Extra VAT may apply in addition to the unit sale price on certain products, but the final inclusive price will not exceed the 'M.R.P.'
                                                                    </P>
                                                                     <P>8. The images of the products shown are for visual representation only and may vary from the actual product.</P>
                                                                     <P>9. Customers are responsible for maintaining the confidentiality of their mobile phones, e-mail accounts and passwords.</P>
                                                                     <P>10. The prices of the product may vary during and after the Offer is over. Thereby CraftySmile shall not be held liable for such difference in the price of the product as they are offered by the participating seller/s.</P>
                                                                     <P>11. Product warranty shall be regulated by the terms and conditions mentioned on the warranty card of respective products and CraftySmile shall not be liable or responsible to the customer in for any indirect or consequential loss or damage.</P>
                                                                     <P>12. This Offer cannot be combined with any other online offer on CraftySmile sponsored and/or offered by the participating seller/s.</P>
                                                                     <P>13. The balance amount, after the discount has been availed, will have to be paid by the customer at the time of purchase.</P>
                                                                     <P>14. This Offer is applicable on Cash on delivery or Card on Delivery feature is not valid. This Offer shall not be settled with cash in lieu by CraftySmile or the seller.</P>
                                                                     <P>15. CraftySmile Return & Exchange Policy offers you the option to return or exchange items purchased on CraftySmile Mobile App within the specified return/exchange period (Please read the Product Detail Page to see the number of days upto which a product can be returned/exchanged, post-delivery). In case of return of the purchased item, please refer to the 'Return Policy' on our website or write to Contact Us.</P>
                                                                     <P>16. Orders may be split into separate shipments depending upon the products ordered for, despite the customer having made one single consolidated payment against one order ID. Separate shipments, after being split, shall have separate expected delivery period.</P>
                                                                     <P>17. By participating in this Offer, all eligible customer agree to be bound by these 'Terms and Conditions', the 'Terms of Use', 'Privacy Policy' and other relevant documentation that are available on CraftySmile including any modifications, alterations or updates that may be made either by CraftySmile or the participating seller/s. CraftySmile shall not be liable or responsible to the customer in for any indirect or consequential loss or damage.</P>
                                                                     <P>18. Participating seller/s and/or CraftySmile reserves the right to amend, modify, cancel, update or withdraw this Offer at any time without notice. Upon such premature suspension, inconvenience, cessation, withdrawal, termination or closure of the Offer, no person shall be entitled to claim loss of any kind whatsoever.
                                                                    </P>
                                                                    <P>19. CraftySmile reserves the right, in its sole discretion, to disqualify any customer that tampers or attempts to tamper with the deals/ offers or violates these 'Terms and Conditions' or acts in a disruptive manner.</P>
                                                                    <P>20. If CraftySmile has suspicion or knowledge, that any customer has been involved in any fraudulent or illegal activity directly or indirectly and/or is using the platform to order products not for his/her direct usage during or after the Offer, then CraftySmile reserves the right to disqualify that customer and any related customer.
                                                                    </P>
                                                                    <P>21. CraftySmile shall not be responsible if some purchase is not registered or is lost due to any network problems such as breakdown of machinery, unclear/ disruption in the network or non-receipt of payment from banks/payment gateways and/or the cost(s) charged by the network operator(s). Any dispute in connection to the same shall be settled between the end customer and the network operator without involving CraftySmile.
                                                                    </P>
                                                                    <P>22. CraftySmile shall not be liable for any loss or damage due to Act of God, Governmental actions, force majeure circumstances, or any other reason beyond its control, and shall not be liable to pay any monetary compensation or otherwise for the same.</P>
                                                                    <P>23. You hereby agree to indemnify and keep CraftySmile harmless against all damages, liabilities, costs, expenses, claims, suits and proceedings (including reasonable attorney’s fee) that may be suffered by CraftySmile as a consequence of (i) violation of terms of this Policy by You (ii) violation of applicable laws (iii) any action or inaction resulting in willful misconduct or negligence on Your part.</P>
                                                                    <P>24. CraftySmile does not hereby warrant that the CraftySmile call center will run concurrently and error free during and/or after the 'Offer and CraftySmile shall not be directly liable for issues related to technical and/or human error whatsoever. However, CraftySmile shall work towards the best interest of the customer.
                                                                    </P>
                                                                    <P>25. This Offer is subject to the laws of India and all disputes arising hereunder shall be subject to the jurisdiction of courts, tribunals or any other applicable forum at Bengaluru.
                                                                    </P>
                                                                    <P>26. The minimum shopping value shall be calculated on the net amount received by CraftySmile after deducting, returns, cancellation, refunds and other deductions.[ML7]</P>
                                                                    <P>27. These coupons are for the sole purpose of the participants’ use from his registered Email ID and not for the purpose of further re-sale, promotion or distribution. CraftySmile reserves the right to revoke the discount benefits at its discretion if such fraudulent activities are suspected</P>


                                                                    <div class="page18">
                                                                        <h3>19. Alteration Services</h3>
                                                                        <P>The free alteration services are being extended to You by CraftySmile Designs Private Limited (“CraftySmile”) on select items and categories solely (“Alteration Services”) for the purchases made by you on the CraftySmile Platform, i.e. www.craftysmile.com, its m-site and /or mobile application available on android and IOS (hereinafter referred to as “CraftySmile Platform”), subject to the below terms and conditions:</P>
                                                                        <P>The said Alteration Services are “Free of Cost” as of now and You shall not be charged any fee for the same. In the event our partner requests any payment, whether in cash or kind, please raise the issue to us immediately by writing an email to the customer care team.</P>
                                                                        <P>PLEASE NOTE THAT ANY PRODUCT GIVEN BY YOU FOR ALTERATION SHALL BE NON-RETURNABLE AND NON-REFUNDABLE. PLEASE DO NOT AVAIL THE ALTERATION SERVICES IF YOU WISH TO RETURN THE PRODUCT. ALTERATION SERVICES ARE BEING EXTENDED ON AN “AS IS” BASIS AND MAY BE AVAILED BY YOU AT YOUR SOLE RISK AND EXPENSE..</P>
                                                                        <P>The Alteration Services are limited to the products purchased by You on the CraftySmile Platform only. Please do not ask our partner to alter any product purchased from a third party.</P>
                                                                        <P>There are two possible modes / options available to You for providing your measurements for the Alteration Services:
                                                                        </P>
                                                                        <P>Doorstep Measurements: In this mode, our alteration partner comes to your doorstep and takes your physical measurements. The products are altered as per the measurements taken by the said alteration partner.</P>
                                                                        <P>Sample: In this mode, you provide a suitable sample to our alteration partner at your doorstep, at your risk. The products are altered as per the measurements of the sample provided by You, and the sample is returned to You along with the altered product.</P>
                                                                       <P>CraftySmile may, in its sole discretion, offer one or both modes to You.</P>
                                                                       <P>The mode(s) / options (s) available to You for providing the measurements shall be displayed to You on the CraftySmile Platform at the time of placing the alteration request. In the event both the modes are available to You, You shall be required to choose the appropriate mode at the time of placing the request.</P>
                                                                       <P>CraftySmile does not make any warranty with respect to accuracy and correctness of the doorstep measurements or the Alteration Services or the conduct of the alteration partner nor does CraftySmile make any warranty or representation with respect to quality, wear-ability or correctness of the products altered using the Alteration Services.
                                                                    </P>
                                                                       <P>The Alteration Services including any ‘doorstep measurements’ taken by our alteration partners and collection of “samples” are being extended to You on an as is and as available basis and being availed by You at Your sole risk and expense, including the sample provided by You.</P>
                                                                       <P>.In the event You are not comfortable with our alteration partners for any reason whatsoever, You may (i) cancel the alteration request on CraftySmile Platform instantly; or (ii) ask the alteration partner to leave your premises immediately and reach out to our customer care team.</P>
                                                                       <P>10.In the event of any visible damage and/or loss of the sample product by our alteration partners, the liability of CraftySmile shall be limited to refunding the following amounts to You: Maximum Liability of CraftySmile</P>
                                                                       <P>*For Jeans: In case of Visible Damage – Rs. 500/-. In case lost by the alteration partner – Rs. 1000/-</P>
                                                                       <P>*For Trousers: In case of Visible Damage – Rs. 500/-. In case lost by the alteration partner – Rs. 1000/-</P>
                                                                       <P>*For Kurta / Kurti: In case of Visible Damage – Rs. 300/-. In case lost by the alteration partner – Rs. 600/-</P>
                                                                      <P>*For Kurta / Kurti: In case of Visible Damage – Rs. 300/-. In case lost by the alteration partner – Rs. 600/-</P>
                                                                      <P>You understand and agree that the samples are being provided to us at your sole risk; and irrespective of the purchase price / maximum retail price of the sample provided by You, the amounts specified above represent the entire and maximum liability of CraftySmile and Your sole remedy, in case of any visible damage or loss of the sample provided by You. You further understand and agree that the decision of CraftySmile shall be final and binding in this regard. The amount shall be refunded by CraftySmile into the bank account provided by You, upon due verification by CraftySmile, within a period of 3 (three) to 5 (five) business days from the date You provide your bank account details.
                                                                    </P>
                                                                      <P>In case You are dissatisfied with the Alteration Services or require any clarity on the Alteration Services, please write to our customer care team.</P>
                                                                      <P>Your use of the Alteration Services is subject to the Terms of Use and Privacy Policy of CraftySmile Platform.
                                                                    </P>
                                                                      <P>CraftySmile reserves the right to modify the terms of provisioning of the Alteration Services in its sole discretion and without notice.</P>
                                                                         

                                                                        <div class="page19">
                                                                            <h3>20. Cart Notification</h3>
                                                                            <P>You understand that, in the event selected products in your cart is out of the inventory, CraftySmile provides You an option in your cart to select the product of another seller, You understand that price of the product by another seller may differ.</P>
                                                                             

                                                                            <div class="page20">
                                                                                <h3>21. Multiple Sellers</h3>
                                                                                <P>You understand that products of a particular style may be sold on the Platform by multiple sellers and the product price on the listing page of the Platform, may not always reflect the lowest price for that particular style. This is because the seller whose price is displayed on the list page is selected based on the application of a number of parameters and price is only one such parameter. However, once you land on the product display page on the Platform for a specific style, You will have access to the price offered by all sellers on the Platform for the relevant style.</P>
                                                                                 

                                                                                <div class="page21">
                                                                                    <h3>22. Convenience Fee</h3>
                                                                                    <P>Subject to the Terms of Use and the below terms and conditions, CraftySmile may levy a convenience fee on all low value orders on the CraftySmile Platform, as detailed in FAQ (https://www.craftysmile.com/faqs) and for cases provided under point 5 below, hereinafter collectively referred to as “Convenience Fee”.</P>
                                                                                    <P>The Convenience Fee shall be specified on the shopping bag page on the CraftySmile Platform.
                                                                                    </P>
                                                                                    <P>The Convenience Fee shall be charged on the overall order value.
                                                                                    </P>
                                                                                    <P>CraftySmile reserves the right to modify/waive off the Convenience Fee from time to time.</P>
                                                                                    <P>The Convenience Fee shall be quoted in Indian Rupees. You shall be solely responsible for compliance of all applicable laws for making payments to CraftySmile Designs Private Limited.</P>
                                                                                    <P>To protect the rights of customers, CraftySmile reserves the right to collect Convenience Fee for all orders and disable cash on delivery option for accounts which have high percentage of returns and shipments not accepted, of the number of orders placed through such accounts.</P>
                                                                                   <div class="page22">
                                                                                       <h3>23. Grievance Officer</h3>
                                                                                       <P>In accordance with Information Technology Act 2000 and rules made there under and the Consumer Protection (E-Commerce) Rules, 2020, the name and contact details of the Grievance Officer are provided below:</P>

                                                                                   </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                           
                                                      </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    </div>
