    
  <div class="container">
        <div class="card-group">
          <div class="card">
            <img src="assets/images/products/aq1.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00  
              <p class="card-text"><small class="text-muted">(₹ 129.80 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/aq1.jpg" class="card-img-top text-center mt-3 img-fluid" alt="...">
            <div class="card-body">
              <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o c"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00  
              <p class="card-text"><small class="text-muted">(₹ 163.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/aq1.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00
              <p class="card-text"><small class="text-muted">(₹ 270.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/aq1.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip </p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o c"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00 
              <p class="card-text"><small class="text-muted">(₹ 270.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <img src="assets/images/products/img2.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00  
              <p class="card-text"><small class="text-muted">(₹ 129.80 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/img2.jpg" class="card-img-top text-center mt-3 img-fluid" alt="...">
            <div class="card-body">
              <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o c"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00  
              <p class="card-text"><small class="text-muted">(₹ 163.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/img2.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00 
              <p class="card-text"><small class="text-muted">(₹ 270.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/products/img2.jpg" class="card-img-top mt-3 img-fluid" alt="...">
            <div class="card-body">
             <a href=""><p class="card-text a">LetsShave Pro 3 Disposable Shaving Razor for Men, Triple Blade Razor with Rubber Grip</p></a>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o c"></span>
              <span class="fa fa-star"></span>
               831 <br>
               ₹467.00 
              <p class="card-text"><small class="text-muted">(₹ 270.00 / count)</small></p>
              <button class="btn btn-success s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  ADD TO CART</button>
            </div>
          </div>
        </div>
  </div>
