.checked{
    color: #ff9f1a;
}
img{
    width: 150px;
    align-self: center;
}
.a{
    font-size: small;
}
.c{
    color:#ff9f1a ;
}
a
{
    color: black;
}
.s{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
