<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header  (someEvent)="getdata()"></app-header>

<section class="pt-4 mt-5 pt-lg-5 mt-lg-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-4 mb-3">
        <h4> Product List </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-6 col-6" *ngFor="let prod of data">
  <div class="product-grid4" >
    <div class="product-image4">
       <a (click)="productview(prod._id)" >
        <img *ngIf="prod.image[0]" [src]="prod.image[0].img_name" />
         <!-- <img class="pic-1" src="assets/images/products/products1.png">
        <img class="pic-2" src="assets/images/products/products1.png">  -->

      </a> 
      <div class="product-content">
        <h3 class="title"><a >{{prod.productName}}</a></h3>
        <div class="price"> 
         {{prod.price}} <small> <del>Rs.{{prod.original_price}}</del></small>
        </div>
        <a (click)="addcart(prod._id)"  class="add-to-cart" href="">ADD TO CART</a>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</section>


<app-footer></app-footer>
