<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>

<section class="pt-1 mt-1 pt-lg-5 mt-lg-5">
  <div class="container-scroller mt-4">
    <!-- partial -->
    <div class="container">
      <!-- partial:partials/_sidebar.html -->
      <!-- partial -->
      <div class="row">

        <div class="col-md-12 col-xl-8">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h5> Payment </h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body ">
              <div class="payment">
                <form action="">
                <div class="payout">
                  <h6> Select payment process</h6>
                  <div class="upi-options">
                    <div class="upi mt-4">
                      <mat-radio-group (click)="select('cod')" aria-label="Select an option">
                        <mat-radio-button value="1"> <span class="upi-option pl-2"> <img
                              src="assets/images/payment/payment.svg" alt=""> Cash on delivery </span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="upi mt-4">
                      <mat-radio-group (click)="select('Online')" aria-label="Select an option">
                        <mat-radio-button value="1"> <span class="upi-option pl-2"> <img
                              src="assets/images/payment/credit-card.svg" alt=""> Online payment </span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>

                  </div>

                </div>
                <button (click)="placeorder()" [disabled] ="!mode" class="btn btn-primary btn-color btn-icon-text mb-2 mt-3"> Place Order </button>
              </form>
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" (click)="mode = 'cod'" >
    <a class="nav-link active"  data-toggle="tab" href="#home" role="tab" aria-controls="home"> Cash on Delivery </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"> UPI </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Net Banking </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"> Credit/Debit Card</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
     <div class="payout">
      <h6> Pay using UPI</h6>
      <div class="upi-options">
        <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/phonepe-logo.svg" alt=""> PhonePe </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/google-pay.svg" alt=""> Google Pay </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/paytm.svg" alt=""> PayTm </span> </mat-radio-button>
  </mat-radio-group>
      </div>
      </div>
      <button class="btn btn-primary btn-color btn-icon-text mb-2 mt-3"> Place Order </button>
    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
     <div class="payout">
      <h6> Pay using UPI</h6>
      <div class="upi-options">
        <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/phonepe-logo.svg" alt=""> PhonePe </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/google-pay.svg" alt=""> Google Pay </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> <img src="assets/images/payment/paytm.svg" alt=""> PayTm </span> </mat-radio-button>
  </mat-radio-group>
      </div>
      </div>
      <button class="btn btn-primary btn-color btn-icon-text mb-2 mt-3"> Place Order </button>
    </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel">
     <div class="payout">
      <h6> Net Banking </h6>
      <div class="upi-options">
        <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> Axis Bank </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
         <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> SBI Bank </span> </mat-radio-button>
  </mat-radio-group>
      </div>
       <div class="upi mt-4">
        <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1"> <span class="upi-option pl-2"> Kotak Bank </span> </mat-radio-button>
  </mat-radio-group>
      </div>
      <div class="upi mt-3">
        <input list="browsers" name="browser" id="browser" class="border">

<datalist id="browsers">
   <option value="UCO Bank">
   <option value="RBI Bank">
</datalist>
      </div>
      </div>
      <button class="btn btn-primary btn-color btn-icon-text mb-2 mt-3"> Place Order </button>
    </div>
  </div>
  <div class="tab-pane" id="settings" role="tabpanel">
    <div class="payout">
      <h6> Credit/Debit Card</h6>
      <form action="" class="form mt-3">
        <div class="row">
          <div class="col-md-12 p-0">
            <div class="card-deatils">
              <input type="text" name="" id="" class="form-control height" placeholder="Card Number">
            </div>
          </div>
          <div class="col-md-12 p-0 mt-3">
            <div class="card-deatils">
              <input type="text" name="" id="" class="form-control height" placeholder="Name on card">
            </div>
          </div>
          <div class="col-md-12 p-0 mt-3">
            <div class="row">
              <div class="col-9">
                <div class="card-deatils">
              <input type="date" name="" id="" class="form-control height" >
            </div>
              </div>
              <div class="col-3 pl-0">
                <div class="card-deatils">
              <input type="text" name="" id="" class="form-control height" placeholder="CVV">
            </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary btn-color btn-icon-text mb-2 mt-3"> Place Order </button>
    </div>
  </div>
</div> -->

              </div>
            </div>
          </div>

        </div>


        <div class="col-md-12 col-xl-4">
          <div class="cart-total">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h5> Price Details (1 Item) </h5>
                </div>
              </div>
            </div>
            <div class="cart-price-blog">
              <table class="table table-borderless cart-table border-bottom">
                <tr>
                  <td> Total MRP </td>
                  <td> <span> &#8377;{{calAmount.totalMRP}}</span></td>
                </tr>
                <tr>
                  <td> Discount on MRP </td>
                  <td> <span> &#8377;{{calAmount.totalDiscountPrice}} </span></td>
                </tr>
                <tr>
                  <td> Coupon Discount </td>
                  <td> <span> &#8377;{{calAmount.coupenDiscount}}</span></td>
                </tr>
                <tr>
                  <td> Delivery Charges </td>
                  <td> <span> &#8377;{{calAmount.totalTransaportingCharge}}</span></td>
                </tr>
                <tr class="devider"></tr>
                <tr class="font-weight-bold border-top">
                  <td> Total Amount </td>
                  <td> <span> &#8377;{{calAmount.totalAmount}}</span></td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->


  </div>
</section>
