.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 0px solid #ddd;
    padding-right: 0px;
    background: #eaeaea;
    height: 100vh;
}
.nav-tabs .nav-item .nav-link.active {
    border-left: 3px solid #5646ff!important;
        background: #fff;
}
.nav-tabs .nav-item .nav-link {
    border: 0;
    background: transparent;
    padding: 14px 60px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    border-left: 3px solid #eaeaea !important;
}
.cart-table{
    tr{
        td{
            padding: 12px 1px;
        }
        td:last-child{
            text-align: right;
        }
    }
}
.upi img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 2px;
    margin-right: 4px;
}
