<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<section class="login-wrapper">
<div class = "container">
    <div class = "row justify-content-center">
        <div class="col-md-4 ">
            <div class="login-form login-page">
             <h5>Login or Signup</h5>
                <form (ngSubmit)="runMyAPI()">
                    <div class="form-group">
                        <input autocomplete="new-password" id="" type="tel" name="password" [(ngModel)]="user.mobile" class="form-control mobileNumberInput" placeholder="+91 | Mobile Number" maxlength="10" value="">
                        <!-- <input autocomplete="new-password" id="" type="email" name="email" [(ngModel)]="user.email" class="form-control mobileNumberInput" placeholder="Email" maxlength="64" value=""> -->
                        <input autocomplete="new-password" id="" type="password" name="userpasword" [(ngModel)]="user.password" class="form-control mobileNumberInput mt-2" placeholder="Password" maxlength="64" value="">
                    </div>

                    <div class="midLinks">
                        By continuing, I agree to the <a href="/terms" onclick="openTerms()">Terms of Use</a> &amp; <a href="/privacy">Privacy Policy</a>
                    </div>

                    <button type="submit" class="btn btn-block">CONTINUE</button>
                    <hr>
                    <h6 routerLink="/registration" >Dont't have an Account? Register Now</h6>
                    <hr>
                    <div class="get-help" >Have trouble logging in? <span routerLink="/Contact">Get help</span></div>
                </form> 
                </div>
        </div>
        <!-- <div class= "col-md-4">
            <div class="login-page">
                <h5>Login or Signup</h5>
                <form (ngSubmit)="runMyAPI()">
                    <div class="form-group">
                        <input autocomplete="new-password" id="" type="tel" name="password" [(ngModel)]="user.mobile" class="form-control mobileNumberInput" placeholder="+91 | Mobile Number" maxlength="10" value="">
                        
                        <input autocomplete="new-password" id="" type="password" name="userpasword" [(ngModel)]="user.password" class="form-control mobileNumberInput mt-2" placeholder="Password" maxlength="64" value="">
                    </div>

                    <div class="midLinks">
                        By continuing, I agree to the <a href="/terms" onclick="openTerms()">Terms of Use</a> &amp; <a href="/privacy">Privacy Policy</a>
                    </div>

                    <button type="submit" class="btn btn-block">CONTINUE</button>
    
                    <div class="get-help">Have trouble logging in? <span>Get help</span></div>
                </form>
            </div>
        </div> -->
    </div>
</div>
</section>   
