<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header> 
<section class="common-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<ul class="breadcrumb bg-warning">
  <li class="breadcrumb-item"><a href="#" class="a-color">Home</a></li>
  <li class="breadcrumb-item active">Product View</li>
</ul>
            </div>
        </div>
    </div>

<section>
    	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
						
						
						<div class="preview-pic tab-content">
							<img *ngIf="data" [src]="currentImage" />
						  <!-- <div class="tab-pane active" id="pic-1"><img src="assets/images/products/products1.png" /></div>
						  <div class="tab-pane" id="pic-2"><img src="assets/images/products/products1.png" /></div>
						  -->
						</div>
						<ul class="preview-thumbnail nav nav-tabs" *ngFor="let imgdata of data.image">
						  <!--<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="assets/images/products/products1.png" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="assets/images/products/products1.png" /></a></li>-->
						 <li>
							<a data-target="#pic-1" data-toggle="tab">
								<img [src]="imgdata.img_name" (click)="selectImage(imgdata.img_name)" />
							</a>
						 </li>
						</ul>
						
					</div>
					<div class="details col-md-8">
						<h3 class="product-title">{{data.productName}}</h3>
						<!-- <div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div> -->
						<div class="product-description text-justify"> <strong> Description: </strong><div  [innerHTML]="data.summery"> 
             
						</div></div>
						<h4 class="price">Rs.{{data.price}}<small *ngIf="data.original_price" ><del>{{data.original_price}}/-</del></small> </h4>
						<p class="vote text-success"><strong>(inclusive of all taxes)</strong></p>
						<h6 class="sizes"> category
							<span class="size" data-toggle="tooltip" title="small">{{data.category_id.categoryName}} </span>
							
						</h6>
						
						<div class="action">
							<button class="add-to-cart btn btn-default mb-2 mr-2 " type="button" (click)="buynow()" >Buy Now</button> 
							<button class="add-to-cart btn btn-default " type="button" (click)="addcart(data._id)" >Add Cart</button>
						</div>
												
												<!-- <div class="action">
													
																			</div> -->
                        <div class="delivery border-top mt-3 pt-3">
                            <h6 class="sizes">DELIVERY OPTIONS </h6>
                            <ul>
                                <li> 100% Original Products </li>
                               
                            </ul>
                        </div>
                        
					</div>
				</div>
			</div>
		</div>
	</div>
 </section>
</section> 
<app-footer></app-footer>   


