<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>
<app-header></app-header>
<section class="pt-5 mt-5 pt-lg-5 mt-lg-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Subcategory List</h4>
      </div>
    </div>
      <div class="desktop-category ">
      <div class="row">
        <div class="col-4 col-md-2" *ngFor="let rel of data">
          <div (click)="product(rel._id,rel.interiorSubcategoryStatus)" class="desk-category text-center">
            <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name" />
            <div class="cate-name">{{rel.name}}</div>
          </div>
        </div>
      </div>
    </div>  
  <!-- <div class="slider d-lg-none">
      <div class="slides">
        <div class="category text-center" *ngFor="let rel of data">
          <div (click)="product(rel._id,rel.interiorSubcategoryStatus)">
          <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name" />
          <div class="cate-name">{{rel.name}}</div>
          </div>
        </div>

      </div>
    </div>   -->
  </div>
</section>
 <app-footer></app-footer> 
