.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
}
.books img{
    width: 345px;
    height: 300px;
}
@media (min-width: 310px) and (max-width: 470px){
    .books img{
        width: 300px;
        height: 300px;
    }
}
