<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <div class="element two bg-white">
      <img src="assets/images/logo.png" alt="" class="roting" />
    </div>
    <h1>&nbsp;</h1>
  </ngx-spinner>
  
  <app-header></app-header>
  <section class="pt-5 mt-5 pt-lg-5 mt-lg-5 mb-5">
    
      <div class="container books ">
          <h4  class="product-title text-center text-danger mb-5">{{data.productName}} Interior Designs</h4>
          <div class="row mb-2 mr-2 ml-2 ">
            <div class="preview-pic tab-content  text-center mr-2 ml-2 mb-3" *ngFor="let imgdata of data.image">
							<img [src]="imgdata.img_name"  />
					</div>
						<!-- <ul class="preview-thumbnail nav nav-tabs" >
						 <li>
							<a data-target="#pic-1" data-toggle="tab">
								<img [src]="imgdata.img_name" (click)="selectImage(imgdata.img_name)" />
							</a>
						 </li>
						</ul> -->
              
          </div>
      </div>
  
 <section>
<section><br><br>
    <div class="container  ">
        <div class="row ">
          <div class="col-md-12">
            <div class=" shadow-sm ">
            
            <!-- <div class="row"> -->
            <!-- <div class="col-6 col-md-6">
                <p class="text-right">Primary Material</p>
                <p class="text-right">Warranty</p>
                <p class="text-right">Shutter Finish</p>
                <p class="text-right">Hardware</p>
            </div>
            <div class="col-6 col-md-6">
                <p>Engineered Wood</p>
                <p>5 year</p>
                <p>Laminate Matt</p>
                <p>Smart</p>
               
            </div>
           </div> -->
            <!-- <p class="mr-2 ml-2">A balcony can add more elegance to the overall exterior aesthetics of your homes. Balconies are great venues for family and friends gathering, weekend barbeques, relaxing, enjoying the views, and watching the world go by.

                If you are considering adding a balcony structure at home, do you already have a design ready? Or do you know what balcony decking design is suitable for your home?
                
                Below are the different types of balconies that will help you come up with the balcony structure that will work best for your home.
                
             </p> -->
             <div class="product-description text-justify text-center "> <strong> Description </strong><div  [innerHTML]="data.summery"> 
             
						</div></div>
        </div>
      </div>
    </div>
    </div>
</section>
   
  <section class="pt-4 mt-5 pt-lg-4 mt-lg-5"><br>
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form  name="form" (ngSubmit)="f.form.valid && bookconsultant()" #f="ngForm" novalidate>
                      <h4 class="text-center">GET CLOSER TO YOUR DREAM HOME</h4>
                      <p class="text-center">Give Us Your Detail's , We'll Call Back</p>
                      <div class="form-group mr-3 ml-3">
                       
                        <input type="Name" #name="ngModel" class="form-control" [(ngModel)]=" consultantdetails.name"  id="exampleInputName" aria-describedby="name" placeholder="Enter Full Name" name="username"  required   [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
                        <span class="text-danger" *ngIf="name.invalid && f.submitted " >please enter  Name </span>
                      </div>
                      <div class="form-group  mr-3 ml-3">
                        
                        <input type="email"  #email="ngModel" class="form-control" [(ngModel)]=" consultantdetails.email"  id="exampleInputEmail" placeholder="Email" name="email" required   [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
                        <span class="text-danger" *ngIf="email.invalid && f.submitted " >please enter  Email </span>
                      </div>
                      <div class="form-group  mr-3 ml-3">
                        
                        <input type="number"  #mobile="ngModel" class="form-control" [(ngModel)]=" consultantdetails.mobile"  id="exampleInputNumber" placeholder="Contact Number" name="number" required   [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }">
                        <span class="text-danger" *ngIf="mobile.invalid && f.submitted " >please enter  Number </span>
                      </div>
                      <div class="form-group mr-3 ml-3 ">
                        
                        <input type="city"  #city="ngModel" class="form-control" [(ngModel)]=" consultantdetails.city"  id="exampleInputCity" placeholder="City" name="city" required   [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" >
                        <span class="text-danger" *ngIf="city.invalid && f.submitted " >please enter City </span>
                      </div>
                      <div class="text-center mr-3 ml-3 mb-2">
                        <button type="submit"  class="btn btn-danger" >Book Free Consultation</button>
                       </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</section><br>
<app-footer></app-footer>
