.account-account {
    display: block;
  }
  .account-heading {
    font-size: 18px;
    font-weight: 800;
  }
  .sidebar-sidebar {
    display: inline-block;
  }
  .segment-segment:first-child {
    border-top: none;
  }
  .segment-link {
    display: block;
    margin: 5px 0px;
  }
  .segment-segment {
    border-top: 1px solid #d4d5d9;
    padding: 20px 0px;
    width: 145px;
  }
  .segment-heading {
    color: #7e818c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0px;
  }
  .segment-link {
    display: block;
    margin: 5px 0px;
  }
  
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-left: 160px;
    padding-top: 30px;
  }
  .main{
    padding: 15px;
    margin-top: 15px;
    border-style: solid;
    border-color: rgb(235, 227, 227);
   
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven
  
  {
    padding: 10px;
    margin: 10px;
   
  }
  .eight{
    font-weight: 800;
      padding: 10px;
      margin: 10px;
      color: white;
      border-radius: 20px;
      border: none;
      outline: none;
      cursor: pointer;
  }
  .btn{
    background-color: crimson;
  }
  .nine{
    font-weight: 800;
      padding: 10px;
      margin: 10px;
      color: white;
      border-radius: 20px;
      border: none;
      outline: none;
      cursor: pointer;
  }









  .custom-card.card {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    border: none !important;
}
.custom-card.card .card-header {
    background-color: #fff;
    padding: 0px;
    border-bottom: 1px solid #ecf3fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.custom-card.card .card-header img {
    border-radius: 50%;
    margin-top: -100px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.custom-card .card-profile {
    text-align: center;
}
.custom-card {
    overflow: hidden;
    padding: 30px;
}
.custom-card .card-profile img {
    height: 150px;
    padding: 7px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.custom-card .card-social {
    text-align: center;
}
.custom-card .card-social li {
    display: inline-block;
    padding: 15px 0;
}
.custom-card .card-social li a {
    padding: 13px;
    color: #bcc6de;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-card .profile-details h6 {
    margin-top: 10px;
    color: rgba(43, 43, 43, 0.7);
    font-size: 14px;
}
