<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> 

<app-header></app-header> 
<div class="container">
    <div class="row  justify-content-center">
      <div class = "col-sm-8 justify-content-center">

        <div class="sidenav d-none d-lg-block">
          <div class="account-account">
            <div class="account-heading">Account</div>
          </div>
          <div class="sidebar-sidebar">
            <div class="segment-segment">
              <div class></div>
              <a href="" class="segment-link">Overview</a>
            </div>
            <div class="segment-segment">
              <div class="segment-heading">ORDERS</div>
              <a href="" class="segment-link">Orders & Returns </a>
            </div>
            <div class="segment-segment">
              <div class="segment-heading">CREDITS</div>
              <a href="" class="segment-link">Coupons</a>
              <a href="" class="segment-link">Smilly Credits</a>
              <a href="" class="segment-link">SmillyCash</a>
            </div>
            <div class="segment-segment">
              <div class="segment-heading">ACCOUNT</div>
              <a href="" class="segment-activelink segment-link">>Profile</a>
              <a href="" class="segment-link">Saved Cards</a>
              <a href="" class="segment-link">addresses</a>
            </div>
            <div class="segment-segment">
              <div class="segment-heading">LEGAL</div>
              <a href="" class="segment-link">Terms of use</a>
              <a href="" class="segment-link">Privacy policy</a>
            </div>
            
          </div>
        </div>




        















           <div class="main">
            <h5>Edit Details</h5>
        <form>
            <div class="one">
            <input type="tel" name="mobile" [(ngModel)]="user.mobile"  class="form-control" id="phone" placeholder="Phone">
          </div>
          <div class="one">
            <input type="text" name="name" [(ngModel)]="user.name"  class="form-control" id="fullName" placeholder="Full Name">
          </div>
          <div class="three">
            <input type="email" name="email" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Email">
          </div>  
          <!-- <div class="four"> 
            <label>Gender</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="option"  name="inlineRadioOptions" id="male" value="Male">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="option" name="inlineRadioOptions" id="female" value="Female">
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="option"  name="inlineRadioOptions" id="others" value="Others">
              <label class="form-check-label" for="inlineRadio3">Others</label>
            </div>
          </div> -->

          <!-- <div class="five">
            <input type="date" name="date"  class="form-control" data-date-format="mm/dd/yyyy" id="dob">
          </div>

          <div class="six">
            <input type="text" name="location" class="form-control" id="location" placeholder="Location">
          </div>


          <div class="seven">
            <h6>Alternate Mobile Number</h6>
            <input type="tel" name="phone" class="form-control" id="altNum" placeholder="+91 | Mobile Number">
          </div> -->



          <!-- <div class="eight">
            <button (click)="updateDetail()" type="button" class="btn btn-block">SAVE DETAILS</button>
          </div>

          <div class="nine">
            <button type="button" class="btn btn-block">CHANGE PASSWORD</button>
          </div>
        </form>
        </div> -->

    
      
      

    
<app-footer></app-footer>