<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-scroller">
  
  <app-admin-navbar></app-admin-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>Interior Product Category</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
   <h4 class="card-title">Add Interior Category</h4>
                <div class="form-group row">
                  <div class="col-lg-3 col-12">
                    <label>Interior Category Name</label>
                    <input
                      type="text"
                      [(ngModel)]="categoryName"
                      name="categoryName"
                      class="form-control mb-2 mr-sm-2"
                      id="inlineFormInputName2"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-lg-3 col-12">
                    <label>Interior Category Image</label>
                    <input
                    type="file" (change)="fileProgress($event)"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Add"
                  />
                 </div>
                 
                  <div class="col-lg-3 col-12">
                    <label> &nbsp; </label>
                    <button
                      (click)=" uploadFile()"
                      type="button"
                      class="
                        btn btn-primary btn-icon-text
                        form-control
                        mb-2
                        mr-sm-2
                      "
                    >
                      <i class="mdi mdi-file-check btn-icon-prepend"></i>
                      Add
                    </button>
                  </div>
                </div>
                      </div>
                    </div>
          </div>
         
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
              <h4 class="card-title">Interior Category List</h4>
               
                
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <div
                        id="order-listing_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                      >
                        
                        <div class="row">
                          <div class="col-sm-12">
                            <table
                              id="order-listing"
                              class="table dataTable no-footer"
                              role="grid"
                              aria-describedby="order-listing_info"
                            >
                              <thead>
                                <tr role="row">
                                  <th
                                    class="sorting_asc"
                                    tabindex="0"
                                    aria-controls="order-listing"
                                    rowspan="1"
                                    colspan="1"
                                    aria-label="Order #: activate to sort column descending"
                                    aria-sort="ascending"
                                    style="width: 59.3906px"
                                  >
                                     #
                                  </th>
                                 
                                  <th
                                    class="sorting"
                                    tabindex="0"
                                    aria-controls="order-listing"
                                    rowspan="1"
                                    colspan="1"
                                    aria-label="Purchased On: activate to sort column ascending"
                                    style="width: 108.953px"
                                  >
                                    Name
                                  </th>
                                  <th
                                    class="sorting"
                                    tabindex="0"
                                    aria-controls="order-listing"
                                    rowspan="1"
                                    colspan="1"
                                    aria-label="Customer: activate to sort column ascending"
                                    style="width: 76.7656px"
                                  >
                                    Image
                                  </th>
                                 
                                 
                                  <th
                                    class="sorting"
                                    tabindex="0"
                                    aria-controls="order-listing"
                                    rowspan="1"
                                    colspan="1"
                                    aria-label="Actions: activate to sort column ascending"
                                    style="width: 60.7344px"
                                  >
                                    Actions
                                  </th>
                                </tr>
                              </thead>
                              <tbody *ngFor="let rel of data;let i=index" >
                                <tr role="row" class="odd">
                                  <td class="sorting_1">{{i+1}}</td>
                                  <td>{{rel.categoryName}}</td>
                                  <td>
                                      
                                       <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name" /> 
                                    </td>  
                                 
                                  <td>
                                    
                                    <button (click)="addSub(rel._id)" class="btn btn-outline-primary btn-sm btn-rounded">Interior SubCategory </button>
                                    <button (click)="editcat(rel)" class="btn btn-success mx-2 btn-sm btn-rounded" 
                                      data-toggle="modal"
                                      data-target="#categoryEdit"> Edit </button>
                                    <button (click)="deleteproduct(rel._id)" class="btn btn-danger btn-sm btn-rounded"> Delete </button>
                                  </td>
                                </tr>
                               
                              </tbody>
                            </table>
                          </div>
                        </div>
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <app-admin-footer></app-admin-footer>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  
   <ng-template  #fileUpload let-c="close" let-d="dismiss">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="payment-destails p-3">
            <table class="table table-bordered">
                <tr>
                  <td *ngIf="!uploadedFilePath"> Upload Payment Slip</td>
                  <td *ngIf="uploadedFilePath"> {{uploadedFilePath}}</td>
                  
                  <td> <input type="file" (change)="fileProgress($event)" class=""></td>
                </tr>
                <tr *ngIf="percent1">
                  <td > Upload progress: </td>
                  <td>{{ percent }}% </td>
                </tr>
            </table>
            <div class="text-center">
                <button (click)="uploadFile()" class="btn btn-outline-primary mr-2">Upload</button>
                <button (click)="c()" class="btn btn-outline-primary">Closed</button>
            </div>
          </div>
       
          </div>
        </div>
      </div>
    </section>
  </ng-template> 
  
  <!-- ***************************************** -->
  <div class="modal fade" id="categoryEdit">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Category</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div>
          <div class="form-group row">
                  <div class="col-lg-3 col-12">
                    <label>Interior Category Name</label>
                    <input
                      type="text" [(ngModel)]="interiorcategory.categoryName"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-lg-3 col-12">
                    <label>Interior Category Image</label>
                    <input
                    type="file" (change)="fileProgress($event)"
                    class="form-control mb-2 mr-sm-2"
                    placeholder="Add"
                  />
                 </div>
                 
                  <div class="col-lg-3 col-12">
                    <label> &nbsp; </label>
                    <button (click)="updateCategory()"
                      type="button" data-dismiss="modal"
                      class="
                        btn btn-primary btn-icon-text
                        form-control
                        mb-2
                        mr-sm-2
                      "
                    >
                      <i class="mdi mdi-file-check btn-icon-prepend"></i>
                      Save Changes
                    </button>
                  </div>
                </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>

