<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
  <app-saler-navbar></app-saler-navbar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-saler-sidenavbar></app-saler-sidenavbar>
    <!-- partial -->
    <div class="main-panel">
      <div class="container-fliud">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Product List</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            
              <h4 class="card-title">Product List</h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div
                      id="order-listing_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div
                            class="data table_length"
                            id="order-listing_length"
                          >
                            <label
                              >FILTER
                            
                              <select (change)="getdata($event.target.value)" class="form-control" id=""name="order-listing_length"
                              aria-controls="order-listing">
                                  <option value='pending'> Pending</option>
                                   <option value='accept'> accepted </option>
                                   <option value='reject'> rejected </option>
 
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <table
                            id="order-listing"
                            class="table dataTable no-footer"
                            role="grid"
                            aria-describedby="order-listing_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                  class="sorting_asc"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Order #: activate to sort column descending"
                                  aria-sort="ascending"
                                  style="width: 59.3906px"
                                >
                                  Sr.No
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Date
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Product Name
                                </th>

                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Base Price: activate to sort column ascending"
                                  style="width: 83.7188px"
                                >
                                  Base Price
                                </th>
                                <!-- <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased Price: activate to sort column ascending"
                                  style="width: 126.906px"
                                >
                                  summery
                                </th> -->
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Image
                                </th>

                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Actions: activate to sort column ascending"
                                  style="width: 60.7344px"
                                >
                                  Actions
                                </th>
                          

                              </tr>
                            </thead>
                            <tbody *ngFor="let rel of data; let i = index">
                              <tr role="row" class="odd">
                                <td class="sorting_1">{{ i + 1 }}</td>
                                <td>{{ rel.createdAt | date }}</td>
                                <td>{{ rel.productName }}</td>
                                <td>{{ rel.price }}</td>
                                <!-- <td>{{ rel.summery }}</td> -->

                                <td>
                                  <img
                                    *ngIf="rel.image"
                                    [src]="rel.image[0].img_name"
                                  />
                                </td>
                                <td>
                                  <button (click)="edit(rel)" 
                                    class="
                                      btn btn-outline-primary btn-sm btn-rounded
                                    "
                                    data-toggle="modal"
                                    data-target="#ViewProdict"
                                  >
                                    View
                                  </button>
                                  <button 
                                    class="
                                      btn btn-success
                                      mx-2
                                      btn-sm btn-rounded
                                    "
                                    (click)="open(content);edit(rel)"
                                  >
                                    Edit
                                  </button>
                                  <button
                                    (click)="deleteproduct(rel._id)"
                                    class="btn btn-danger btn-sm btn-rounded"
                                  >
                                    Delete
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<!-- The Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
        <div class="modal-body">
         
          <!-- <form   name="form" (ngSubmit)="f.form.valid && update()"   #f="ngForm"  novalidate>
              -->
        <div class="container">
            <div class="row pt-2 mb-2">
                <div *ngFor="let imgdata of product.image" class="col-md-4 ">
                  
                <div style="text-align: center;">
                
                <img [src]="imgdata.img_name" class="mb-2" height="80px" width="100"/>
                <br/>
                
                  <button class="btn btn-success">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button class="btn btn-danger">
                    <i (click)="deleteImage(imgdata._id)" class="fa fa-trash-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
         
         
        
          
          <div class="form-group row">

            <div class="col-lg-3 col-12">
              <label>More Image</label>
              <input
                type="file" (change)="fileProgress($event)"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
              />
            </div>
          </div>
          <form   name="form" (ngSubmit)="f.form.valid && update()"   #f="ngForm"  novalidate>
              

          <div class="form-group row">
            
            
            <div class="col-lg-6 col-12">
              <label>Product Name</label>
              <input
              type="text" #productName="ngModel"   name="productName" [(ngModel)]="product.productName"
                class="form-control mb-2 mr-sm-2"
                placeholder="Add"  required   [ngClass]="{ 'is-invalid': f.submitted && productName.invalid }"
              />
              <span class="text-danger" *ngIf="productName.invalid && f.submitted " >please enter Product Name</span>
              
            </div>

          </div> 
            
          <div class="form-group row">  
            <div class="col-lg-3 col-12">
              <label>Category</label>
              <select (change)="subcategory()" #category_id="ngModel"  name="category_id" [(ngModel)]="product.category_id"
             id="category" class="form-control mb-2 mr-sm-2"  required   [ngClass]="{ 'is-invalid': f.submitted && productName.invalid }">
                <option  *ngFor="let option of options" [value]="option._id">{{option.categoryName}}</option>
               
              </select>
              
              <span class="text-danger" *ngIf="category_id.invalid && f.submitted " >please enter Category</span>
              
            </div>
          
            
            <div *ngIf="product.category_id" class="col-lg-3 col-12">
              <label>SubCategory</label>
              <select #subCategory_id="ngModel"  name="subCategory_id"  [(ngModel)]="product.subCategory_id"
             id="" class="form-control mb-2 mr-sm-2" required   [ngClass]="{ 'is-invalid': f.submitted && subCategory_id.invalid }">
                <option *ngFor="let option of subcategorydata" [value]="option._id">{{option.name}}</option>
               
              </select>
              <span class="text-danger" *ngIf="subCategory_id.invalid && f.submitted " >please enter SubCategory</span>
              
            </div>
            <!-- <div class="col-lg-3 col-12">
              <label>Description</label>
               <input

                type="text" #summery="ngModel"   name="summery" [(ngModel)]="product.summery"
                class="form-control mb-2 mr-sm-2"
                placeholder="Products Description" required   [ngClass]="{ 'is-invalid': f.submitted && summery.invalid }" 
              /> 
              <span class="text-danger" *ngIf="summery.invalid && f.submitted " >please enter Description</span>
              
            </div> -->
          </div>
            
          <div class="form-group row">   
            <div class="col-lg-3 col-12">
              <label>Purchase Price</label>
              <input
              type="number" #price="ngModel"  name="price" [(ngModel)]="product.price"
                class="form-control mb-2 mr-sm-2"
                placeholder="Purchase Price"   required   [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
              />
              <span class="text-danger" *ngIf="price.invalid && f.submitted " >please enter Purchase Price</span>
              
            </div>
          
            
            <div class="col-lg-3 col-12">
              <label>Discount Price</label>
              <input
                type="number" #product_discount_price="ngModel"  name="product_discount_price" [(ngModel)]="product.product_discount_parcentage"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Discount Price"   required   [ngClass]="{ 'is-invalid': f.submitted && product_discount_price.invalid }"
              />
              <span class="text-danger" *ngIf="product_discount_price.invalid && f.submitted " >please enter Discount Price</span>
              
            </div>
            <!-- <div class="col-lg-3 col-12">
              <label>Selling Price</label>
              <input
                type="number" #product_selling_price="ngModel" name="product_selling_price" [(ngModel)]="product.product_selling_price"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Selling Price" required   [ngClass]="{ 'is-invalid': f.submitted && product_selling_price.invalid }" 
              />
              <span class="text-danger" *ngIf="product_selling_price.invalid && f.submitted " >please enter Selling Price</span>
              
            </div>
            <div class="col-lg-3 col-12">
              <label>Price Percentage</label>
              <input
                type="number" #product_price_parcentage="ngModel"  name="product_price_parcentage" [(ngModel)]="product.product_price_parcentage"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Price Percentage"  required   [ngClass]="{ 'is-invalid': f.submitted && product_price_parcentage.invalid }"
              />
              <span class="text-danger" *ngIf="product_price_parcentage.invalid && f.submitted " >please enter Price Percentage</span>
              
            </div> -->
            
          </div> 

          <div class="form-group row"> 

            <div class="col-lg-3 col-12">
              <label>Package Length</label>
              <input
                type="number" #item_length="ngModel"  name="item_length" [(ngModel)]="product.item_length"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Package Length"  required   [ngClass]="{ 'is-invalid': f.submitted && item_length.invalid }" 
              />
              <span class="text-danger" *ngIf="item_length.invalid && f.submitted " >please enter Package Length</span>
              
            </div>
            <div class="col-lg-3 col-12">
              <label>Package Weight</label>
              <input
                type="number" #item_weight="ngModel"  name="item_weight" [(ngModel)]="product.item_weight"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Package Weight"   required   [ngClass]="{ 'is-invalid': f.submitted && item_weight.invalid }"
              />
              <span class="text-danger" *ngIf="item_weight.invalid && f.submitted " >please enter Package Weight</span>
              
            </div>

            <div class="col-lg-3 col-12">
              <label>Package Height</label>
              <input
                type="number" #item_height="ngModel"  name="item_height" [(ngModel)]="product.item_height"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Package Height" required   [ngClass]="{ 'is-invalid': f.submitted && item_height.invalid }" 
              />
              <span class="text-danger" *ngIf="item_height.invalid && f.submitted " >please enter Package Height</span>
              
            </div>
            <div class="col-lg-3 col-12">
              <label>Package Breadth</label>
              <input
                type="number" #item_breadth="ngModel"  name="item_breadth" [(ngModel)]="product.item_breadth"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                placeholder="Package Breadth" required   [ngClass]="{ 'is-invalid': f.submitted && item_breadth.invalid }"   
              />
              <span class="text-danger" *ngIf="item_breadth.invalid && f.submitted " >please enter Package Breadth</span>
              
            </div>

          </div>
          <div class="col-12">
            <label>Description</label>

            <angular-editor #summery="ngModel"  [placeholder]="'Enter text here...'" [(ngModel)]="product.summery" name="summery"  required   [ngClass]="{ 'is-invalid': f.submitted && summery.invalid }" >

            </angular-editor>
            <span class="text-danger" *ngIf="summery.invalid && f.submitted " >please enter Description</span>
              
            </div>

          

          <div class="form-group row"> 

            <div class="col-lg-3 col-12">
              <label> &nbsp; </label>
              <button
                type="submit" 
                class="btn btn-primary btn-icon-text form-control mb-2 mr-sm-2"
              >
                <i class="mdi mdi-file-check btn-icon-prepend"></i>
                Save
                
              </button>
            </div>
          </div>
        </form> 
        </div>
      
      </ng-template>

    

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div> -->
   


<!-- ********************************** -->
<div class="modal fade" id="ViewProdict">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">View product</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div>
        <div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
						<div class="preview-pic tab-content">
						   <div class="tab-pane active" id="pic-1"><img src="{{currentImage}}" class="w-100" /> 

                 
                    

                        <div class="container">
                          <div class="row pt-5 mb-5">
                            <div *ngFor="let imgdata of product.image" class="col-md-4">
                              <div style="text-align: center;">
                              <img [src]="imgdata.img_name" class="mb-2" height="30px" width="40" (click)="selectImg(imgdata.img_name)">
                              <br/>
                              
                            </div>
                        </div>
                        </div>
                      </div>


              </div>
						</div>
					</div>
					<div class="details col-md-8">
						<h3 class="product-title">{{product.productName}} </h3>
            <div class="product-description"> <strong> Description: </strong><div  [innerHTML]="product.summery"> 
             
            </div></div>
						<h4 class="price"> Rs.{{product.price}}<small><del>{{product.original_price}}/-</del></small> </h4>
						<p class="vote text-success"><strong>(inclusive of all taxes)</strong></p>
            <!-- <h6 class="sizes">Crafty Smile profit:{{product.admin_profit_parcentage}} 
              <span class="size" data-toggle="tooltip" title="small"></span>
            </h6> -->
						<h6 class="sizes">Category: {{product.categoryName}}
							<span class="size" data-toggle="tooltip" title="small"></span>
						</h6>
				</div>
			</div>
        </div>
      </div>

    </div>
  </div>
</div>

