<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
<app-admin-navbar></app-admin-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>
    <div class="main-panel">
        <div class="container-fliud">
          <div class="row">
                      <div class="col-md-8"><div class="mr-md-3 mr-xl-5">
                    <h2>User Interior Product Order List</h2>
                  </div> </div>
                      <!-- <div class="col-md-4"> 
                          <label for=""> Filter By:</label>
                            <select (change)="getdata($event.target.value,page)"   class="form-control" id="">  
                         <option value='pending'> Pending</option>
                          <option value='accept'> accepted </option>
                          <option value='reject'> rejected </option>
                        </select> 
                      </div> -->
                  </div>


            <div class="col-12 grid-margin stretch-card px-0 mt-3">
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div
                      id="order-listing_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >

               




                      
                      <div class="row">
                        <div class="col-sm-12">
                          <table
                            id="order-listing"
                            class="table dataTable no-footer"
                            role="grid"
                            aria-describedby="order-listing_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                class="sorting_asc"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Order #: activate to sort column descending"
                                aria-sort="ascending"
                                style="width: 59.3906px"
                              >
                                Sr.No
                              </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  User Name
                                </th>
                                <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="order-listing"
                                rowspan="1"
                                colspan="1"
                                aria-label="Purchased On: activate to sort column ascending"
                                style="width: 108.953px"
                              >
                                Product Name
                              </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Email
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                 Mobile No.
                                </th>
                               
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Status: activate to sort column ascending"
                                  style="width: 55.8125px"
                                >
                                  City
                                </th>
                                
                              </tr>
                            </thead>
                             <tbody  *ngFor="let rel of data;let i=index">
                              <tr role="row" class="odd">
                                 <td class="sorting_1">{{i+1}}</td> 
                                 <td>{{rel.name}}</td>
                                 <td>{{rel.product_id.productName}}</td>
                                <td>{{rel.email}}</td>
                                <td>{{rel.mobile}}</td>
                                <td>{{rel. city}}</td> 
                                
                                  

                               
                              </tr>
                             
                            </tbody> 
                          </table>
                          
            


                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>

