<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<br>
<br>
<section class="pt-1 mt-1 pt-lg-5 mt-lg-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h4>Order History</h4>
        </div>
        <!-- history blog -->
        <div *ngFor="let rel of data" class="card mb-3">
          <div class="card-body p-0 px-3">
            <div class="panel panel-default panel-order">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-1">
                    <img
                      [src]="rel.product_id.image[0].img_name"
                      class="media-object img-thumbnail"
                    />
                  </div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-right">
                          <label *ngIf="rel.orderStatus == 'reject'"  class="label badge badge-danger label-danger"
                            >Rejected</label >
                            <label *ngIf="rel.orderStatus == 'deliver'"  class="label badge badge-success"
                            >Deliver</label  >
                            <label *ngIf="rel.orderStatus == 'pending'"  class="label badge badge-warning"
                            >Pending</label >
                            <label *ngIf="rel.orderStatus == 'accept'"  class="label badge badge-warning"
                            >On the way</label >
                            
                        </div>
                         <div>
                          <strong>{{rel.product_id.productName}}</strong>
                          <span class="label label-info ml-2"></span>
                        </div>
                        <div class="my-2">Quantity : {{rel.quantity}}, Rs: {{rel.product_id.price}}</div> 
                        <!-- <a
                          data-placement="top"
                          class="btn btn-success mr-2"
                        (click)="tracking(rel._id)"
                          title="View"
                        >
                          Tracking
                        </a>  -->
                        <a *ngIf="rel.orderStatus == 'pending'" (click)="cancelOrder(rel._id)"
                          data-placement="top"
                          class="btn btn-danger"
                          
                          title="Danger"
                        >
                          Cancel Order</a
                        >
                      </div>
                      <div class="col-md-12">
                        order made on: {{rel.createdAt | date}}
                        <a href="#">  </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- history blog end -->
        <!-- history blog -->
        
        <!-- history blog end -->
        <!-- history blog -->
        <!-- <div class="card mb-3">
          <div class="card-body p-0 px-3">
            <div class="panel panel-default panel-order">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-1">
                    <img
                      src="assets/images/products/img1.jpg"
                      class="media-object img-thumbnail"
                    />
                  </div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-right">
                          <label class="label badge badge-warning"
                            >On the way</label
                          >
                        </div>
                        <div>
                          <strong>Order name</strong>
                          <span class="label label-info ml-2"></span>
                        </div>
                        <div class="my-2">Quantity : 2, cost: $323.13</div>
                        
                      </div>
                      <div class="col-md-12">
                        order made on: 18/08/2012 by
                        <a href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- history blog end -->
      </div>
    </div>
  </div>
</section>
