<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <img src="assets/images/logo.png" alt="" />
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-scroller">
  <app-saler-navbar></app-saler-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-saler-sidenavbar></app-saler-sidenavbar>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>My Profile</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 box-col-6">
                  <div class="card custom-card">
                    <div class="card-header">
                      <img
                        class="img-fluid"
                        src="assets/images/auth/lockscreen-bg.jpg"
                        alt=""
                        data-original-title=""
                        title=""
                      />
                    </div>
                    
                    <!-- <div class="card-profile">
                      <img *ngIf="!user.image"
                        class="rounded-circle"
                        src="assets/images/faces/dummy-prod-1.jpg"
                        alt=""
                        data-original-title=""
                        title=""
                      />
                      <img
                      class="rounded-circle" *ngIf="user.image"
                      [src]="user.image[0].img_name"
                      alt=""
                      data-original-title=""
                      title=""
                    />
                    </div> -->
                    <ul class="card-social">
                      <li>
                        <a href="#" data-original-title="" title=""
                          ><i class="fa fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-original-title="" title=""
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-original-title="" title=""
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-original-title="" title=""
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="text-center profile-details">
                      <h4>{{ user.name }}</h4>
                      <h6>{{ user.mobile }}</h6>
                      <h6>{{ user.email }}</h6>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 col-lg-6 col-xl-8 box-col-6">
                  <div class="card custom-card">
                    <div class="card-header" *ngIf="!editProfile">
                      <div class="row">
                        <div class="col"><h5>Profile Info</h5></div>
                        <div class="col text-right">
                          <button
                            class="btn btn-primary mb-2 btn-sm"
                            (click)="Editprofile()"
                          >
                            Edit your Profile
                          </button>
                         
                        </div>
                        <div class="col text-right" >
                        <button
                        class="btn btn-primary btn-sm"
                       (click)="addbank()"
                      >
                        Add Bank Detail 
                      </button>
                    </div>
                      </div>

                      <div class="address">
                        <table class="table table-borderless">
                          <tr>
                            Address:{{user.address_line1}}<br>
                            Address,2:{{user.address_line2}}<br>
                            City:{{user.city}}<br>
                            State:{{user.state}}<br>
                            Pincode:{{user.pinCode}}<br>
                               
                
                           
                          </tr>
                        </table>
                      </div>
                    </div>
                      <div class="card-header" *ngIf="editProfile">
                      <div class="row">
                        <div class="col"><h5>Edit Profile</h5></div>
                      </div>
                      <hr />

                      <div class="address">
                        <form  name="form" (ngSubmit)="f.form.valid && saveAddress()" #f="ngForm"  novalidate>

                        <div class="form-group row">
                          <div class="col-lg-6 col-12">
                            <label>Upload Profile Image</label>
                            <input
                              type="file" (change)="fileProgress($event)"
                              class="form-control mb-2 mr-sm-2"
                            />
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>Full Name</label>
                            <input
                              type="text" name="name" [(ngModel)]="user.name"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="full Name"
                            />
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>mobile number</label>
                            <input
                              type="number" name="mobile" [(ngModel)]="user.mobile"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="xxxxxx"
                            />
                          </div>
                           <div class="col-lg-6 col-12">
                            <label>Email ID</label>
                            <input
                              type="text" name="email" [(ngModel)]="user.email"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="Email ID"
                            />
                          </div>

                          <div class="col-lg-12 col-12 mt-2">
                            <button
                              type="submit" (click)="updateDetail()"
                              class="
                                btn btn-primary btn-color btn-icon-text
                                form-control
                                mb-2
                              "
                            >
                              <i
                                class="mdi mdi-file-check btn-icon-prepend"
                              ></i>
                              Save
                            </button>
                          </div>
                          

                          <div class="col-lg-6 col-12">
                            <label>Adress line 1</label>
                            <input
                              type="text" #address_line1="ngModel"
                              [(ngModel)]="sellerAddress.address_line1" name="address_line1"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="Adress line 1" required   [ngClass]="{ 'is-invalid': f.submitted && address_line1.invalid }"
                            
                            />
                            <span class="text-danger" *ngIf="address_line1.invalid && f.submitted " >please enter Adress line 1 </span>

                          </div>
                          <div class="col-lg-6 col-12">
                            <label>Adress line 2</label>
                            <input
                              type="text" #address_line2="ngModel" [(ngModel)]="sellerAddress.address_line2" name="address_line2"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="Adress line 2" required   [ngClass]="{ 'is-invalid': f.submitted && address_line2.invalid }"
                            />
                            <span class="text-danger" *ngIf="address_line2.invalid && f.submitted " >please enter Adress line 2</span>
                            
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>city</label>
                            <input
                              type="text" #city="ngModel" [(ngModel)]="sellerAddress.city" name="city"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="city" required   [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                            />
                            <span class="text-danger" *ngIf="city.invalid && f.submitted " >please enter city </span>

                          </div>
<!-- 
                          <div class="col-lg-6 col-12">
                            <label>Landmark </label>
                            <input
                              type="text"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="Landmark "
                            />
                          </div> -->

                          <div class="col-lg-6 col-12">
                            <label>state</label>
                            <input
                              type="text"  #state="ngModel"  [(ngModel)]="sellerAddress.state" name="state"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="state" required   [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
                            />
                            <span class="text-danger" *ngIf="state.invalid && f.submitted " >please enter state </span>

                          </div>

                          <div class="col-lg-6 col-12">
                            <label>Pin code</label>
                            <input
                              type="number" #pinCode="ngModel" [(ngModel)]="sellerAddress.pinCode" name="pinCode"
                              class="form-control mb-2 mr-sm-2"
                              placeholder="xxxxxx" required   [ngClass]="{ 'is-invalid': f.submitted && pinCode.invalid }"
                            />
                            <span class="text-danger" *ngIf="pinCode.invalid && f.submitted " >please enter Pin code</span>

                          </div>

                          <div class="col-lg-12 col-12 mt-2">
                            <button
                              type="submit" 
                              class="
                                btn btn-primary btn-color btn-icon-text
                                form-control
                                mb-2
                              "
                            >
                              <i
                                class="mdi mdi-file-check btn-icon-prepend"
                              ></i>
                              Save Address
                            </button>
                          </div>
                        
                        </div>
                      </form>
                      </div> 
                      
                    </div> 

                    <div class="card-header" *ngIf="!bankdetail">
                      <div class="row">
                        <div class="col"><h5>Add Bank Details</h5></div><br>
                      </div> <br>
                     
                      <div class="address">
                        <form>
                          <div class="form-group row">

                            <div class="col-lg-6 col-12">
                              <label>Bank Name</label>
                              <input
                                type="text"  [readonly]="readonlyDetails"  name="BankName" [(ngModel)]="userBankDetails.bankName"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="full Name"
                              />
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>Account Number</label>
                              <input
                                type="number" [readonly]="readonlyDetails"  name="Account" [(ngModel)]="userBankDetails.accountNo"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="xxxxxx"
                              />
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>IFSC Code</label>
                              <input
                                type="text" [readonly]="readonlyDetails"  name="IFSC" [(ngModel)]="userBankDetails. ifscCode"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="text"
                              />
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>Account Holder Name</label>
                              <input
                                type="text" [readonly]="readonlyDetails"  name="AccountHolderName" [(ngModel)]="userBankDetails.accountHolderName"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="AccountHolderName"
                              />
                            </div>
                           
                            <div class="col-lg-6 col-12">
                              <label>UPI ID</label>
                              <input
                                type="text" [readonly]="readonlyDetails"  name="UPI" [(ngModel)]="userBankDetails.upi1"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="xxxxxx"
                              />
                            </div>
                            <!-- <div class="col-lg-6 col-12">
                              <label>UPI ID</label>
                              <input
                                type="text"   name="UPI" [(ngModel)]="userBankDetails.upi2"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="xxxxxx"
                              />
                            </div> -->
                            <div class="col-lg-12 col-12 mt-2">
                              <button 
                                type="submit" *ngIf="readonlyDetails" (click)="EditBankDetail()"
                                class="
                                  btn btn-primary btn-color btn-icon-text
                                  form-control
                                  mb-2
                                "
                              >
                               
                                Edit Details
                              </button>
                              <button
                                type="submit" *ngIf="! readonlyDetails" (click)="updateBank()"
                                class="
                                  btn btn-primary btn-color btn-icon-text
                                  form-control
                                  mb-2
                                "
                              >
                        
                                Save Details
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>




                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div
          class="d-sm-flex justify-content-center justify-content-sm-between"
        >
          <span
            class="
              text-muted text-center text-sm-left
              d-block d-sm-inline-block
            "
            >Copyright © 2021
            <a href="http://dappsindia.in/" target="_blank">DApps</a>. All
            rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >DApps <i class="mdi mdi-heart text-danger"></i
          ></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
