<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
  <app-saler-navbar></app-saler-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-saler-sidenavbar></app-saler-sidenavbar>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Product Add</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                  <ul class="nav nav-pills nav-pills-success border-bottom pb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Products Details </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> Product Price</a>
                    </li> -->
                    
                  </ul>
                  <div class="tab-content mt-3" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form name="form" (ngSubmit)="f.form.valid && uploadFile()" #f="ngForm" novalidate>  

                       <div class="form-group row ">
                 <div class="col-lg-3 col-12">
                  <label>Product Image</label>
                  <input
                    type="file" (change)="fileProgress($event)"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Add"
                  />
                </div> 
                <div class="col-lg-6 col-12">
                  <label>Product Name</label>
                  <input
                    type="text" #productname="ngModel" name="product" [(ngModel)]="product.productName"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Add"   required   [ngClass]="{ 'is-invalid': f.submitted && productname.invalid }"

                  />
                  <span class="text-danger" *ngIf="productname.invalid && f.submitted " >please enter Product Name </span>

                </div>
                <div class="col-lg-3 col-12">
                  <label>Category</label>
                  <select (change)="subcategory()" #category="ngModel" name="category" [(ngModel)]="product.category_id"
                 id="category" class="form-control mb-2 mr-sm-2"  required [ngClass]="{ 'is-invalid': f.submitted && category.invalid }"
                 >
                    <option  *ngFor="let option of options" [value]="option._id">{{option.categoryName}}</option>
                   
                  </select>
                  <span class="text-danger" *ngIf="category.invalid && f.submitted " >please enter Category </span>

                </div>
                <div *ngIf="product.category_id" class="col-lg-3 col-12">
                  <label>SubCategory</label>
                  <select name="subCategory" #subCategory="ngModel" [(ngModel)]="product.subCategory_id"
                 id="" class="form-control mb-2 mr-sm-2"  required [ngClass]="{ 'is-invalid': f.submitted && subCategory.invalid }">
                    <option *ngFor="let option of data" [value]="option._id">{{option.name}}</option>
                   
                  </select>
                  <span class="text-danger" *ngIf="subCategory.invalid && f.submitted " >please enter SubCategory </span>
                </div>
                
                <!-- <div class="col-lg-3 col-12">
                  <label>Description</label>
                  <input
                    type="text" #description="ngModel" name="Description" [(ngModel)]="product.summery"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Products Description" required   [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"
                  />
                  <span class="text-danger" *ngIf="description.invalid && f.submitted " >please enter Description </span>
                </div> -->
                
                <div class="col-lg-3 col-12">
                  <label>Purchase Price</label>
                  <input
                    type="number" #PurchasePrice="ngModel" name="price" [(ngModel)]="product.price"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Purchase Price" required   [ngClass]="{ 'is-invalid': f.submitted && PurchasePrice.invalid }"
                  />
                  <span class="text-danger" *ngIf="PurchasePrice.invalid && f.submitted " >please enter Purchase Price </span>
                </div>
                <div class="col-lg-3 col-12">
                  <label>Discount Price</label>
                  <input
                    type="number" #DiscountPrice="ngModel" name="price" [(ngModel)]="product.product_discount_parcentage"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Discount Price"  required   [ngClass]="{ 'is-invalid': f.submitted && DiscountPrice.invalid }"
                  />
                  <span class="text-danger" *ngIf="DiscountPrice.invalid && f.submitted " >please enter Discount Price </span>
                </div>
                <!-- <div class="col-lg-3 col-12">
                  <label>Selling Price</label>
                  <input
                    type="number" #SellingPrice="ngModel" name="price" [(ngModel)]="product.product_selling_price"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Selling Price"  required   [ngClass]="{ 'is-invalid': f.submitted && SellingPrice.invalid }"
                  />
                  <span class="text-danger" *ngIf="SellingPrice.invalid && f.submitted " >please enter Selling Price </span>
                </div> -->
                <!-- <div class="col-lg-3 col-12">
                  <label>Price Percentage</label>
                  <input
                    type="number" #PricePercentage="ngModel" name="price" [(ngModel)]="product.product_price_parcentage"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Price Percentage"  required   [ngClass]="{ 'is-invalid': f.submitted && PricePercentage.invalid }"
                  />
                  <span class="text-danger" *ngIf="PricePercentage.invalid && f.submitted " >please enter Price Percentage </span>
                </div> -->
                <div class="col-lg-3 col-12">
                  <label>Package Length(cm)</label>
                  <input
                    type="number" #PackageLength="ngModel" name="price" [(ngModel)]="product.item_length"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Package Length(cm)" required   [ngClass]="{ 'is-invalid': f.submitted && PackageLength.invalid }"
                  />
                  <span class="text-danger" *ngIf="PackageLength.invalid && f.submitted " >please enter Package Length </span>
                </div>
                <div class="col-lg-3 col-12">
                  <label>Package Weight(kg)</label>
                  <input
                    type="number" #PackageWeight="ngModel" name="price" [(ngModel)]="product.item_weight"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Package Weight(kg)"  required   [ngClass]="{ 'is-invalid': f.submitted && PackageWeight.invalid }"
                  />
                  <span class="text-danger" *ngIf="PackageWeight.invalid && f.submitted " >please enter Package Weight</span>
                </div>

                <div class="col-lg-3 col-12">
                  <label>Package Height(cm)</label>
                  <input
                    type="number" #PackageHeight="ngModel" name="price" [(ngModel)]="product.item_height"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Package Height(cm)"  required   [ngClass]="{ 'is-invalid': f.submitted && PackageHeight.invalid }"
                  />
                  <span class="text-danger" *ngIf="PackageHeight.invalid && f.submitted " >please enter Package Height</span>
                </div>
                <div class="col-lg-3 col-12">
                  <label>Package Breadth(cm)</label>
                  <input
                    type="number" #PackageBreadtht="ngModel" name="price" [(ngModel)]="product.item_breadth"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Package Breadth(cm)" required   [ngClass]="{ 'is-invalid': f.submitted && PackageBreadtht.invalid }"
                  />
                  <span class="text-danger" *ngIf="PackageBreadtht.invalid && f.submitted " >please enter Package Breadth</span>
                </div>
                 <div class="col-lg-3 col-12">
                  <label>Stock</label>
                  <input
                    type="number" #stock="ngModel" name="stock" [(ngModel)]="product.stock"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="stock"  required   [ngClass]="{ 'is-invalid': f.submitted && stock.invalid }"
                  />
                  <span class="text-danger" *ngIf="stock.invalid && f.submitted " >please enter Stock </span>
                </div>
                <div class="row">
                <div class="col-lg-12 ">
                  <angular-editor [placeholder]="'Enter description here'" [(ngModel)]="product.summery" name="summery" rows="10" width="800" height="500"></angular-editor>
                </div>
                </div>

              
                <div class="col-lg-3 col-12">
                  <label> &nbsp; </label>
                  <button
                    type="submit"  
                    class="
                      btn btn-primary btn-icon-text
                      form-control
                      mb-2
                      mr-sm-2
                    "
                  >
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Add
                  </button>
                </div>
                       </div>
                      </form>
                    </div>
                    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      
                       <div class="form-group row ">
                
              
                       </div>

                    </div> -->
                    
                  </div>
                </div>
              </div>
            </div>
       
        
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
