<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two bg-white">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<section class="pt-1 mt-1 pt-lg-4 mt-lg-5 ">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner homeSlider">
      <div *ngFor="let rel of bannerData;let i=index" [ngClass]="(i === 0) ? 'active' : ''" class="carousel-item">
        <img class="d-block w-100" [src]="rel.bannerImage[0].img_name" alt="First slide" />
      </div>
      <!-- <div  class="carousel-item active">
        <img class="d-block w-100" src="assets/images/banner.jpg" alt="First slide" />
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="mt-2 border-bottom mb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">All CATEGORIES</h4>
      </div>
    </div>
    <div class="slider d-lg-none">
      <div class="slides ">
        <div class="category text-center" *ngFor="let rel of categoryData ;let i=index">
          <div (click)=" category(rel._id)">
            <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name" />
            <!-- <img src="assets/images/products/aq1.jpg" alt="" /> -->
            <div class="cate-name">{{rel.categoryName}}</div>
          </div>
        </div>
        
      </div>
      
    </div>

    <div class="desktop-category d-none d-lg-block">
      <div class="row">
        <div class="col-md-2" *ngFor="let rel of categoryData ;let i=index">
          <div (click)=" category(rel._id)" class="desk-category text-center">
            <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name" />
            <div class="cate-name">{{rel.categoryName}}</div>
          </div>
        </div>

      </div>
    </div>
    

  </div>
</section>

<section class="products-area my-5">
  <div class="container" *ngFor="let rel of categoryData">
    <div class="row border-box" *ngIf="rel.product[0]">
      <div class="col-md-12">
        <h5 class="category-heading"> <span class="cat-name">
            {{rel.categoryName}}
          </span> </h5>
      </div>
      <div class="col-md-2 col-sm-6 col-6" *ngFor="let prod of rel.product">
        <div class="product-grid4">
          <div class="product-image4">
            <a (click)="productview(prod._id)">
              <img *ngIf="prod.image[0]" [src]="prod.image[0].img_name" />
              <img *ngIf="!prod.image[0]" src="assets/images/products/products1.png" />
              <!-- <img class="pic-2" src="assets/images/products/products1.png" /> -->
            </a>

          </div>
          <div class="product-content">
            <h3 class="title">
              <a routerLink="/Product-View">{{prod.productName}}</a>
            </h3>
            <div class="price">Rs {{prod.price}} <span *ngIf="prod.price">
                {{prod.original_price}} </span>
            </div>
            <a (click)="addcart(prod._id)" class="add-to-cart">ADD TO CART</a>
          </div>
        </div>
      </div>

      <!-- product fetch by category -->

      <div class="col-md-2 col-sm-6 col-6">
        <div class="product-grid4">
          <div class="product-image4">
            <a (click)="Productcategory(rel._id)">

              <img src="assets/images/more.image.png" />
              <p>View All</p>
              <!-- <img class="pic-2" src="assets/images/products/products1.png" /> -->
            </a>

          </div>

        </div>
      </div>




    </div>
  </div>
</section>


<section class="container-fluid bg-light py-5">
  <h4 class="text-center pb-5"><u>OUR SERVICES TO CUSTOMER</u></h4>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-5">
      <a href=""><img class="img-fluid"
          src="https://preview.colorlib.com/theme/capitalshop/assets/img/icon/services1.svg" alt="" /></a><br />
      <b>Fast & Free Delivery</b><br />
      <span class="lead" style="font-size: smaller">Free Delivery On All Orders</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-5">
      <a href=""><img class="img-fluid"
          src="https://preview.colorlib.com/theme/capitalshop/assets/img/icon/services2.svg" alt="" /></a><br />
      <b>Secure Payments</b><br />
      <span class="lead" style="font-size: smaller">Free Delivery On All Orders</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-5">
      <a href=""><img class="img-fluid"
          src="https://preview.colorlib.com/theme/capitalshop/assets/img/icon/services3.svg" alt="" /></a><br />
      <b>Money Back Guarantee</b><br />
      <span class="lead" style="font-size: smaller">Free Delivery On All Orders</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 text-center">
      <a href=""><img class="img-fluid"
          src="https://preview.colorlib.com/theme/capitalshop/assets/img/icon/services4.svg" alt="" /></a><br />
      <b>Fast & Free Delivery</b><br />
      <span class="lead" style="font-size: smaller">Free Delivery On All Orders</span>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="subscribe-call">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center mb-3 my-lg-0">
          <h3 class="m-0">
            Contact for exclusive sales and new product arrival.
          </h3>
        </div>
        <div class="col-md-4 text-center">
          <h3 class="m-0">
            <a href="tel:8668379368" class="text-warning border px-3 py-1 rounded border-warning"
              title="Click to call"><i class="fa fa-volume-control-phone fa-glow"></i> 8668379368
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>