img{
    height:300px;
    width: 350px;
    text-align: center;
}
.checked{
    color: #f8eb35;
}
p{
    font-size:small;
}
h2{
    font-size: large;
    font-weight: bolder;
}
.c{
    color: green;
}
input{
    width:160PX;
    height: 50PX;
    text-align: center;
    background-color: rgb(250, 162, 29);
    border:rgb(250, 162, 29) ;
    margin-left: auto;
    margin-right: auto;
 
}
button{
    text-align: center;
}
#ak>li{
    border-radius:50px;
    background-color:rgb(250, 162, 29) ;
}
