<!--<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-header fixed-top">
        <a class="navbar-brand pt " href="#">
          <i class="fa fa-shopping-basket fa-2x" style="color: red;" aria-hidden="true"></i>
          <b style="font-size: x-large;font-family: Georgia, 'Times New Roman', Times, serif;">Capital</b>  shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-2 A1" id="navbarNav">
          <ul class="navbar-nav M1">
            <li class="nav-item active dropdown">
              <a class="nav-link " href="#" id="navbardropdown" data-toggle="dropdown">MAN</a>
              <ul class="dropdown-menu mega-menu" aria-labelledby="navbardropdown">
                    <div class="row">
                      <div class="col-md-2 aw">
                      <strong>TopWear</strong>
                      <li> <a href="#" style="font-size: small; color: black;"> T-shirt</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> Casual Shirt</a></li> 
                      <li><a href="#" style="font-size: small; color: black;"> Formal Shirt</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> SwaetShirt</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> Sweaters</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> Jackets</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> Blasers & coats</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;"> RainJackets</a></li>
                      <hr>
                      <strong>Indian & Festive</strong>
                      <li> <a href="#" style="font-size: small; color: black;">Kurtas & kurta sets</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Sherwani</a></li> 
                      <li><a href="#" style="font-size: small; color: black;">Nehru Jockets</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Dhotis</a></li>
                      </div>
                      <hr>
                      <div class="col-md-2 aw">
                        <strong>Bottom Wear</strong>
                        <li> <a href="#" style="font-size: small; color: black;">Jeans</a></li>
                        <li><a href="#" style="font-size: small; color: black;"> Casual Trouser</a></li> 
                        <li><a href="#" style="font-size: small; color: black;"> Formal Trouser</a></li>
                        <li><a href="#" style="font-size: small; color: black;"> Shorts</a></li>
                        <li><a href="#" style="font-size: small; color: black;">Track pants & joggers</a></li>
                        <hr>
                        <strong>InnerWear & SleapWear</strong>
                        <li> <a href="#" style="font-size: small; color: black;">Briets & Trunks</a></li>
                        <li><a href="#" style="font-size: small; color: black;">Boxers</a></li> 
                        <li><a href="#" style="font-size: small; color: black;">Weast</a></li>
                        <li><a href="#" style="font-size: small; color: black;">Loungwear</a></li>
                        <li><a href="#" style="font-size: small; color: black;">Thermas</a></li>
                        <hr>
                        <strong>Plus Size</strong>
                        </div>
                        <div class="col-md-2 aw">
                          <strong>FootWear</strong>
                          <li><a href="#" style="font-size: small; color: black;"> Casual Shoes</a></li> 
                          <li><a href="#" style="font-size: small; color: black;"> Formal Shoes</a></li>
                          <li><a href="#" style="font-size: small; color: black;"> Sport Shoes</a></li>
                          <li><a href="#" style="font-size: small; color: black;"> Sneakers</a></li>
                          <li><a href="#" style="font-size: small; color: black;">Sandales & floaters</a></li>
                          <li><a href="#" style="font-size: small; color: black;">flip flop</a></li>
                          <li> <a href="#" style="font-size: small; color: black;">Socks</a></li>
                          <hr>
                          <strong>PersonalGrooming</strong><br>
                          <strong>SunglassesFrames</strong><br>
                          <strong>Watches</strong>
                          </div>
                          <div class="col-md-3 aw">
                            <strong>Sports & Active Wear</strong>
                            <li> <a href="#" style="font-size: small; color: black;">Sport Shoes</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Sport Sandales</a></li> 
                            <li><a href="#" style="font-size: small; color: black;">Active Tshirts</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Track pants & joggers</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Tracksuits</a></li>
                            <li><a href="#" style="font-size: small; color: black;"> Jackets & SwaetShirt</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Sport Accessories</a></li>
                            <li><a href="#" style="font-size: small; color: black;">SweamWear</a></li>
                            <hr>
                            <strong>Gadgets</strong>
                            <li><a href="#" style="font-size: small; color: black;">Smart Wearables</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Fitness Gadgets</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Headphones</a></li>
                            <li><a href="#" style="font-size: small; color: black;">Speakers</a></li>
                            </div>
                            <div class="col-md-3 aw">
                              <strong>Fashion Accessories</strong>
                              <li> <a href="#" style="font-size: small; color: black;">Wallets</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Belts</a></li> 
                              <li><a href="#" style="font-size: small; color: black;">Perfums</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Trimmers</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Deaotrends</a></li>
                              <li><a href="#" style="font-size: small; color: black;"> Ties cufflinks & pcket squares</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Accessories Gift Sets</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Caps And Hats</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Phone Cases</a></li>
                              <li><a href="#" style="font-size: small; color: black;">Helmates</a></li>
                              <hr>
                              <strong>Bags & BackPacks</strong><br>
                              <strong>Luggeges & Trolleys</strong>
                              </div>
                          </div>
                        </ul>
                     </li>
            <li class="nav-item active dropdown">
              <a class="nav-link " href="#" id="navbardropdown" data-toggle="dropdown">WOMEN</a>
              <ul class="dropdown-menu mega-menu" aria-labelledby="navbardropdown">
                  <div class="row">
                    <div class="col-md-2 aw">
                      <strong><a href="" class="clr">Indian & Fusion Wear</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                      <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                      <li><a href="#" style="font-size: small; color:black;">jeans</a></li>
                      <hr>
                      <strong><a href="" class="clr">Belts Scrves & More</a></strong><br>
                      <strong><a href=""class="clr">Watches & Wearables</a></strong>
                    </div>
                    <div class="col-md-2 aw">
                      <strong><a href="" class="clr">Weastern Wear</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                      <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                      <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                      <hr>
                      <strong><a href="" class="clr">Plus Size</a></strong><br>
                      <strong><a href="" class="clr">Sunglases&Frames</a></strong>
                    </div>
                    <div class="col-md-2 aw">
                      <strong><a href="" class="clr">FootWear</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                      <li><a href="#" style="font-size: small; color: black">Luggins</a></li>
                      <li><a href="#" style="font-size: small; color: black">palazones </a></li>
                      <hr>
                      <strong><a href="" class="clr">Sports & wear</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Footwear </a></li>
                      <li><a href="#" style="font-size: small; color: black;">Clothing </a></li>
                      <li><a href="#" style="font-size: small; color: black;">Sport Accessories </a></li>
                      <li><a href="#" style="font-size: small; color: black;">Sport Equipment </a></li>
                    </div>
                    <div class="col-md-2 aw">
                      <strong><a href="" class="clr">Lingries & Sleepwaer</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                      <hr>
                      <strong><a href="" class="clr">Beuty & care</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Makeup</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Skincare</a></li>
                      <li><a href="#" style="font-size: small; color: black;">lippstick </a></li>
                      <li><a href="#" style="font-size: small; color: black;">Fragrancess </a></li>
                    </div>
                    <div class="col-md-2 aw">
                      <strong><a href="" class="clr">Gadets</a></strong>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                      <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                     <hr>
                     <strong><a href="" class="clr">Jwellary</a></strong>
                     <li><a href="#" style="font-size: small; color: black;">Fashion Jwellary</a></li>
                     <li><a href="#" style="font-size: small; color: black;">Fine Jwellary</a></li>
                     <li><a href="#" style="font-size: small; color: black">Earningd </a></li>
                    </div>
                  </div>
              </ul>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link" id="navbardropdown" data-toggle="dropdown" href="#">KIDS</a>
              <ul class="dropdown-menu mega-menu" aria-labelledby="navbardropdown">
                <div class="row">
                  <div class="col-md-2 aw">
                    <strong><a href="" class="clr2">Indian & Fusion Wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color:black;">jeans</a></li>
                    <hr>
                    <strong><a href="" class="clr2">Belts Scrves & More</a></strong><br>
                    <strong><a href=""class="clr2">Watches & Wearables</a></strong>
                  </div>
                  <div class="col-md-2 aw">
                    <strong><a href="" class="clr2">Weastern Wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <hr>
                    <strong><a href="" class="clr2">Plus Size</a></strong><br>
                    <strong><a href="" class="clr2">Sunglases&Frames</a></strong>
                  </div>
                  <div class="col-md-2 aw">
                    <strong><a href="" class="clr2">FootWear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black">palazones </a></li>
                    <hr>
                    <strong><a href="" class="clr2">Sports & wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Footwear </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Clothing </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Sport Accessories </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Sport Equipment </a></li>
                  </div>
                  <div class="col-md-2 aw">
                    <strong><a href="" class="clr2">Lingries & Sleepwaer</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <hr>
                    <strong><a href="" class="clr2">Beuty & care</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Makeup</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Skincare</a></li>
                    <li><a href="#" style="font-size: small; color: black;">lippstick </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Fragrancess </a></li>
                  </div>
                  <div class="col-md-2 aw">
                    <strong><a href="" class="clr2">Gadets</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                   <hr>
                   <strong><a href="" class="clr2">Jwellary</a></strong>
                   <li><a href="#" style="font-size: small; color: black;">Fashion Jwellary</a></li>
                   <li><a href="#" style="font-size: small; color: black;">Fine Jwellary</a></li>
                   <li><a href="#" style="font-size: small; color: black">Earningd </a></li>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link" id="navbardropdown" data-toggle="dropdown" href="#" style="border-bottom-color:#0db7af;">HOME&LIVING</a>
              <ul class="dropdown-menu mega-menus" aria-labelledby="navbardropdown">
                <div class="row">
                  <div class="col-md-3 aw">
                    <strong><a href="" class="clr3">Indian & Fusion Wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color:black;">jeans</a></li>
                    <hr>
                    <strong><a href="" class="clr3">Belts Scrves & More</a></strong><br>
                    <strong><a href=""class="clr3">Watches & Wearables</a></strong>
                  </div>
                  <div class="col-md-3 aw">
                    <strong><a href="" class="clr3">Weastern Wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <hr>
                    <strong><a href="" class="clr3">Plus Size</a></strong><br>
                    <strong><a href="" class="clr3">Sunglases&Frames</a></strong>
                  </div>
                  <div class="col-md-3 aw">
                    <strong><a href="" class="clr3">FootWear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black">palazones </a></li>
                    <hr>
                    <strong><a href="" class="clr3">Sports & wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Footwear </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Clothing </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Sport Accessories </a></li>
                    <li><a href="#" style="font-size: small; color: black;">Sport Equipment </a></li>
                  </div>
                  <div class="col-md-3 aw">
                    <strong><a href="" class="clr3">Indian & Fusion Wear</a></strong>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & Suits</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Kurtas & tumics</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Ethincs</a></li>
                    <li><a href="#" style="font-size: small; color: black;">Luggins</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color: black;">jeans</a></li>
                    <li><a href="#" style="font-size: small; color: black;">palazones </a></li>
                    <li><a href="#" style="font-size: small; color: black;">sarees</a></li>
                    <li><a href="#" style="font-size: small; color:black;">jeans</a></li>
                    <hr>
                    <strong><a href="" class="cl3">Belts Scrves & More</a></strong><br>
                    <strong><a href=""class="clr3">Watches & Wearables</a></strong>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item active">
                <a class="nav-link a" href="#">OFFERS</a>
              </li>
          </ul>
          <div class="form-group has-search my-2 my-lg-0 ml-">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search for products brand & more">
          </div>
          <div class="dropdown ml-auto" >
         <a href="#" class="ml-auto"  id="navbardropdown"  data-toggle="dropdown" ><i class="fa fa-user-o ml-auto text-center s" aria-hidden="true" ><br>profile </i></a>
          <ul class="dropdown-menu mega-menus1" aria-labelledby="navbardropdown">
            <p>Welcome</p>
            <p>to access account & manage orders</p>
          </ul>
       
         <a href="#"><i class="fa fa-heart-o ml-4 text-center s" aria-hidden="true"><br> wishlist</i></a>
         <a href="#"><i class="fa fa-shopping-bag ml-4 text-center s" aria-hidden="true"><br> bag</i></a>
         </div>
        </div>
      </nav>
    </section>--->
    <div class="container bg-light px-5 py-5 mt-5">
      <div class="row">
        <div class="col-md-5 mb-4">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" id="ak">
              <li data-target="#mycarousel" data-slide-to="0" class="active rounded"></li>
              <li data-target="#mycarousel" data-slide-to="1"></li>
              <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="assets/images/products/aq1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/products/aq1.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/products/aq1.jpg" alt="Third slide">
              </div>
            </div>
        </div>
          
                   <br>
                  <input type="button" name="" value="ADD TO CART" class="mb-2">
                  &nbsp;&nbsp;&nbsp;
                  <input type="button" name="" value="BUY NOW">
      </div>
        <div class="col-md-7">
          <h5>LetsShave Pro 3 Disposable Shaving Razor for men</h5>
    
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star"></span>&nbsp;
              <span class="fa fa-star"></span>
              <br>
            <span class="review-no">41 reviews</span>
            <br> 
            <p>Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem
               sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
            <h2>CURRENT PRICE ₹299</h2>
            <b>Available Offers</b>
              <p><i class="fa fa-tag c" aria-hidden="true" ></i>&nbsp;&nbsp;<b>Bank Offer</b> Unlimited Cashback on Flipkart Axis Bank Credit Card T&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> ₹20 Off on first prepaid transaction using UPI payments, minimum order value ₹750/-T&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> 10% Off on HDFC Bank Mastercard Credit card first time transaction, Terms and Conditions Apply.T&C</p>
            
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> Flat ₹100 off on first Flipkart Pay Later order of ₹500 & aboveT&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b>  10% Off on Bank of Baroda Mastercard debit card first time transaction, Terms and Condition applyT&C</p>
            </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-md-5 mb-4">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" id="ak">
              <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
              <li data-target="#mycarousel" data-slide-to="1"></li>
              <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="assets/images/products/img2.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/products/img2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/products/img2.jpg" alt="Third slide">
              </div>
            </div>
        </div>
          
          <br>
          <input type="button" name="" value="ADD TO CART" class="mb-2">
          &nbsp;&nbsp;&nbsp;
          <input type="button" name="" value="BUY NOW">
      </div>
        <div class="col-md-7">
          <h5>LetsShave Pro Disposable Trimmer Shaving Razor for men</h5>
    
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star checked"></span>&nbsp;
              <span class="fa fa-star"></span>&nbsp;
              <span class="fa fa-star"></span>
              <br>
            <span class="review-no">41 reviews</span>
            <br> 
            <p>Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem
               sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
            <h2>CURRENT PRICE ₹299</h2>
            <b>Available Offers</b>
              <p><i class="fa fa-tag c" aria-hidden="true" ></i>&nbsp;&nbsp;<b>Bank Offer</b> Unlimited Cashback on Flipkart Axis Bank Credit Card T&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> ₹20 Off on first prepaid transaction using UPI payments, minimum order value ₹750/-T&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> 10% Off on HDFC Bank Mastercard Credit card first time transaction, Terms and Conditions Apply.T&C</p>
            
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b> Flat ₹100 off on first Flipkart Pay Later order of ₹500 & aboveT&C</p>
              <p><i class="fa fa-tag c" aria-hidden="true"></i>&nbsp;&nbsp;<b>Bank Offer</b>  10% Off on Bank of Baroda Mastercard debit card first time transaction, Terms and Condition applyT&C</p>
            </div>
      </div>
    </div>
    
    