<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>
<app-header></app-header>

<section class="pt-4 mt-5 pt-lg-5 mt-lg-5 mb-5">
  <div class="page-content page-container" id="page-content">
    <div class="padding container ">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12 col-md-12">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25"> <img src="../assets/images/faces/dummy-prod-1.jpg" class="img-radius"
                      alt="User-Profile-Image"> </div>
                      <h6 class="f-w-600">{{user.name}}</h6>
                      <div>
                        <button  class="btn btn-primary mt-3"(click)="Editprofile()">
                          <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16" ></i>
                          Edit Profile</button>
                      </div>
                  
                    <div>
                      <button  class="btn btn-primary mt-3" (click)="fogetpass()" >
                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16" ></i>
                        Change Pass</button>
                    </div>
                    <div>
                      <button  class="btn btn-primary mt-3" (click)="logout()">
                        Logout</button>
                    </div> 
                </div>
              </div>
              <div class="col-sm-8" *ngIf="!editProfile">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                  <div class="row">
                     <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">{{user.email}}</h6>
                    </div> 
                     <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">{{user.mobile}}</h6>
                    </div> 
                  </div>
                  <button (click)="edituser()" class="btn btn-primary mt-3" >
                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                   Address </button>
                  <!-- <div class="row">
                    <div class="col-sm-6">

                      <h6 class="text-muted f-w-400">{{user.address_line1}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <h6 class="text-muted f-w-400">{{user.address_line2}}</h6>
                    </div>
                  </div> -->
                  <ul class="social-link list-unstyled m-t-40 m-b-10">
                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="facebook" data-abc="true"><i
                          class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="twitter" data-abc="true"><i
                          class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="instagram" data-abc="true"><i
                          class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>



              <!-- Edit Details  -->
              <div class="col-sm-8" *ngIf="editProfile">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-content1">
                      <div class="tab-pane fade active show">
                        <div class="form-group row">
                          <div class="col-lg-12" >
                            <h5>User Details</h5>
                          </div>
                          <!-- <div class="col-lg-6 col-12">
                            <label>Upload profile picture</label>
                            <input type="file" class="form-control mb-2 mr-sm-2" />
                          </div> -->

                          <div class="col-lg-6 col-12">
                            <label>User Name</label>
                            <input type="text" [(ngModel)]="user.name" class="form-control mb-2 mr-sm-2"/>
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>Email ID</label>
                            <input type="text" [(ngModel)]="user.email" class="form-control mb-2 mr-sm-2" />
                          </div>

                          <div class="col-lg-6 col-12">
                            <label>Mobile number</label>
                            <input type="tel" [(ngModel)]="user.mobile" class="form-control mb-2 mr-sm-2" />
                          </div>
                          <!-- <div class="col-lg-12">
                            <hr>
                          </div>
                          <div class="col-lg-12">
                            <h5>Address </h5>
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>Adress line 1</label>
                            <input type="text" class="form-control mb-2 mr-sm-2"  />
                          </div>

                          <div class="col-lg-6 col-12">
                            <label>Adress line 2</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" />
                          </div>
                          <div class="col-lg-6 col-12">
                            <label>City</label>
                            <input type="text" class="form-control mb-2 mr-sm-2"/>
                          </div> 

                           <div class="col-lg-6 col-12">
                            <label>Landmark Description</label>
                            <input type="text" class="form-control mb-2 mr-sm-2"/>
                          </div>

                          <div class="col-lg-6 col-12">
                            <label>State</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" />
                          </div>

                          <div class="col-lg-6 col-12">
                            <label>Pin code</label>
                            <input type="number" class="form-control mb-2 mr-sm-2" />
                          </div> -->

                          <div class="col-lg-12 col-12 mt-2">
                            <button (click)="updateDetail()"  type="submit" class="
                        btn btn-primary btn-color btn-icon-text
                        form-control
                        mb-2">
                              <i class="mdi mdi-file-check btn-icon-prepend"></i>
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>