/* You can add global styles to this file, and also import other style files */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none!important;
}
body{
    font-family: 'Mukta', sans-serif;
   background-color: rgb(243, 217, 226);
}
.height{
      height: 48px!important;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.dropdown-toggle::after{
    display: none;
}
.heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin:10px 0 20px 0px;
    max-height: 5em;
    font-weight: 600;
}
.common-space {
    margin: 96px 0;
}
.a-color{
    color: #521852;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ddd;
    outline: 0;
    box-shadow: none;
}
.form-control{
   height: 2.875rem;
}
.alert{
    padding: 0;
}

@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.element {
  display: inline-block;
  background-color: #0074d9;
  color: white;
  text-align: center;
  opacity: .7;
  font-family: Verdana, sans-serif;
  border: 3px solid rgba(0,0,0,.3); 
  margin-bottom: 30px;
}
.two {
  transform: rotateY(40deg);
  animation: two 2s infinite;
  animation-direction: alternate;
  background-color: #831a4a;
}
@keyframes two {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cate-name {
    font-size: 21px;
    font-weight: 500;
    padding-top: 7px;
    color: #757575;
    font-family: auto;
}
.category img {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 100px;
    height: 55px;
}
@media (max-width: 480px){
.cate-name{
  font-size: 14px;
}
.cate-name {
    text-overflow: ellipsis;
    overflow: auto;
    text-overflow: clip;
}
.heading{
  font-size: 1em;
}
}

.category img {
    width: 100%;
}
//*****************************
// .slider {
//   width: 300px;
//   text-align: center;
//   overflow: hidden;
// }
.slider {
  -webkit-overflow-scrolling: touch;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
 scroll-snap-align: start;
    flex-shrink: 0;
    width: 54px;
  //  height: 280px; 
    margin-right: 19px;
   // border-radius: 10px; 
 //   background: #eee; 
 //   transform-origin: center center; 
 //   transform: scale(1); 
  //  transition: transform 0.5s; 
 //   position: relative; 
  //  display: flex; 
   // justify-content: center; 
   // align-items: center; 
    //font-size: 100px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.desk-category img {
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #ddd;
    padding: 0px;
    border-radius: 100px;
    height: 159px;
}
.desk-category {
    margin-bottom: 20px;
}
.homeSlider img{
  height: 400px;
}
@media (max-width: 480px) {
.homeSlider img{
  height: 300px;
}
}

   .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../src/assets/images/slider1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}
.form-control:focus{
  box-shadow: none!important;
}
.btn-color{
      background-color: #521852d9;
    border-color: #521852;
}
.btn-color {
    height: 48px;
}

//************************************************************************
/********************* Shopping Demo-4 **********************/

.product-grid4,
.product-grid4 .product-image4 {
  position: relative;
}
.product-grid4 {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 17px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
  border: 1px solid #ddd;
      margin-bottom: 15px;
}
.product-grid4:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-grid4 .product-image4 a {
  display: block;
}
.product-grid4 .product-image4 img {
    height: 130px;
    padding: 10px 10px 0;
    width: 100%;
}
.product-grid4 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid4:hover .pic-1 {
  opacity: 0;
}
.product-grid4 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}
.product-grid4:hover .pic-2 {
  opacity: 1;
}
.product-grid4 .social {
  width: 180px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}
.product-grid4 .social li {
  display: inline-block;
  opacity: 0;
  transition: all 0.7s;
}
.product-grid4 .social li:nth-child(1) {
  transition-delay: 0.15s;
}
.product-grid4 .social li:nth-child(2) {
  transition-delay: 0.3s;
}
.product-grid4 .social li:nth-child(3) {
  transition-delay: 0.45s;
}
.product-grid4:hover .social li {
  opacity: 1;
}
.product-grid4 .social li a {
  color: #222;
  background: #fff;
  font-size: 17px;
  line-height: 36px;
  width: 40px;
  height: 36px;
  border-radius: 2px;
  margin: 0 5px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid4 .social li a:hover {
  color: #fff;
  background: #16a085;
}
.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid4 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1;
}
.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
  opacity: 1;
}
.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all 0.3s;
}
.product-grid4 .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a;
}
.product-grid4:hover .product-new-label {
  opacity: 0;
}
.product-grid4 .product-content {
  padding: 10px 3px 6px;
}
.product-grid4 .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.product-grid4 .title a {
  color: #222;
}
.product-grid4 .title a:hover {
  color: #16a085;
}
.product-grid4 .price {
  color: #16a085;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block;
}
.product-grid4 .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
.product-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 2px 9px;
    color: #888;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.3s;
    background: #fff;
}
.product-grid4:hover .add-to-cart {
  border: 1px solid transparent;
  background: #16a085;
  color: #fff;
}
.product-grid4 .add-to-cart:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 990px) {
  .product-grid4 {
    margin-bottom: 30px;
    background: #f5f5f5;
  }
}

.category-heading{
      text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1em;
    margin: 10px 0 20px 0px;
    max-height: 5em;
    font-weight: 600;
}
.border-box{
  border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 40px;
}
.cat-name {
    position: absolute;
    top: -11px;
    background: #fff;
    padding: 0 6px;
}
//**********************************************************************