
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
  
<section class="login-wrapper">
<div class = "container">
    <div class = "row justify-content-center">
        <div class="col-md-4 ">
            <div class="login-form login-page">
             <h5>Complete your Sign up</h5>
               
              <form  class="mx-3 Register-input"  name="form" (ngSubmit)="f.form.valid && runMyAPI()" #f="ngForm"  novalidate>
                <div class="">
              <input type="text" #mobileNo="ngModel"   name="mobile" [(ngModel)]="user.mobile" class="form-control"  id="phone" placeholder="+91 | Mobile Number"    required  name="mobileNo" [ngClass]="{ 'is-invalid': f.submitted && mobileNo.invalid }">
              <span class="text-danger" *ngIf="mobileNo.invalid && f.submitted " >please enter mobile No. </span>
            </div>
            <div class="">
              <input type="password"  #password="ngModel"  name="password" [(ngModel)]="user.password"  class="form-control"  id="pwd" placeholder="Create Password"  required  name="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }">
              <span class="text-danger" *ngIf="password.invalid && f.submitted " >please enter valid password</span>
            </div>
            <div class="">
              <input type="text" #fullname="ngModel" name="userName" [(ngModel)]="user.name" class="form-control" id="fullName" placeholder="Full Name"   required  name="fullname" [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }">
              <span class="text-danger" *ngIf="fullname.invalid && f.submitted " >please enter fullname</span>
            </div>


            <div class="">
              <input type="text"  #email="ngModel"  name="email" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Email"   required  name="email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
              <span class="text-danger" *ngIf="email.invalid && f.submitted " >please enter email</span>
            </div>
            <!-- <div class="four"><input type="text" name="addr" [(ngModel)]="user.address" class="form-control" id="addr" placeholder="Address"></div> -->

            <div class=""> 
              <button type="submit" class="btn btn-primary">CREATE ACCOUNT </button>
            </div>
            <hr>
            <h6 routerLink="/signin">Have an Account? Log In Here</h6>
                <hr>
                 <h6 routerLink="/seller-reg"><span routerLink="/seller-reg"> Become a Seller </span></h6>
            
          </form>
                </div>
        </div>

    </div>
</div>
</section>  
