<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header>
<section class="login-wrapper">
  <div class = "container">
      <div class = "row  justify-content-center">
        <div class= "col-md-4">
          <div class="login-form login-page">
            <h5>Verify With Otp</h5>
           <form >
              <div class="form-group">
                  <input type="text" name="otp" name="otp" [(ngModel)]="otp"  class="form-control" id="verifyotp" placeholder="Otp" >
                  
                </div>
                
                  <button (click)="resendOtp()"  *ngIf="reSendButton" type="button" class="resendContainer btn btn-block">RESEND OTP</button>
                  <div class="card-body" *ngIf="!reSendButton">
            
                    <countdown   [config]="{ leftTime:timmer, format: 'mm:ss' }" (event)="handleEvent($event)" ></countdown>
        
                  </div>
            
              <button (click)="OtpVerify()" type="button" class="btn btn-block  btn-primary">Submit</button>
           
            </form>
          </div>
           
          </div>
        </div>
      </div>
  </section>
    <app-footer></app-footer>   
