
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
  <app-admin-navbar></app-admin-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>
    <!-- partial -->
    <div class="main-panel">
      <div class="container-fliud">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Cancel Order</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">List</h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div
                      id="order-listing_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                      
                      <div class="row">
                        <div class="col-sm-12">
                          <table
                            id="order-listing"
                            class="table dataTable no-footer"
                            role="grid"
                            aria-describedby="order-listing_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                  class="sorting_asc"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Order #: activate to sort column descending"
                                  aria-sort="ascending"
                                  style="width: 59.3906px"
                                >
                                  Sr.No
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Saller
                                </th>
                                  <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Product Name
                                </th> 
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Buyer
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Date
                                </th>
                                
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Base Price: activate to sort column ascending"
                                  style="width: 83.7188px"
                                >
                                  Price
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased Price: activate to sort column ascending"
                                  style="width: 126.906px"
                                >
                                  Cancel Status
                                </th>
                                <!-- <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased Price: activate to sort column ascending"
                                  style="width: 126.906px"
                                >
                                  Cancel Remarks
                                </th> -->
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Actions: activate to sort column ascending"
                                  style="width: 60.7344px"
                                >
                                  Actions
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr role="row" class="odd"     *ngFor="let rel of data;let i=index">
                                <td class="sorting_1">{{i+1}}</td>



                                <td>
                                <button (click)="selller(rel.product_id.seller_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                      data-target="#viewsellerAddress"
                    >View</button></td>
                                
                                <td>
                                  <button (click)="edit(rel.product_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                      data-target="#viewProduct"
                    >View </button>
                  </td>
                  <td>
                  <button (click)="address(rel.address_id)" type="button" class="btn btn-lg  btn-primary" data-toggle="modal"
                  data-target="#ViewBuyerAddress"
                >View </button></td>
                                <td>{{rel.createdAt  | date}}</td>
                                <td>{{rel.product_id.price}}</td>
                                <td>{{rel.orderStatus}}</td>
                                
                                  <img
                                    *ngIf="rel.image"
                                    [src]="rel.image[0].img_name"
                                  />
                                
                                
                                
                                
                                <td>
                                  <!-- <button class="btn btn-outline-primary btn-sm btn-rounded"> View  </button> <br> -->
                                  <button class="btn btn-danger btn-sm btn-rounded my-2"> Delete </button>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>


<div class="modal fade" id="ViewBuyerAddress">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Buyer Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <div class="address">
            <!--<table class="table table-borderless">
              
              <!-- <td>{{currentAddr.addressLine1}}</td>
              <td>{{currentAddr.addressLine2}}</td>
               -- >

              <tr><td>Address:   </td><td>{{currentAddr.addressLine1}}</td></tr>
              <tr><td>Address:    </td><td>{{currentAddr.addressLine2}}</td></tr>
              <tr><td>city:       </td><td>{{currentAddr.city}}</td></tr>
              <tr><td>fullname:   </td><td>{{currentAddr.fullName}}</td></tr>
              <tr><td>landmark:   </td><td>{{currentAddr.landmark}}</td></tr>
              <tr><td>mobile:    </td><td>{{currentAddr.mobile}}</td></tr>
              <tr><td>pincode:    </td><td>{{currentAddr.pinCode}}</td></tr>
              <tr><td>state:      </td><td>{{currentAddr.state}}</td></tr>
            



            </table>-->
            <td>
            Name : {{currentAddr.fullName}}<br>
            mobile: {{currentAddr.mobile}}<br>
             
            Address: {{currentAddr.addressLine1}},
             {{currentAddr.addressLine2}}, {{currentAddr.city}}  , {{currentAddr.landmark}}, {{currentAddr.pinCode}},
            
             {{currentAddr.state}}
           
           
           
           
          </td>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


        <div class="modal fade" id="viewProduct">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Product Details</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
              
                  <div class="address">
                   
                  <div class="container-fliud">
                    <div class="wrapper row">
                      <div class="preview col-md-4">
                        <div class="preview-pic tab-content">
                          <div class="tab-pane active" id="pic-1"><img src="{{currentImage}}" class="w-100" /> 



                            
                                </div>
                              </div>
                              </div>
            

                            <div class="details col-md-8">
                              <h3 class="product-title">{{product.productName}} </h3>
                              <div class="product-description"> <strong> Description: </strong><div  [innerHTML]="product.summery"> 
                                </div></div>
                              <h4 class="price"> <span>Rs. {{product.product_selling_price}}</span><small>&nbsp;&nbsp;<del>Rs. {{product.price}}</del>  {{product.product_price_parcentage}}% off</small> </h4>
                              <p class="vote text-success"><strong>(inclusive of all taxes)</strong></p>
                              <h6 class="sizes">Category: {{product.categoryName}}
                                <span class="size" data-toggle="tooltip" title="small"></span>
                              </h6>
                          </div>



                              
                              </div>
                            </div>
                    
                          </div>
                        
              </div>
            </div>
          </div>
        </div>



                            <div class="modal fade" id="viewsellerAddress">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Seller Address</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                      &times;
                                    </button>
                                  </div>
                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    <div>
                                      <div class="address">
                                        <td>
                                        Name : {{selrguser.name}}<br>
                                        mobile: {{selrguser.mobile}}<br>
                                        Email: {{selrguser.email}} <br>
                                        companyName: {{selrguser.companyName}}<br>
                                        Role: {{selrguser.role}} <br>
                                          pincode:{{selrguser.pinCode}}
              
                                      </td>

                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            