.bn img{
    width: 1350px;
    height: 400px;
}
@media (min-width: 310px) and (max-width: 470px){
    .bn img{
        width: 320px;
        height: 270px;
    }
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
}
.interior img {
    width: 160px;
    height: 160px;
}
@media (min-width: 310px) and (max-width: 470px){
    .interior img {
        width: 80px;
        height: 80px;
    } 
}