<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two bg-white">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header><br>

 <section >
  <div class="container ">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <form >
                    <h4 class="text-center">GET CLOSER TO YOUR DREAM HOME</h4>
                    <p class="text-center">Give Us Your Detail's , We'll Call Back</p>
                    <div class="form-group mr-3 ml-3">
                     
                      <input type="Name" class="form-control"   id="exampleInputName" aria-describedby="name" placeholder="Enter Full Name" name="username">
                      
                    </div>
                    <div class="form-group  mr-3 ml-3">
                      
                      <input type="email" class="form-control"   id="exampleInputEmail" placeholder="Email" name="email">
                    </div>
                    <div class="form-group  mr-3 ml-3">
                      
                      <input type="number" class="form-control"   id="exampleInputNumber" placeholder="Contact Number" name="number">
                    </div>
                    <div class="form-group mr-3 ml-3 ">
                      
                      <input type="city" class="form-control"   id="exampleInputCity" placeholder="City" name="city" >
                    </div>
                    <div class="text-center mr-3 ml-3 mb-2">
                      <button type="submit" class="btn btn-danger" >Book Free Consultation</button>
                     </div>
                  </form>
                </div>
          </div>
      </div>
  </div>
</section><br> 
<app-footer></app-footer>