<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>

<section class="pt-1 mt-1 pt-lg-5 mt-lg-5">
<div class="container-scroller mt-4">
  <!-- partial -->
  <div class="container">
    <!-- partial:partials/_sidebar.html -->
    <!-- partial -->
    <div class="row">
         
              <div class="col-md-12 col-xl-8">
                 <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                 <button (click)="addAddress = (!addAddress)"
                 class="
                      btn btn-primary btn-color btn-icon-text
                      form-control
                      mb-2
                     
                    " ><h5> Add Address </h5></button> 
                </div>
              </div>
            </div>
              <div *ngIf="addAddress" class="card">
                <div class="card-body">
                  <!-- <ul class="nav nav-pills nav-pills-success border-bottom pb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" 
                      >Address Add </a>
                    </li>
                   
                  </ul> -->
                  <div    class="tab-content1" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <form   name="form" (ngSubmit)="f.form.valid && add()"   #f="ngForm"  novalidate>
            
                       <div class="form-group row ">
                
                <div class="col-lg-6 col-12">
                  <label>Adress line 1</label>
                  <input
                    type="text" #Adress="ngModel" name="Adress" [(ngModel)]="Address.addressLine1"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Adress line 1"   required   [ngClass]="{ 'is-invalid': f.submitted && Adress.invalid }"
                  />
                  <span class="text-danger" *ngIf="Adress.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                <div class="col-lg-6 col-12">
                  <label>Adress line 2</label>
                  <input
                  type="text"  #Adressline2="ngModel"   name="Adressline2" [(ngModel)]="Address.addressLine2"
                  class="form-control mb-2 mr-sm-2"
                  id="inlineFormInputName2"
                  placeholder="Adress line 2"  required   [ngClass]="{ 'is-invalid': f.submitted && Adressline2.invalid }"
                />
                <span class="text-danger" *ngIf="Adressline2.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                <div class="col-lg-6 col-12">
                    <label>city</label>
                    <input
                    type="text"   #product="ngModel"  name="product" [(ngModel)]="Address.city"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="city"  required   [ngClass]="{ 'is-invalid': f.submitted && product.invalid }"
                  />
                  <span class="text-danger" *ngIf="product.invalid && f.submitted " >please enter  Product Name</span>
  
                  </div>
                
                <div class="col-lg-6 col-12">
                  <label>landmark Description</label>
                  <input
                    type="text" #landmark="ngModel" name="landmark"  [(ngModel)]="Address.landmark"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="landmark Description"   required   [ngClass]="{ 'is-invalid': f.submitted && landmark.invalid }"
                  />
                  <span class="text-danger" *ngIf="landmark.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                
                <div class="col-lg-6 col-12">
                  <label>state</label>
                  <input
                    type="text" #state="ngModel" name="state" [(ngModel)]="Address.state"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="state"   required   [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
                  />
                  <span class="text-danger" *ngIf="state.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                <div class="col-lg-6 col-12">
                  <label>Full Name</label>
                  <input
                    type="text" #fullName="ngModel" name="fullName" [(ngModel)]="Address.fullName"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="full Name"   required   [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }"
                  />
                  <span class="text-danger" *ngIf="fullName.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                <div class="col-lg-6 col-12">
                  <label>Pin code</label>
                  <input
                    type="number" #pinCode="ngModel" name="pinCode" [(ngModel)]="Address.pinCode"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="xxxxxx"   required   [ngClass]="{ 'is-invalid': f.submitted && pinCode.invalid }"
                  />
                  <span class="text-danger" *ngIf="pinCode.invalid && f.submitted " >please enter  Product Name</span>
  
                </div>
                <div class="col-lg-6 col-12">
                        <label>mobile number</label>
                        <input
                          type="number" #mobile="ngModel" name="mobile" [(ngModel)]="Address.mobile"
                          class="form-control mb-2 mr-sm-2"
                          id="inlineFormInputName2"
                          placeholder="xxxxxx"   required   [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                        />
                        <span class="text-danger" *ngIf="mobile.invalid && f.submitted " >please enter  Product Name</span>
  
                      </div>
               

              
                <div class="col-lg-6 col-12 mt-2">
                 
                  <button
                    type="submit" 
                    class="
                      btn btn-primary btn-color btn-icon-text
                      form-control
                      mb-2"  data-dismiss="modal"
                     
                    
                  >
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Add
                  </button>
                </div>
                       </div>
                      </form>
                    </div>
                 
                  </div>
                </div>
              </div>
              <!-- save address area -->
              <div  class="card mb-3" *ngFor="let rel of data; let i=index">
          <div class="card-body">
            <div class="row" >
              <!-- <div class="col-md-12">
                <h5>Address {{i+1}} :</h5>
              </div> -->
              <div class="col">
                <input type="radio" [checked]="(i === 0)" (click)="addressSelect(rel._id)" >
              </div>
              <div class="col-11 pl-0">
                <div class="address-save" >
                  <h6> {{rel.fullName}} </h6>
                  <p class="m-0 py-2">Address: {{rel.addressLine1}} , {{rel.addressLine2}} , {{rel.landmark}}
                    <span> {{rel.city}}, {{rel.state}} </span> 
                    <span> {{rel.pinCode}} </span> 
                  </p>
                  <p class=" py-2">Mobile: <span> {{rel.mobile}} </span></p>
                  <button (click)="RemoveAddress(rel._id)" class="btn btn-outline-secondary mr-2"> Remove </button>
                  <button (click)="edit(rel)"  data-toggle="modal" data-target="#editAddress"  class="btn btn-outline-secondary"> Edit </button>
                </div>
              </div>
            </div>
           
          
            
          </div>
          </div>
           <div  class="card mb-3">
             <div class="card-body">
               <button class="btn btn-link p-0 font-weight-bold" (click)="addAddress = true"
                style="color: #521852d9;"> Add new address </button>
             </div>
           </div>
          
              <!-- save address area end -->
            </div>
           
        </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  
 
</div>
</section>







<div class="modal fade" id="editAddress">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="tab-content1" id="pills-tabContent">
              <div
                class="tab-pane fade active show"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
              
              
                <div class="form-group row">
                  <div class="col-lg-6 col-12">
                    <label>Adress line 1</label>
                    <input [(ngModel)]="EditAddress.addressLine1"
                      type="text" 
                      name="addressLine1"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="Adress line 1"   
                    />
                    

                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Adress line 2</label>
                    <input
                      type="text"  [(ngModel)]="EditAddress.addressLine2"
                      name="addressLine2"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="Adress line 2"  
                    />
                    
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>city</label>
                    <input
                      type="text"  [(ngModel)]="EditAddress.city"
                      name="city"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="city" 
                    />
                    
                  </div>

                  <div class="col-lg-6 col-12">
                    <label>landmark Description</label>
                    <input
                      type="text"   [(ngModel)]="EditAddress.landmark"
                      name="landmark"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="landmark Description"  
                    />
                    
                  </div>

                  <div class="col-lg-6 col-12">
                    <label>state</label>
                    <input
                      type="text" 
                      name="state" [(ngModel)]="EditAddress.state"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="state" 
                    />
                   
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Full Name</label>
                    <input
                      type="text" 
                      name="fullName" [(ngModel)]="EditAddress.fullName"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="full Name"  
                    />
                    
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>Pin code</label>
                    <input
                      type="number" 
                      name="pinCode" [(ngModel)]="EditAddress.pinCode"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="xxxxxx"  
                    />
                   
                  </div>
                  <div class="col-lg-6 col-12">
                    <label>mobile number</label>
                    <input
                      type="number" 
                      name="mobile" [(ngModel)]="EditAddress.mobile"
                      class="form-control mb-2 mr-sm-2"
                      placeholder="xxxxxx" 
                    />
                    
                  </div>

                  <div class="col-lg-12 col-12 mt-2">
                    <button
                      type="submit" (click)=" updateAddress()"
                      class="
                        btn btn-primary btn-color btn-icon-text
                        form-control
                        mb-2
                      "
                      data-dismiss="modal"
                      
                    >
                      <i class="mdi mdi-file-check btn-icon-prepend"></i>
                      Update
                    </button>
                  </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>



            </div>
          </div>
        </div>
      </div>