<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
 <nav class="sidebar sidebar-offcanvas" id="sidebar" [ngClass]="{ active: globals.sidenav }" >
        <ul class="nav" >
          <li class="nav-item">
            <a class="nav-link" routerLink="/SalerProfile" (click)="sidenavClick()">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">My Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/SalerHome" (click)="sidenavClick()">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#sale" aria-expanded="false" aria-controls="sale">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Sale</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="sale">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/Sale">Sales</a></li>
                
              </ul>
            </div>
          </li>
         
           <li class="nav-item">
            <a class="nav-link" routerLink="/SalerProduct" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Products </span>
            </a>
          </li>
           
           <li class="nav-item">
            <a class="nav-link" routerLink="/seller-product-list" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Product List </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Recent-order" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"> Recent order </span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#sale" aria-expanded="false" aria-controls="sale">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">All Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="sale">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" routerLink="/SaleOrderCancel">All Orders</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="purchase">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Cancel Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="purchase">
              <ul class="nav flex-column sub-menu">
               
                <li class="nav-item"> <a class="nav-link" routerLink="/SaleReturn">Cancel Order</a></li>
              </ul>
            </div>
          </li>  
          <!--li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="purchase">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Reports </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="purchase">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=""> Reports</a></li>
                <li class="nav-item"> <a class="nav-link" href=""> Reports</a></li>
                <li class="nav-item"> <a class="nav-link" href=""> Reports </a></li>
              </ul>
            </div>
          </li-->
          <li class="nav-item">
            <a class="nav-link" href="" (click)="sidenavClick()">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span (click)="logout()" class="menu-title"> Logout </span>
            </a>
          </li>
        </ul>
 </nav>