<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>

<app-header></app-header>
<section class="pt-1 mt-1 pt-lg-4 mt-lg-5">
  <div class="image-aboutus-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lg-text">About Us</h1>
          <p class="image-aboutus-para">Welcome to Crafty Smile India</p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-text">
    <div class="aboutus-secktion paddingTB60">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="strong">Who we are and<br />what we do</h1>
            <p class="lead">
              This is the world's leading portal for<br />easy and quick
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              convallis egestas rhoncus. Donec facilisis fermentum sem, ac
              viverra ante luctus vel. Donec vel mauris quam.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              convallis egestas rhoncus. Donec facilisis fermentum sem, ac
              viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor
              sit amet. Nulla convallis egestas rhoncus.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-goals mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="goal text-center border rounded p-4">
              <h3 class="border-bottom pb-2">Building the future</h3>
              <p class="m-0">
                We strive to have a positive impact on customers, employees,
                small businesses, the economy, and communities. Amazonians are
                smart, passionate builders with different backgrounds and goals,
                who share a common desire to always be learning and inventing on
                behalf of our customers.
              </p>
            </div>
          </div>
           <div class="col-md-4 mb-3">
            <div class="goal text-center border rounded p-4">
              <h3 class="border-bottom pb-2">Building the future</h3>
              <p class="m-0">
                We strive to have a positive impact on customers, employees,
                small businesses, the economy, and communities. Amazonians are
                smart, passionate builders with different backgrounds and goals,
                who share a common desire to always be learning and inventing on
                behalf of our customers.
              </p>
            </div>
          </div>
           <div class="col-md-4 mb-3">
            <div class="goal text-center border rounded p-4">
              <h3 class="border-bottom pb-2">Building the future</h3>
              <p class="m-0">
                We strive to have a positive impact on customers, employees,
                small businesses, the economy, and communities. Amazonians are
                smart, passionate builders with different backgrounds and goals,
                who share a common desire to always be learning and inventing on
                behalf of our customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer> -->
