.col2{
    padding: 3px;
    margin: 3px;
   text-align: justify;
    display: flex;
    
}
.custom-card.card {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    border: none !important;
}
.custom-card.card .card-header {
    background-color: #fff;
    padding: 0px;
    border-bottom: 1px solid #ecf3fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.custom-card.card .card-header img {
    border-radius: 50%;
    margin-top: -100px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.custom-card .card-profile {
    text-align: center;
}
.custom-card {
    overflow: hidden;
    padding: 30px;
}
.custom-card .card-profile img {
    height: 150px;
    padding: 7px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.custom-card .card-social {
    text-align: center;
}
.custom-card .card-social li {
    display: inline-block;
    padding: 15px 0;
}
.custom-card .card-social li a {
    padding: 13px;
    color: #bcc6de;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-card .profile-details h6 {
    margin-top: 10px;
    color: rgba(43, 43, 43, 0.7);
    font-size: 14px;
}
