<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-scroller">
  <app-admin-navbar></app-admin-navbar>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-admin-side-navbar></app-admin-side-navbar>

    <!-- partial -->
    <div class="main-panel">
      <div class="container-fluid">
        <div class="row">
                    <div class="col-md-8"><div class="mr-md-3 mr-xl-5">
                  <h2>Vendor List</h2>
                </div> </div>
                    <div class="col-md-4"> 
                        <label for=""> Filter By:</label>
                         <select (change)="getdata($event.target.value)"   class="form-control" id="">
                       <option value='pending'> Pending</option>
                        <option value='accept'> accepted </option>
                        <option value='reject'> rejected </option>
                     </select>
                    </div>
                </div>

      
        <div class="col-12 grid-margin stretch-card px-0 mt-3">
          <div class="card">
           
              
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div
                      id="order-listing_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >

               




                      
                      <div class="row">
                        <div class="col-sm-12">
                          <table
                            id="order-listing"
                            class="table dataTable no-footer"
                            role="grid"
                            aria-describedby="order-listing_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                  class="sorting_asc"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Order #: activate to sort column descending"
                                  aria-sort="ascending"
                                  style="width: 59.3906px"
                                >
                                  Image
                                </th>
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Mobile
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Purchased On: activate to sort column ascending"
                                  style="width: 108.953px"
                                >
                                  Email
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Customer: activate to sort column ascending"
                                  style="width: 76.7656px"
                                >
                                  Vendor Name
                                </th>
                               
                               
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Status: activate to sort column ascending"
                                  style="width: 55.8125px"
                                >
                                  Status
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="order-listing"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Actions: activate to sort column ascending"
                                  style="width: 60.7344px"
                                >
                                  Actions
                                </th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let rel of data;let i=index">
                              <tr role="row" class="odd">
                                <td class="sorting_1">
                                  <img src="assets/images/faces/face1.jpg" alt="">
                                </td>
                                <td>{{rel.mobile}}</td>
                                <td>{{rel.email}}</td>
                                <td>{{rel.name}}</td>
                                <td>
                                  <label class="badge badge-info">{{rel.status}}</label>
                                </td>
                                <td>
                                  <button (click)="user = rel;sellerAddress = rel;getBank(rel._id)" class="btn btn-outline-primary mr-2"  data-toggle="modal" data-target="#myModal">
                                    Profile
                                  </button>
                                  
                                  <button *ngIf="rel.status != 'accept'"  (click)="updateuser(rel._id,'accept')" class="btn btn-success">
                                    Accept
                                  </button>
                                  <button *ngIf="rel.status != 'reject'" (click)="updateuser(rel._id,'reject')" class="btn btn-danger mx-2">
                                    Reject
                                  </button>
                                  <button class="btn btn-success mx-2" (click)="OpenSeller(rel._id)">
                                    Product
                                  </button>

                                </td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <app-admin-footer></app-admin-footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="user">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-10 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>My Profile</h2>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 grid-margin">
              <Button *ngIf="user.status != 'accept'"  (click)="updateuser(user._id,'accept')"  class="btn btn-success">Aproved</Button>
            </div>
            <div class="col-md-1 grid-margin">
              <Button *ngIf="user.status != 'reject'"  (click)="updateuser(user._id,'reject')" class="btn btn-danger">Reject</Button>
            </div>
          </div>
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-xl-4 box-col-6">
                    <div class="card custom-card">
                      <div class="card-header">
                        <img
                          class="img-fluid"
                          src="assets/images/auth/lockscreen-bg.jpg"
                          alt=""
                          data-original-title=""
                          title=""
                        />
                      </div>
                      <!-- <div class="card-profile">
                        <img *ngIf="!user.image"
                          class="rounded-circle"
                          src="assets/images/faces/dummy-prod-1.jpg"
                          alt=""
                          data-original-title=""
                          title=""
                        />
                        <img
                        class="rounded-circle" *ngIf="user.image"
                        [src]="user.image[0].img_name"
                        alt=""
                        data-original-title=""
                        title=""
                      />
                      </div> -->
                      <ul class="card-social">
                        <li>
                          <a href="#" data-original-title="" title=""
                            ><i class="fa fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" data-original-title="" title=""
                            ><i class="fa fa-google-plus"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" data-original-title="" title=""
                            ><i class="fa fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" data-original-title="" title=""
                            ><i class="fa fa-instagram"></i
                          ></a>
                        </li>
                      </ul>
                      <div class="text-center profile-details">
                        <h4>{{ user.name }}</h4>
                        <h6>{{ user.mobile }}</h6>
                        <h6>{{ user.email }}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-8 box-col-6">
                    <div class="card custom-card">
                      <div class="card-header" *ngIf="!editProfile">
                        <div class="row">
                          <div class="col"><h5>Profile Info</h5></div>
                          <div class="col text-right">
                            <button
                              class="btn btn-primary mb-2 btn-sm"
                              (click)="Editprofile()"
                            >
                              Edit
                            </button>
                          </div>
                          <div class="col text-right">
                            <button (click)="addbank()"
                              class="btn btn-primary btn-sm"
                              
                            >
                             Edit Bank 
                            </button>
                          </div>
                        </div>
  
                        <div class="address">
                          <table class="table table-borderless">
                            <tr>
                              Address:{{user.address_line1}}<br>
                              Address,2:{{user.address_line2}}<br>
                              City:{{user.city}}<br>
                              State:{{user.state}}<br>
                              Pincode:{{user.pinCode}}<br>
                                 
                            </tr>
                          </table>
                        </div>
                      </div>
                    
                        <div class="card-header" *ngIf="editProfile">
                        <div class="row">
                          <div class="col"><h5>Edit Profile</h5></div>
                          <div class="col text-right">
                            <button
                              class="btn btn-primary"
                              (click)="editProfile = (!editProfile)"
                            >
                              View
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="address">
                          <form  name="form" (ngSubmit)="f.form.valid && saveAddress()" #f="ngForm"  novalidate>
  
                          <div class="form-group row">
                           
                            <div class="col-lg-6 col-12">
                              <label>Full Name</label>
                              <input
                                type="text" name="name" [(ngModel)]="user.name"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="full Name"
                              />
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>mobile number</label>
                              <input
                                type="number" name="mobile" [(ngModel)]="user.mobile"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="xxxxxx"
                              />
                            </div>
                             <div class="col-lg-6 col-12">
                              <label>Email ID</label>
                              <input
                                type="text" name="email" [(ngModel)]="user.email"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="Email ID"
                              />
                            </div>
  
                            <div class="col-lg-12 col-12 mt-2">
                              <button
                                type="submit" (click)="updateDetail()"
                                class="
                                  btn btn-primary btn-color btn-icon-text
                                  form-control
                                  mb-2
                                "
                              >
                                <i
                                  class="mdi mdi-file-check btn-icon-prepend"
                                ></i>
                                Save
                              </button>
                            </div>
                            
  
                            <div class="col-lg-6 col-12">
                              <label>Adress line 1</label>
                              <input
                                type="text" #address_line1="ngModel"
                                [(ngModel)]="sellerAddress.address_line1" name="address_line1"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="Adress line 1" required   [ngClass]="{ 'is-invalid': f.submitted && address_line1.invalid }"
                              
                              />
                              <span class="text-danger" *ngIf="address_line1.invalid && f.submitted " >please enter Adress line 1 </span>
  
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>Adress line 2</label>
                              <input
                                type="text" #address_line2="ngModel" [(ngModel)]="sellerAddress.address_line2" name="address_line2"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="Adress line 2" required   [ngClass]="{ 'is-invalid': f.submitted && address_line2.invalid }"
                              />
                              <span class="text-danger" *ngIf="address_line2.invalid && f.submitted " >please enter Adress line 2</span>
                              
                            </div>
                            <div class="col-lg-6 col-12">
                              <label>city</label>
                              <input
                                type="text" #city="ngModel" [(ngModel)]="sellerAddress.city" name="city"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="city" required   [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                              />
                              <span class="text-danger" *ngIf="city.invalid && f.submitted " >please enter city </span>
  
                            </div>
  <!-- 
                            <div class="col-lg-6 col-12">
                              <label>Landmark </label>
                              <input
                                type="text"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="Landmark "
                              />
                            </div> -->
  
                            <div class="col-lg-6 col-12">
                              <label>state</label>
                              <input
                                type="text"  #state="ngModel"  [(ngModel)]="sellerAddress.state" name="state"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="state" required   [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
                              />
                              <span class="text-danger" *ngIf="state.invalid && f.submitted " >please enter state </span>
  
                            </div>
  
                            <div class="col-lg-6 col-12">
                              <label>Pin code</label>
                              <input
                                type="number" #pinCode="ngModel" [(ngModel)]="sellerAddress.pinCode" name="pinCode"
                                class="form-control mb-2 mr-sm-2"
                                placeholder="xxxxxx" required   [ngClass]="{ 'is-invalid': f.submitted && pinCode.invalid }"
                              />
                              <span class="text-danger" *ngIf="pinCode.invalid && f.submitted " >please enter Pin code</span>
  
                            </div>
  
                            <div class="col-lg-12 col-12 mt-2">
                              <button
                                type="submit" 
                                class="
                                  btn btn-primary btn-color btn-icon-text
                                  form-control
                                  mb-2
                                "
                              >
                                <i
                                  class="mdi mdi-file-check btn-icon-prepend"
                                ></i>
                                Save Address
                              </button>
                            </div>
                          
                          </div>
                        </form>
                        </div> 
                      </div>

                      <!-- bank detail -->
                      <div class="card-header" *ngIf="!bankdetail">
                        <div class="row">
                          <div class="col"><h5>Add Bank Details</h5></div><br>
                        </div> <br>
                       
                        <div class="address">
                          <form>
                            <div class="form-group row">
  
                              <div class="col-lg-6 col-12">
                                <label>Bank Name</label>
                                <input
                                  type="text"  [readonly]="readonlyDetails"  name="Name" [(ngModel)]="userBankDetails.bankName"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="full Name"
                                />
                              </div>
                              <div class="col-lg-6 col-12">
                                <label>Account Number</label>
                                <input
                                  type="number" [readonly]="readonlyDetails"  name="Account" [(ngModel)]="userBankDetails.accountNo"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="xxxxxx"
                                />
                              </div>
                              <div class="col-lg-6 col-12">
                                <label>IFSC Code</label>
                                <input
                                  type="text" [readonly]="readonlyDetails"  name="IFSC" [(ngModel)]="userBankDetails. ifscCode"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="text"
                                />
                              </div>
                              <div class="col-lg-6 col-12">
                                <label>Account Holder Name</label>
                                <input
                                  type="text" [readonly]="readonlyDetails"  name="AccountHolderName" [(ngModel)]="userBankDetails.accountHolderName"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="AccountHolderName"
                                />
                              </div>
                             
                              <div class="col-lg-6 col-12">
                                <label>UPI ID</label>
                                <input
                                  type="text" [readonly]="readonlyDetails"  name="UPI" [(ngModel)]="userBankDetails.upi1"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="xxxxxx"
                                />
                              </div>
                              <!-- <div class="col-lg-6 col-12">
                                <label>UPI ID</label>
                                <input
                                  type="text"   name="UPI" [(ngModel)]="userBankDetails.upi2"
                                  class="form-control mb-2 mr-sm-2"
                                  placeholder="xxxxxx"
                                />
                              </div> -->
                              <div class="col-lg-12 col-12 mt-2">
                                <button 
                                  type="submit" *ngIf="readonlyDetals" (click)="EditBankDetail()"
                                  class="
                                    btn btn-primary btn-color btn-icon-text
                                    form-control
                                    mb-2
                                  "
                                >
                                 
                                  Edit Details
                                </button>
                                <button
                                  type="submit" *ngIf="!readonlyDetals" (click)="updateBank()"
                                  class="
                                    btn btn-primary btn-color btn-icon-text
                                    form-control
                                    mb-2
                                  "
                                >
                          
                                  Save Details
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>



                      <!-- end Bank -->




                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>