<section>
<footer class="footer-section">
        <div class="container">
          
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="">
                                   <img src="assets/images/craftysmilelogos.png" alt="" class="img-fluid" />
                                </a>
                            </div>
                            <div class="footer-text">
                                <p></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <!-- <li><a href="#">About</a></li> -->
                                <li><a routerLink="/all-category">All Category</a></li>
                                <li><a routerLink="/seller-reg">Become seller</a></li>
                                <li><a routerLink="/Contact">Contact</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="footer-social-icon">
                        <span>Follow us</span>
                        <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                        <a href="#"><i class="fa fa-google google-bg"></i></a>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                           
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fa fa-telegram"></i></button>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, All Right Reserved | Design by <a href="http://dappsindia.in/" target="_blank">DApps</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a routerLink="seller-reg">Become Seller</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>


   