// .nav-pills-success .nav-link.active {
//     background: #71c016;
// }
// .nav-pills-success .nav-link {
//     color: #71c016;
// }
// .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//     color: #fff;
// }
.cart-table{
    tr{
        td{
            padding: 12px 1px;
        }
        td:last-child{
            text-align: right;
        }
    }
}
.tab-content1 input, .btn-color {
    height: 48px;
}