<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="element two">
    <img src="assets/images/logo.png" alt="" class="roting" />
  </div>
  <h1>&nbsp;</h1>
</ngx-spinner>
<app-header></app-header>
<section class="pt-1 mt-1 pt-lg-3 mt-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5 mb-0 pt-5 pt-lg-0">
        <h4 class="heading">Product</h4>
      </div>
    </div>
    
      <div class="row  mb-5 " >
        <div class = "col-md-2 col-sm-6 col-6" *ngFor="let rel of data">
          <div class="product-grid4" >
            <div class="product-image4">
              <a  (click)="productview(rel._id)">
                
                <img *ngIf="rel.image[0]" [src]="rel.image[0].img_name"  width="50px" height ="50px"/>
                      </a>
        </div>

        <h3 class="title">
          <a routerLink="/Product-View">{{rel.productName}}</a>
          </h3>
          <div class="price">
            {{rel.price}} <small><del>Rs. {{rel.original_price}}/-</del></small>
              </div>
      <a (click)="addcart(rel._id)" class="add-to-cart" >ADD TO CART</a>


      </div>
        </div>
      </div>
    
  </div>
</section>
<app-footer></app-footer>
