 <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="http://dappsindia.in/" target="_blank">DApps</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">DApps <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->